Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[NDR-173] Retrieve E2e Tests
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/helpers/lloyd_george_data_helper.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Test to see if converting just the test value to str resolves warning
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverted bool to string change
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Upgrade polars and check if it fixes warnings
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
Due: none

Upgraded to latest
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
Due: none

Renamed deprecated assert_frame_equal to check_dtypes
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove extra var
  lambdas/tests/e2e/api/test_retrieve_document_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverted changes
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Upgrade polars
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
Due: none

Rename check_dtype to check_dtypes
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Changes how=outer_coalesce to how='full', coalesce=True
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Attempt to fix the expected string but got bool warning
  lambdas/models/document_reference.py
  lambdas/models/stitch_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-534] Fix Workflow Failure in Smoke Tests (#711)
  .github/workflows/base-cypress-smoketest.yml
Due: none

[PRMT-523]- trying simple migration
  lambdas/scripts/dynamodb_migration_20250731.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-79] WIP changes to cdr and authoriser lambda handlers and services to cover some ACs
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/exceptions.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-79] WIP non-pdf responses
  lambdas/handlers/create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-79] WIP Refactor cdm tests for existing or currently uploading lgrs
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-173] Refactor Data Helper
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-173] Additional Refactoring
  lambdas/tests/e2e/api/test_search_patient_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-173] Recreate snapshots
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
Due: none

[NDR-173] PR Comments
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/conftest.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-173] Retrieve E2e Tests (#712)
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/conftest.py
  lambdas/tests/e2e/helpers/lloyd_george_data_helper.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Undid ESlint upgrade
  app/package-lock.json
  app/package.json
Due: none

[PRM-429] package-lock
  app/package-lock.json
Due: none

[PRM-429] eslint upgrade, again
  app/package.json
Due: none

[PRM-429] npm package upgrades
  app/package-lock.json
  app/package.json
Due: none

[PRME-71] Refactor DocumentSelectOrderStage component and tests for improved error handling and validation logic
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Implement choose files page (#704)
  app/.prettierignore
  app/.prettierrc
  app/package.json
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/styles/App.scss
  app/src/styles/index.css
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-79] refactor auth service lambda; handle errors
  lambdas/enums/lambda_error.py
  lambdas/handlers/authoriser_handler.py
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds assert to Lloyd George View Record test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changes from comments on the PR
  lambdas/models/document_reference.py
  lambdas/models/stitch_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fixed lloydgeorge tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changed the test to use stitch mock data instead of document reference data
  lambdas/models/document_reference.py
  lambdas/models/stitch_trace.py
  lambdas/tests/unit/helpers/data/test_stitch_trace.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-523]- added some migrations
  lambdas/scripts/dynamodb_migration_20250731.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated NHS Number to correct format
  lambdas/tests/unit/helpers/data/test_stitch_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-115] Patient Summary Changes
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix component reference in DocumentSelectOrderStage test
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Resolve Linting and unused imports issues
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add deceased tag display for deceased patients in PatientSummary component
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Refactor PatientSummary Child subcomponent implementing a generic pattern inline with NHS component standards
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
