Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1518] add server token block to end
  app/docker/nginx.conf
Due: none

[PRMP-1522-UI] ammend getPresignedURLForZip
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1522-UI] fix test
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1518] try to remove the server header entirely
  app/Dockerfile
  app/docker/nginx.conf
Due: none

[PRMP-1518] change package
  app/Dockerfile
Due: none

[PRMP-1518] try again
  app/Dockerfile
Due: none

[PRMP-1518] remove extra command in docker
  app/Dockerfile
Due: none

[PRMP-1518] istall package and load modules
  app/Dockerfile
  app/docker/nginx.conf
Due: none

[PRMP-1518] remove command dockerfile
  app/Dockerfile
Due: none

[PRMP-1518] sticking with just having the version number removed
  app/Dockerfile
  app/docker/nginx.conf
Due: none

[PRMP-1518] remove extra line at top of file
  app/docker/nginx.conf
Due: none

[PRMP-1522-UI] add params to uploadDocuments and uploadDocumentState
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1518] remove extra line
  app/docker/nginx.conf
Due: none

[PRMP-1522-UI] add arg to upload documents page
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1518] ammend comment to be reflective of what is happening
  app/docker/nginx.conf
Due: none

[PRMP-1518] Hide server version (#538)
  app/docker/nginx.conf
Due: none

[PRMP-1517] change allowed nhs numbers list default
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix asserts
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] refactor
  lambdas/handlers/authoriser_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] add more unit tests for auth service
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] add unit tests for auth service
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix dynamo update key pair change failing tests
  lambdas/scripts/batch_update_ods_code.py
  lambdas/scripts/dynamodb_migration_20240618.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add unit tests to search patient handler and service for new auth changes
  lambdas/services/authoriser_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/handlers/test_search_patient_details_handler.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] change logic of allowed nhs numbers
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] fix unit tests
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] add unit tests
  lambdas/handlers/authoriser_handler.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] deny resource when nhs number is not present
  lambdas/handlers/authoriser_handler.py
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1517] initial commit
  lambdas/services/search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

search lambda checks and writes to auth session table
  lambdas/handlers/search_patient_details_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1527] add_headers to location block
  app/docker/nginx.conf
Due: none

[PRMP-1517] addressing PR comments
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1527] remove duplicated code
  app/docker/nginx.conf
Due: none

[PRMP-1517] Change to auth service checks (#539)
  lambdas/handlers/authoriser_handler.py
  lambdas/handlers/search_patient_details_handler.py
  lambdas/scripts/batch_update_ods_code.py
  lambdas/scripts/dynamodb_migration_20240618.py
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/handlers/test_search_patient_details_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1522] Auth changes to upload and manifest journey Co-authored-by: steph-torres-nhs <stephane.torres1@nhs.net>
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/models/test_zip_trace.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1527] adjust headers
  app/docker/nginx.conf
Due: none

[PRMP-1522] fixing cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1522] Auth changes to upload and manifest journey (#540)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/models/test_zip_trace.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1527] Add Cache-Control headers (#541)
  app/docker/nginx.conf
Due: none

[PRMP-1523] remove duplicate DocumentReference in test
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1523] deny access to pcse roles on paths
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
