Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-193] Fix script execution when opening pdf's in new tab
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/helpers/utils/pdfMerger.test.ts
  app/src/helpers/utils/pdfMerger.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-143] E2e Tests System Snapshot Update
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
Due: none

[PRME-194] Add auth handling for Feedback lambda
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-194] Add auth handling for Feedback lambda (#753)
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-210] adding PCSE ods code to custodian
  lambdas/services/bulk_upload_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-173] Update Bulk Order Upload Process to clear LG stitch table
  lambdas/requirements/requirements_test.txt
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

changes to make ruff.toml update work
  lambdas/models/access_audit.py
  lambdas/ruff.toml
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

initial implementation of error component in feedback page
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-429] npm package upgrades - 2025-07 (#703)
  app/package-lock.json
  app/package.json
Due: none

[PRM-453] Update actions/checkout to version 5 (#751)
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-data-collection.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-e2e-backendtest.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/base-vitest-test.yml
  .github/workflows/codeql.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/git-rename-tag.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/sonarcloud-analysis.yml
  .github/workflows/subscribe-to-mns.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

[PRM-452] Fixing SonarCloud Issues - Tranche 1 (#733)
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  lambdas/enums/lambda_error.py
  lambdas/services/base/s3_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-187] Update logs formatter, add nhs correlation id (#750)
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/utils/decorators/set_audit_arg.py
  lambdas/utils/logging_formatter.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-574 - updated run bulk upload script to trigger v2 bulk upload lambda
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-150] Ready for Demo
  .gitignore
Due: none

Delete lambdas/tests/e2e/performance/data/upload_data.csv
  lambdas/tests/e2e/performance/data/upload_data.csv
Due: none

PRMT-574 - updated lambda deploy to update V2 lambda code
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMT-466] add workspace as an env var to lambda
  lambdas/handlers/im_alerting_handler.py
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring ErrorBox component to be generic
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-174] Fix Tests
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-203] API Login Tests (#719)
  .github/workflows/base-e2e-backendtest.yml
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/api/test_login_api.py
  lambdas/tests/e2e/helpers/lloyd_george_mockcis2_helper.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove update to Status (#742)
  lambdas/services/document_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-193] Removing Splunk (#731)
  lambdas/handlers/mocks/token_handler.py
  lambdas/handlers/token_handler.py
  lambdas/requirements/requirements_test.txt
  lambdas/services/document_manifest_job_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/services/sensitive_audit_service.py
  lambdas/tests/unit/conftest.py
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor generic errorBoxErrorMessage and groupErrorsByType
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/genericErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

move the generic page error types to a separate file
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/genericErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
  app/src/types/pages/genericPageErrors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

format code
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/genericErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/genericPageErrors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-466] add testing to alerting service
  lambdas/services/im_alerting_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_im_alerting.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-466] add test templates for alerting lambda
  lambdas/tests/unit/helpers/data/mock_slack_alert.json
  lambdas/tests/unit/helpers/data/mock_teams_alert.json
  lambdas/tests/unit/services/test_im_alerting.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix and extend e2e tests for feedback page (errorbox)
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

refactor errorMessageList on feedback page
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

extend UT to cover for error box component
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-466] continue testing of alerting service
  lambdas/services/im_alerting_service.py
  lambdas/tests/unit/services/test_im_alerting.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-574 - updated workflow to give the user the option of which BulkuploadProcess to use
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-466] more tests added to service
  lambdas/tests/unit/services/test_im_alerting.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-574 - updated yml
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

[PRME-221] Update pdfjs worker script and add move file script
  Makefile
  app/.gitignore
  app/Dockerfile
  app/package-lock.json
  app/public/pdf.worker.mjs
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMT-574 - added argument
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-574 - added argument
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
