Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Changes layout props to be readonly
  app/src/components/layout/Layout.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1367] add missing unit tests
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] change unit tests name
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] add checks in unit tests
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] add unit test in bulk upload service
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] resolve soner cloud issue
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fixes ambiguous spacing in Remove Record and Privacy Policy pages
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1363] New footer link - Help and guidance (#513)
  app/src/components/layout/footer/Footer.test.tsx
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1284] Add NRL pointer creation to upload document journey (#497)
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] bug fix on NRL audit logs (#522)
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

move download remove links from side to above record, inline patient details, long names have a new line, remove search with ctl + f
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

prettier
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1367] fix issue when a name is a empty string
  lambdas/models/pds_models.py
  lambdas/services/mock_data/pds_patient_9000000104_M85143_gp_given_name_with_whitespace.json
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prettier
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1367] PR changes
  lambdas/handlers/bulk_upload_handler.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] fix for empty given name bug
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] function name change
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove setuptools from requirements
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

PRMP-1367 remove example given name
  lambdas/services/mock_data/pds_patient_9000000104_M85143_gp_given_name_with_whitespace.json
Due: none

PRMP-1367 LG Name validation change (#517)
  lambdas/enums/feature_flags.py
  lambdas/enums/validation_score.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/mock_data/pds_patient_9000000003_H85686_gp.json
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_bulk_upload_handler.py
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
  lambdas/utils/unicode_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1463] Remove setuptools from requirements (#527)
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

[PRMP-1126] refactor script
  lambdas/scripts/batch_nrl_create_pointer.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1126] update script
  lambdas/scripts/batch_nrl_create_pointer.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1126] add filter
  lambdas/scripts/batch_nrl_create_pointer.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

changes meta tags in index.html to new content
  app/public/index.html
Due: none

changes title and description for index.html to new content
  app/public/index.html
Due: none

test
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update pre-prod workflow to handle version input
  .github/workflows/full-deploy-to-pre-prod.yml
Due: none

Update full, ui and lambdas pre-prod workflows with version change
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
Due: none

test
  app/pdfjs/custom_viewer.css
  app/pdfjs/setup_pdfjs.py
  app/public/pdfjs/build/generic/web/viewer.css
  app/public/pdfjs/build/generic/web/viewer.mjs
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

test
  app/pdfjs/custom_viewer.css
  app/public/pdfjs/build/generic/web/test.pdf
  app/public/pdfjs/build/generic/web/viewer.css
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Makes changes to feedback page
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1487] updates to lg validator
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1487] fix test
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove unnecessary import
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnecessary imports
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnecessary imports
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1502] update status codes
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Formatting
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update lambda edge script
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
