Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1580] Added GitHub Action to deploy OAuth token lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1580] Refactored get_new_access_token to separate methods
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PR comments
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/components/generic/backButton/BackButton.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement deceased patient tag and warning message
  app/cypress/e2e/0-ndr-core-tests/download_lloyd_george_summary.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix sonar issue
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1468] Implement deceased patient tag and warning message (#577)
  app/cypress/e2e/0-ndr-core-tests/download_lloyd_george_summary.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1688] Update role session when expire
  lambdas/services/base/iam_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1580] Lambda error handling
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1580] Lambda method renaming and logic rearranging
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/services/base/test_nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1691] - Update sonarqube github action to v5
  .github/workflows/sonarcloud-analysis.yml
Due: none

[PRMP-1580] renaming get_new_access_token
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/services/base/test_nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add missing PCSE changes
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix cypress tests
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1688] Update role session when expire (#576)
  lambdas/services/base/iam_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1695] - Update NSD contact number
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1601] New AccessAudit lambda (#571)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/access_audit_request_type.py
  lambdas/enums/deceased_access_reason.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/access_audit_handler.py
  lambdas/models/access_audit.py
  lambdas/services/access_audit_service.py
  lambdas/services/authoriser_service.py
  lambdas/services/manage_user_session_access.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/enums/test_access_audit_request_type.py
  lambdas/tests/unit/handlers/test_access_audit_handler.py
  lambdas/tests/unit/models/test_access_audit.py
  lambdas/tests/unit/services/test_access_audit_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
  lambdas/tests/unit/utils/test_multi_value_enum.py
  lambdas/utils/lambda_exceptions.py
  lambdas/utils/multi_value_enum.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add handler and service for pds stitching lambda
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/document_reference.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/report/bulk_upload_report.py
  lambdas/models/report/bulk_upload_report_output.py
  lambdas/models/report/statistics.py
  lambdas/models/sqs/mns_sqs_message.py
  lambdas/models/sqs/nrl_sqs_message.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/data_collection_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/statistical_report_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_data_build_utils.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/decorators/validate_sqs_message_event.py
  lambdas/utils/lambda_exceptions.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

rebase and refactor file structure
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/models/sqs/pdf_stitching_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

add rollback tests and cleanup
  lambdas/models/document_reference.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add unit tests for NRL and PR change to reset request context on error
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix env vars and missing dynamo record attribute
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add test case for stream based stitching
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update handlers and service testst
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix github SHA issue
  Makefile
Due: none

update 1of1 check
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add check for non-LG journey and fix table bug
  lambdas/services/base/dynamo_service.py
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add rollback function and raise exception functionality to stitching process
  .github/workflows/lambdas-deploy-to-prod.yml
  .github/workflows/ui-deploy-to-prod-manual.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/document_reference.py
  lambdas/models/sqs/pdf_stitching_sqs_message.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/token_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove ods code from reference migration to unstitched table
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix rebase issue
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed isBsol from session attributes
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Implement new PDF viewer fullscreen
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/progressBar/ProgressBar.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/components/layout/Layout.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/sessionProvider/SessionProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1581] Adding deceased cloudwatch query
  lambdas/handlers/access_audit_handler.py
  lambdas/models/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1581] fix unit test
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removes storybook creation from make file
  Makefile
Due: none

removes storybook packages
  app/package-lock.json
  app/package.json
Due: none

Removes storybook folder
  app/.storybook/main.ts
  app/.storybook/preview.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes storybook files from generic components
  app/src/components/generic/backButton/BackButton.story.ts
  app/src/components/generic/patientSimpleSummary/PatientSummary.story.tsx
  app/src/components/generic/patientSummary/PatientSummary.story.tsx
  app/src/components/generic/spinner/Spinner.story.tsx
  app/src/components/generic/spinnerButton/SpinnerButton.story.tsx
  app/src/components/generic/warningText/WarningText.story.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes remaining story files
  app/src/components/layout/Layout.story.tsx
  app/src/components/layout/errorBox/ErrorBox.story.ts
  app/src/components/layout/header/Header.story.tsx
  app/src/components/layout/navLinks/NavLinks.story.tsx
  app/src/components/layout/serviceErrorBox/ServiceErrorBox.story.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.story.tsx
  app/src/pages/feedbackPage/FeedbackPage.story.tsx
  app/src/pages/patientResultPage/PatientResultPage.story.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.story.tsx
  app/src/pages/roleSelectPage/RoleSelectPage.story.tsx
  app/src/pages/startPage/StartPage.story.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.story.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
