Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-576]- adjustments to allow correctly using corrections variable from the queue
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- added closing quotes
  lambdas/services/bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-466] Create alarm for old messages in the queue (#748)
  lambdas/handlers/im_alerting_handler.py
  lambdas/services/im_alerting_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/mock_slack_alert.json
  lambdas/tests/unit/helpers/data/mock_teams_alert.json
  lambdas/tests/unit/services/test_im_alerting.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - updated validate metadata, added dynamo reporting for failures.
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - removed unused import
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Replace metadata filename arguments from functions with constant
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Fix metadata.csv file location copy
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442/PRM-459] use ods code rather than email to verify ITOC user
  lambdas/handlers/send_feedback_handler.py
  lambdas/services/send_test_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/services/test_send_test_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove timeout and fix tests
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-237] Use Json Snapshots for API Testing
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_large_file.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_no_file_found.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_preliminary_file.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_small_file.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_invalid_patient.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_multiple_cancelled_search_patient_details.1.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_multiple_cancelled_search_patient_details.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_no_records.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_search_patient_details.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_base64.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_base64.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_presign.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_presign.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_virus.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_virus.json
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/api/test_upload_document_api.py
  lambdas/tests/e2e/conftest.py
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-223] Fix upload prototype discrepancies (#765)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/helpers/utils/formatDate.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-237] Use Json Snapshots for API Testing (#769)
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_large_file.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_no_file_found.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_preliminary_file.json
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api/test_small_file.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_invalid_patient.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_multiple_cancelled_search_patient_details.1.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_multiple_cancelled_search_patient_details.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_no_records.json
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api/test_search_patient_details.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_base64.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_base64.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_presign.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_presign.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_virus.1.json
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api/test_create_document_virus.json
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/api/test_upload_document_api.py
  lambdas/tests/e2e/conftest.py
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-391] Fix python warnings (#705)
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/test_stitch_trace.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Move pre-processor unit tests to cover V2
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Remove redundant pytest fixtures
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442/PRM-459] remove raising error on ITOC test feedback failure, ensure both email IM jounrey happen
  lambdas/enums/lambda_error.py
  lambdas/handlers/send_feedback_handler.py
  lambdas/services/send_test_feedback_service.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/services/test_send_test_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-139] Practice - Patient ODS mismatch error update (#764)
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-370] address PR comments
  app/cypress/support/aws.commands.ts
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-370] formatting
  app/cypress/support/aws.commands.ts
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/helpers/utils/formatPatientFullName.test.tsx
  app/src/helpers/utils/formatPatientFullName.ts
  app/src/helpers/utils/pdfMerger.test.ts
  app/src/helpers/utils/pdfMerger.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-370] remove unused import
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-370] NDR aws-sdk upgrade from v2 to v3 (#739)
  app/.eslintrc
  app/cypress/support/aws.commands.ts
  app/cypress/support/aws.config.ts
  app/cypress/support/commands.d.ts
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/helpers/utils/formatPatientFullName.test.tsx
  app/src/helpers/utils/formatPatientFullName.ts
  app/src/helpers/utils/pdfMerger.test.ts
  app/src/helpers/utils/pdfMerger.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-602] More verbose logging on script
  tests/scripts/disable_fhir_stub.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add numeric ordering functionality for document selection and update styles for better accessibility
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-459/PRM-442] address PR comments
  lambdas/handlers/send_feedback_handler.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] add validation for bulk upload run
  lambdas/tests/e2e/bulk_upload/__init__.py
  lambdas/tests/e2e/bulk_upload/test_bulk_upload_300_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] adding validation for bulk upload run
  lambdas/tests/e2e/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] adding github workflow for bulk upload validation
  .github/workflows/bulk-upload-300-test.yml
  Makefile
Due: none

[PRMT-542] update workflow
  .github/workflows/bulk-upload-300-test.yml
Due: none

[PRMT-542] add default environment
  .github/workflows/bulk-upload-300-test.yml
Due: none

[PRMT-542] makefile
  Makefile
Due: none

[PRMT-542] spacing
  lambdas/tests/e2e/bulk_upload/test_bulk_upload_300_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] clearer naming of test
  lambdas/tests/e2e/bulk_upload/test_bulk_upload_300_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add happy-dom as vitest env
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-601] add pre_process format type
  lambdas/enums/lloyd_george_pre_process_format.py
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] move formatting logic to a new service
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] moving tests for new service
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor: clean up imports and improve code formatting across multiple files
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] move remaining static methods to utils and update tests
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] move `extract_patient_name` logic to utils and update references
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] moving static method to utils
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
