Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] update jinja and werkzeug versions
  lambdas/requirements.txt
Due: none

Add remove files view
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRemoveRecordStage/LloydGeorgeRemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[UPDATE-PYTHON-PACKAGES)] update jinja and werkzeug versions
  lambdas/requirements.txt
Due: none

Standardise remove stages
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.test.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/blocks/_feedback/feedbackConfirmation/FeedbackConfirmation.test.tsx
  app/src/components/blocks/_feedback/feedbackConfirmation/FeedbackConfirmation.tsx
  app/src/components/blocks/_feedback/feedbackForm/FeedbackForm.test.tsx
  app/src/components/blocks/_feedback/feedbackForm/FeedbackForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientDetails/PatientDetails.story.tsx
  app/src/components/generic/patientDetails/PatientDetails.test.tsx
  app/src/components/generic/patientDetails/PatientDetails.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

refactoring document search wip
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/DocumentSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/types/generic/searchResult.ts
  app/src/types/pages/documentSearchResultsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add checkbox functionality
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/DocumentSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/types/generic/searchResult.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix unit tests for patient info
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add remove record stage results
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add real results render
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add func to buttons in download screen
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/searchResult.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add isBSOL check
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] tidy up spike lambda for packaging
  lambdas/handlers/data_collection_handler.py
  lambdas/models/cloudwatch_logs_query.py
  lambdas/models/statistics.py
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-855] minor fix
  lambdas/handlers/data_collection_handler.py
  lambdas/models/statistics.py
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update progress bar
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

change remove state components
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] fix download LG e2e
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add dependency to useEffect
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update spacing styleguide
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/generic/linkButton/LinkButton.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

more style
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

change order of style
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

typo in style
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMDR-803] add wait to e2e to try to fix pipeline issue
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] add method to deserialise statistic data from dynamodb response
  lambdas/models/statistics.py
  lambdas/tests/unit/helpers/data/statistic_data.py
  lambdas/tests/unit/models/test_statistics_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

change doc list to accept document generic type
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/generic/documentsListView/DocumentsListView.test.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/types/generic/genericDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] Add cloudwatch logs query for LG document stored
  lambdas/models/cloudwatch_logs_query.py
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-855] minor fix
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] fix issues and add conditions for document complete stage text WIP
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] update download submission for all files selected
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] refactor and remove now unused return to medical record button
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

routing re configurations
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/blocks/lloydGeorgeActions.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] remove unused props
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

make build fixes
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

store current progress of reporting lambda
  lambdas/handlers/statistical_report_handler.py
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

minor fix
  lambdas/handlers/statistical_report_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

bugfix: take account of s3 versioning when calculating total size
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] fix unit tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/generic/documentsListView/DocumentsListView.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] remove unused imports
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] Change the way to calculate record file size (only count active record in dynamodb)
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] WIP - fix e2e
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
