Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Added act back into LloydGeorgeDownloadStage.test
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-300] Remove build warnings (#673)
  app/package-lock.json
  app/package.json
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Uncommented hidden test
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removed unused act imports
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adding act to the LloydGeorgeRecordPage
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Added act around renderer
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fixed failing rendering on the test
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Revert "[PRMT-70] Improve efficiency of LG retrieval (#644)"
  app/docker-compose.yml
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/base/s3_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added await to renderPage
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updated cypress/grep, axios, dotenv and pdfjs viewer
  app/package.json
Due: none

Removed problematic text
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement upload documents prototype
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/pdf-viewer.css
  app/public/pdf.worker.mjs
  app/react-environment-config.sh
  app/src/assets/fonts/bold-affa96571d-v2.woff
  app/src/assets/fonts/bold-b542beb274-v2.woff2
  app/src/assets/fonts/light-94a07e06a1-v2.woff2
  app/src/assets/fonts/light-f591b13f7d-v2.woff
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/generic/pagination/Pagination.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/index.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/routes.ts
  app/src/types/generic/selectRef.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] missing filter in tests
  lambdas/tests/unit/services/test_upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- fixed stiching file ovewritting a file
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- updated test to reflect correct file name
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- updated test to test bucket name
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fixed all of the act warnings on the unit tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] update file key
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] pre-fixing fhir id with snomed code
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fixed the other stderr out warnings
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/layout/Layout.test.tsx
  app/src/helpers/requests/downloadReport.test.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-70] Improve efficiency of LG retrieval (#675)
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] move nhs number validation
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435] Stitching manual trigger doesn't add all records to queue (#671)
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/services/document_service.py
  lambdas/services/mock_pds_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_sqs_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_mock_pds_api_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/sqs_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removed a unused act and reverted check has been called 3 times to 1
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/layout/navLinks/NavLinks.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRME-54: Add documentation contributions
  README.md
  app/README.md
  docs/document-upload-authorization-process-flow.md
  docs/national-document-repository-api-spec.md
  lambdas/README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRME-54] Add comprehensive repository best practices documentation
  docs/national-document-repository-api-spec.md
  docs/repository-best-practices.md
  lambdas/README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Removed unused comment
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update README.md
  lambdas/README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[NDR-158] remove upload complete check by default
  lambdas/handlers/document_reference_search_handler.py
  lambdas/handlers/fhir_document_reference_search_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/handlers/test_fhir_document_reference_search_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] set uploaded to true after vs check
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

create lambdat for teams alerting
  lambdas/handlers/teams_alert_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-160] Remove the list of requested fields when querying a table
  lambdas/enums/metadata_field_names.py
  lambdas/services/document_service.py
  lambdas/tests/unit/enums/test_metadata_field_names.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

change template of message card
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adjust colouring for alarm state change
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add env var
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add a couple of log messages
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

ammend request
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRM-134 use python title method
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRM-134 add placeholder url for action
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
