Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

PRMP-1292 fix broken cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1239
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1074] - Return to patient search if nhsNumber missing when downloading files
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

for pr
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/layout/phaseBanner/PhaseBanner.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] add opertion outcome model
  lambdas/enums/fhir/__init__.py
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/fhir/fhir_resource_message_types.py
  lambdas/enums/fhir/fhir_resource_types.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/edge_presign_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/models/fhir/R4/__init__.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/models/fhir/R4/operation_outcome.py
  lambdas/models/fhir/__init__.py
  lambdas/services/edge_presign_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1348] Updated the nhsuk-frontend package to 9.1.0
  app/package-lock.json
  app/package.json
Due: none

[PRMP-1330] - Remove brackets in aria-label for screen readers
  app/src/components/generic/serviceUpdatesLink/ServiceUpdatesLink.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1360] change to snomedcode
  lambdas/enums/snomed_codes.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] change new line to carriage return
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pr comment update: hardcord patient result page to go back to patient serach page over history -1
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1360] - Update to nrl pointer request (#488)
  lambdas/enums/snomed_codes.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/services/document_deletion_service.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] add logs back in after merge with main
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] test fix
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] Remove extra '$' characters
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1330] - Add test for rendering service-updates-link
  app/src/components/layout/footer/Footer.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1334] - Replace 'Crown copyright' with 'NHS England' in footer (#486)
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1257
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Prmp 1182 - Remove number of files line from available records page (#485)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1239] NEW SERVICE updated to be New service (#495)
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/layout/phaseBanner/PhaseBanner.test.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1330] - Modify footer to use constant instead of react component
  app/src/components/generic/serviceUpdatesLink/ServiceUpdatesLink.test.tsx
  app/src/components/generic/serviceUpdatesLink/ServiceUpdatesLink.tsx
  app/src/components/layout/footer/Footer.test.tsx
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update subscribe-to-mns.yml
  .github/workflows/subscribe-to-mns.yml
Due: none

Update subscribe-to-mns.yml (#496)
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1188] remove conditional deploy of lambda, doesn't work as expected
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1332] use css to create margin between link items
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1330] - Undo privacy-link modification
  app/src/components/layout/footer/Footer.test.tsx
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add env
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1373] add mandatory fields
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

increase test coverage: missing formatFileSize test
  app/src/helpers/utils/formatFileSize.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1373] - Move stabillity to content section
  lambdas/models/nrl_fhir_document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1373] adjustments made to NRL message models
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1237] Underline nav bar links in the nav bar
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1321][PRMP-1041] Patient Details screen updates
  app/README.md
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/backButton/BackButton.story.ts
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/components/generic/backButton/BackButton.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] add pydantic models to doc ref
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/models/fhir/R4/operation_outcome.py
  lambdas/requirements/requirements_test.txt
  lambdas/services/nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1332 - single element are being placed in groups/lists (#482)
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1185] update package and remove option for subscription
  .github/workflows/subscribe-to-mns.yml
  lambdas/requirements/requirements_test.txt
Due: none

[PRMP-1287] remove NrlAttachment model
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] remove init files
  lambdas/enums/__init__.py
  lambdas/models/__init__.py
  lambdas/models/fhir/__init__.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] Create workflow and script to subscribe to MNS notifications (#467)
  .github/workflows/subscribe-to-mns.yml
  lambdas/requirements/requirements_test.txt
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] Create a lambda to handle MNS notifications (#470)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/subscribe-to-mns.yml
  lambdas/enums/mns_notification_types.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/models/mns_sqs_message.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
