Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] adding usb logic
  lambdas/enums/lloyd_george_pre_process_format.py
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] update test cases to use raw strings for special characters in filenames
  lambdas/tests/unit/utils/test_filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] format
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] change defaults to 3 files
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/bulk-upload-300-test.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] rename workflow
  .github/workflows/bulk-upload-300-test.yml
Due: none

[PRMT-542] default files
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] sandbox deploy default
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMT-601] format2
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] ensure original row is not modified when updating date in metadata processing
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

swap text on back button, add UT, fix missing return types (#766)
  app/src/components/blocks/_downloadReport/downloadReportCompleteStage/DownloadReportCompleteStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportCompleteStage/DownloadReportCompleteStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-542] Add test for bulk upload - 300 patients with 3 files (#770)
  .github/workflows/base-e2e-backendtest.yml
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/bulk-upload-300-test.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
  Makefile
  lambdas/tests/e2e/bulk_upload/__init__.py
  lambdas/tests/e2e/bulk_upload/test_bulk_upload_300_output.py
  lambdas/tests/e2e/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] handle duplicate NHS numbers in USB metadata preprocessor and update tests
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] reject multi-part document filenames in USB metadata preprocessor and update tests
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] reject non-PDF filenames in USB metadata preprocessor and update tests
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] refactor usb service
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-163] Update feedback page errors & include error box (#758)
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/errorMessages.ts
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
  app/src/types/pages/genericPageErrors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-575] - Add unit tests and modify github actions
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/tests/unit/handlers/test_V2_bulk_upload_metadata_handler.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] add check on file type
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] ITOC feedback -> IM (Slack/Teams) (#747)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/message_templates.py
  lambdas/handlers/send_feedback_handler.py
  lambdas/models/templates/itoc_feedback_teams_message.json
  lambdas/models/templates/itoc_slack_feedback_blocks.json
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/send_feedback_service.py
  lambdas/services/send_test_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/helpers/data/feedback/itoc_test_feedback.json
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/helpers/data/feedback/mock_itoc_slack_message_blocks.json
  lambdas/tests/unit/helpers/data/feedback/mock_itoc_teams_message.json
  lambdas/tests/unit/services/test_send_feedback_service.py
  lambdas/tests/unit/services/test_send_test_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575]- fixed tests
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] update date extraction regex and add validation for invalid date formats in metadata
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/utils/test_filename_utils.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575]- fixed tests
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-189] Add handling for backwards navigation on upload pages
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/helpers/utils/uploadDocumentHelpers.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/notFoundPage/NotFoundPage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-189] Add handling for backwards navigation on upload pages (#767)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/helpers/utils/uploadDocumentHelpers.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/notFoundPage/NotFoundPage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

added extra data-testid to DocumentRow
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-601] refactor USB metadata preprocessor to track valid rows and improve duplicate NHS number handling
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] simplify error message for multi-part document rejection in USB metadata preprocessor
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Fix error when writing item to table
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Add absent line ending
  lambdas/tests/unit/handlers/test_V2_bulk_upload_metadata_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-520] September 25 package updates
  Makefile
  app/Dockerfile
  app/package-lock.json
  app/package.json
Due: none

@testing-library/jest-dom -> dependencies
  app/package-lock.json
  app/package.json
Due: none

More dependency changes
  app/package-lock.json
  app/package.json
Due: none

[PRMT-575] - Allow lambda to process files in root directory
  lambdas/handlers/V2_bulk_upload_metadata_handler.py
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

More version upgrades
  app/package-lock.json
  app/package.json
Due: none

[PRMT-601] refactor metadata preprocessor services to improve structure and handling of file types
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/services/bulk_upload/metadata_general_preprocessor.py
  lambdas/services/bulk_upload/metadata_usb_preprocessor.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/bulk_upload/test_metadata_usb_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] format import
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] format
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] format
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] update filename_utils.py to improve variable naming for document numbers
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] refactor test fixtures to fix sonar issues
  lambdas/tests/unit/services/bulk_upload/test_metadata_general_preprocessor.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/utils/test_filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
