Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

format and tests
  lambdas/enums/lambda_error.py
  lambdas/enums/zip_trace.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/tests/unit/models/test_zip_trace.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/utils/decorators/validate_manifest_job_id.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-[566] added test to zip service tests
  lambdas/enums/lambda_error.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/tests/unit/helpers/data/zip_trace_responses.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix filter references
  lambdas/enums/lambda_error.py
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/utils/decorators/validate_manifest_job_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-568] Add basic logic to handle get request completed/pending/processing responses
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/types/generic/downloadManifestJobStatus.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-568] Fix tests that affected by change of getPresignedUrlForZip
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove custom s3
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

address a jest warning message
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix cypress test for new change
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-567] remove custom aws role for params in documents service
  lambdas/services/document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-567] remove fields enum
  lambdas/enums/zip_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-567] remove list names and change Doc type to StrEnum
  lambdas/enums/supported_document_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-568] Add logic to wait for 10 seconds between polling
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-567] remove unnecessary requirements
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

use boto3 deserialiser, and add error logs
  lambdas/handlers/generate_document_manifest_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed unnecessary requirements
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

amend error throwing logic
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/helpers/utils/errorCodes.ts
  app/src/types/generic/downloadManifestJobStatus.ts
  app/src/types/generic/errors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add tests to verify error handling
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

patch get request response field name status --> jobStatus to adapt to backend changes
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/types/generic/downloadManifestJobStatus.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-567] Debugging fixes, correct file key used for s3 service in DocumentManifestJobService, logging errors introduced, pascal case field names used in query_zip_trace
  lambdas/models/zip_trace.py
  lambdas/services/base/s3_service.py
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix cypress test for get request response change: status --> jobStatus
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

address sonarcloud issue
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unwanted commented out code
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

move a comment to correct line
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

correct a mock function type signature
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add option chaining for safety
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

amend cypress test to emulate GET DocumentManifest responding with Processing
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

amend GET polling logic to wait for 10 seconds before the 1st call
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

amend incorrect mock data (processing response got a presigned url)
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add cypress test for the case when GET documentManifest respond with PENDING for 3 times lead to error page
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-566] updating model
  lambdas/enums/zip_trace.py
  lambdas/models/zip_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Amend error message
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

pr changes and update tests
  lambdas/enums/lambda_error.py
  lambdas/enums/zip_trace.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pr changes
  lambdas/services/document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add logs to service
  lambdas/services/document_manifest_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] PR changes
  lambdas/models/zip_trace.py
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] more PR changes
  lambdas/services/generate_document_manifest_zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-568 - Modify the Front End to handle new poll based download logic (#393)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/helpers/utils/errorCodes.ts
  app/src/types/generic/downloadManifestJobStatus.ts
  app/src/types/generic/errors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP 566 - GenerateDocumentManifest lambda (#391)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/zip_trace.py
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/models/bulk_upload_status.py
  lambdas/models/config.py
  lambdas/models/feedback_model.py
  lambdas/models/pds_models.py
  lambdas/models/statistics.py
  lambdas/models/zip_trace.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/services/login_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/decorators/ensure_env_var.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-567: Update DownloadManifestByNhsNumber lambda to handle multiple API pathways (#392)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/metadata_field_names.py
  lambdas/enums/supported_document_types.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/models/zip_trace.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/base/s3_service.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_manifest_by_nhs_number_handler.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/models/test_zip_trace.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
  lambdas/utils/decorators/validate_manifest_job_id.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-443] Rectify the act() function import (use the @testing-library/react one rather than react-dom/test-utils)
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/documentsListView/DocumentsListView.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.test.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedPage/UnauthorisedPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
