Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMT-229] - WIP
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-43] Only track the completion
  lambdas/services/pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  tests/bulk-upload/scripts/setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] fix bugs
  lambdas/models/document_reference.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] changes to common_query_filters.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/ods_report_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[NDR-100] changes size to file size
  lambdas/models/document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] changes lambda error code
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] Fhir Search document lambda (#621)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/fhir_document_reference_search_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/bundle.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_fhir_document_reference_search_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/decorators/handle_lambda_exceptions.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] Metadata pre-processor lambda to handle variation (#631)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/services/bulk_upload_metadata_service.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/utils/test_file_utils.py
  lambdas/utils/exceptions.py
  lambdas/utils/file_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-43] Added Event ID for PDS Logs (#652)
  lambdas/services/pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] line ending
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - merged main
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - copied updated bulk upload to bulk upload to verify permissions
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - reverted
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - copied updated_setup_bulk_upload to setup_bulk_upload
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - copied setup_bulk_upload to updated_setup_bulk_upload to verify permissions
  tests/bulk-upload/scripts/setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated to continue the test
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - WIP
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

[PRMT-249] Improve bulk upload reporting by adding success % (#646)
  lambdas/models/report/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-241] Invalid Role page - SSM GET roles & respond (#628)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
  lambdas/enums/lambda_error.py
  lambdas/handlers/token_handler.py
  lambdas/services/login_service.py
  lambdas/tests/unit/handlers/test_token_handler.py
  lambdas/utils/error_response.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-155] WCAG 4.1.3 status messages: ARF download starts/completes without announcing (#650)
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-229] - reverted code to use updated bulk upload code
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated num-patients flag
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

Removes deprecated flag in App.scss and updates govuk front end to version 5.10.2
  app/package-lock.json
  app/package.json
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMT-229] - updated updated to reflect how it was before
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[NDR-100] unit test fix
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated logic to try and upload 1 file
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - added logging
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
