Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMP-1427] line change
  lambdas/tests/unit/helpers/data/dynamo/dynamo_stream.py
  lambdas/utils/decorators/validate_dynamo_stream_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removes unnecessary class name
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add cloudfront to object-src
  app/docker/nginx.conf
Due: none

[PRMP-1427] unit tests
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] unit tests
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] enable script
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1469] NRL to work with DLQ (#526)
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1451] nginx permits cloudfront domain name as object-src
  .github/workflows/base-deploy-ui.yml
  app/Dockerfile
  app/docker/nginx.conf
Due: none

[PRMP-1502] Remove 400 status codes and update if necessary (#532)
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1541] Removed space in run command
  .github/workflows/base-deploy-ui.yml
Due: none

[PRMP-1541] Moved Dockerfile run to two commands
  app/Dockerfile
Due: none

[PRMP-1541] Moved Dockerfile run back to 1 command
  app/Dockerfile
Due: none

[PRMP-1541] Content-Security-Policy header - add CloudFront domain to object-src (#547)
  .github/workflows/base-deploy-ui.yml
  app/Dockerfile
  app/docker/nginx.conf
Due: none

Removes the rest of the inline css
  app/.storybook/preview.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/blocks/testPanel/TestToggle.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/footer/Footer.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/roleSelectPage/RoleSelectPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes unused variable
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1564] fixed sed issue with pipe in Dockerfile
  app/Dockerfile
Due: none

[PRMP-1564] Move Dockerfile run sed to 2 commands
  app/Dockerfile
Due: none

[PRMP-1564] NDR pipeline failure malformed SED command (#550)
  app/Dockerfile
Due: none

PRMP-1348 - make navigation bar responsive
  app/src/components/layout/navLinks/NavLinks.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] - Updated broken components from the upgrade of nhsuk-frontend and nshuk-react-components
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - remove unused code
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] - Updated cypress tests to pass
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - fix back link spacing
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

PRMP-1348 - remove unused imports
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] Updated the nhsuk-frontend package to 9.1.0
  app/package-lock.json
  app/package.json
Due: none

Adds test ID to header logo to fix testing
  app/src/components/layout/header/Header.test.tsx
  app/src/components/layout/header/Header.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updates NHS front end package
  app/package-lock.json
  app/package.json
Due: none

PRMP-1348 - fix broken tests
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] Update the nhsuk-frontend package (#510)
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/layout/header/Header.test.tsx
  app/src/components/layout/header/Header.tsx
  app/src/components/layout/navLinks/NavLinks.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adds tabindex to logo and service name
  app/src/components/layout/header/Header.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes duplicated code in App.scss
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1427] Changes to add pdf and xlsx file types
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/file_type.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] unit tests
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] change to dynamo util
  lambdas/tests/unit/utils/test_dynamo_query_filter_builder.py
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add flag control to ods report lambda
  lambdas/enums/feature_flags.py
  lambdas/handlers/get_report_by_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] revert upgrade to polars
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
Due: none

[PRMP-1427] Change font
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
