Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1523] Change to role permissions (#542)
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

+ pdfjs set up script , + pdfjs to the react app, + pdfjs to nginx.conf, update tests
  app/.gitignore
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/pdfjs/custom_viewer.css
  app/pdfjs/setup_pdfjs.py
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

set pdfjs to view documents from other locations
  app/public/pdfjs/build/generic/web/viewer.mjs
Due: none

nginx.conf fix
  app/docker/nginx.conf
Due: none

rebase with main
  app/package-lock.json
Due: none

[PRMP-1535] add object-src to CSP
  app/docker/nginx.conf
Due: none

[PRMP-1535] removal of trailing semi-colon
  app/docker/nginx.conf
Due: none

[PRMP-1535] Add object-src to CSP
  app/docker/nginx.conf
Due: none

[PRMP-1535-v2] ammend CSP header
  app/docker/nginx.conf
Due: none

Moves fullscreen optionto top of pdf viewer (#536)
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1177] Update name of the NDR link (#529)
  app/public/index.html
Due: none

[PRMP-1497] change to LG validator
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1497] change to LG validator (#537)
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Moves inline css to App.scss for LG input stage
  app/.storybook/preview.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1441] Page redesign for feedback survey (#535)
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1469] Change to the nrl handler to work with DLQ
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1469] fix unit test
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1348] Updated the nhsuk-frontend package to 9.1.0
  app/package-lock.json
  app/package.json
Due: none

[PRMP-1348] - Updated broken components from the upgrade of nhsuk-frontend and nshuk-react-components
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] - Updated cypress tests to pass
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - fix back link spacing
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

PRMP-1348 - make navigation bar responsive
  app/src/components/layout/navLinks/NavLinks.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - fix broken tests
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - remove unused code
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1348 - remove unused imports
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1535-v2] ammend CSP
  app/docker/nginx.conf
Due: none

[PRMP-1535-v2] remove obj-src
  app/docker/nginx.conf
Due: none

fix env script
  app/.eslintignore
  app/.eslintrc
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/cypress/support/component.ts
  app/cypress/support/e2e.ts
  app/index.html
  app/package-lock.json
  app/package.json
  app/public/index.html
  app/react-build-env-checker.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/header/Header.tsx
  app/src/helpers/hooks/useBaseAPIUrl.tsx
  app/src/helpers/utils/isLocal.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/styles/App.scss
  app/tsconfig.json
  app/vite-env.d.ts
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1541] CSP Breaks PDF viewer (#546)
  app/docker/nginx.conf
Due: none

Adds test ID to header logo to fix testing
  app/src/components/layout/header/Header.test.tsx
  app/src/components/layout/header/Header.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1427] Create a lambda handler
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add lambda to github actions workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1427] add value to enum
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add script back
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add error handling
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add auth to endpoint
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] fix tests
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] changes to service and unit tests
  lambdas/enums/dynamo_filter.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
