Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMP-767] - Fix failing cypress test
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-754] - Update requirements_core_lambda_layer.txt with fix version
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

PRMP-895 change var name deaceased to formal
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-895 add reason as string
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-767] - National Data Processing Deed: Communication of Deed and NHSE as Data Processors (#422)
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP - 895 - Accept deceased patients (#420)
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-754] - Add unit test for unhandled exception
  lambdas/tests/unit/utils/decorators/test_handle_lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-763 changes to batch script
  lambdas/scripts/batch_update_ods_code.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add dockerfile for batch script
  lambdas/Dockerfile
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add dockerfile for batch script
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update workflow
  .github/workflows/base-deploy-ui.yml
Due: none

update workflow
  .github/workflows/base-batch-update.yml
  .github/workflows/base-deploy-ui.yml
Due: none

Add build image workflow
  .github/workflows/base-batch-update.yml
Due: none

update workflow
  .github/workflows/base-batch-update.yml
Due: none

[PMRP-763-v3] attempt to add logging, add .dockerignore file to exclude files from docker build
  lambdas/.dockerignore
  lambdas/Dockerfile
Due: none

update actions
  .github/workflows/base-batch-update.yml
Due: none

update ecr
  .github/workflows/base-batch-update.yml
  .github/workflows/base-deploy-ui.yml
Due: none

add steps to preprod and prod
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

update tests
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/services/test_pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add retries
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/services/test_pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update dockerfile
  lambdas/Dockerfile
Due: none

rebase
  lambdas/Dockerfile
Due: none

[PRMP-922] - Add memo to PdfViewer
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

test logs
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-754 - Bulk Upload: General Exception (#425)
  lambdas/enums/lambda_error.py
  lambdas/handlers/authoriser_handler.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/handlers/data_collection_handler.py
  lambdas/handlers/logout_handler.py
  lambdas/handlers/nems_message_handler.py
  lambdas/handlers/statistical_report_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/tests/unit/utils/decorators/test_handle_lambda_exceptions.py
  lambdas/utils/decorators/handle_lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add workflow for dev
  .github/workflows/lambdas-dev-to-main-ci.yml
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update workflow dev
  .github/workflows/lambdas-dev-to-main-ci.yml
Due: none

Revert "[PRMP-922] - Add memo to PdfViewer"
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP:763 - Create workflows to build and push ODS batch update image (#426)
  .github/workflows/base-batch-update.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  lambdas/.dockerignore
  lambdas/Dockerfile
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/services/test_pds_api_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-885] adjust validation regex to allow optional multiple spaces at the end of nhs number
  app/src/helpers/requests/getPatientDetails.ts
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-885] update regex to handle spaces at beginning as well as end
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove trimmed variable from getPatientDetails
  app/src/helpers/requests/getPatientDetails.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-885] suppress max len line warning...
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add refresh logic for pdviewer
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-885 Allow unnecessary spaces at the end of patient search input (#427)
  app/src/helpers/requests/getPatientDetails.ts
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add new refresh logic for pdf
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add new service daily report method
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRP-841] comment out failing tests to allow sandbox deployment
  lambdas/tests/unit/handlers/test_bulk_upload_report_handler.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add data sorting to ods report methods
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add correct daily report s3 path
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
