Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] changed text in alerting lambda templates, fixed teams message
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/models/templates/teams_alert.json
Due: none

[PRM-134] Added alerting lambda decorator, renamed constant
  lambdas/handlers/im_alerting_handler.py
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] update packages in alerting lambda layer
  lambdas/requirements/layers/requirements_alerting_lambda_layer.txt
Due: none

[PRM-134] changed the confluence link in alerting template
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-160] remove fields from tests
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates vite and other packages
  app/package-lock.json
  app/package.json
Due: none

removed accidental skip
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Revert "Updates vite and other packages"
  app/package-lock.json
  app/package.json
Due: none

Upgrades pdfobject, sass and react packages
  app/package-lock.json
  app/package.json
Due: none

Updates typescript and uuid packages
  app/package-lock.json
  app/package.json
Due: none

Upgrades vite and types packages
  app/package-lock.json
  app/package.json
Due: none

Upgrades more packages in dev dependencies
  app/package-lock.json
  app/package.json
Due: none

Updates package-lock
  app/package-lock.json
Due: none

Adds react to JSX namespace
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/reports.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fixes failing tests
  app/src/helpers/requests/downloadReport.test.ts
  app/src/helpers/requests/postPatientAccessAudit.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-160] Remove the list of requested fields when querying a table (#680)
  lambdas/enums/metadata_field_names.py
  lambdas/services/document_service.py
  lambdas/tests/unit/enums/test_metadata_field_names.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add deleted filter to the unstitched table update
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-462]- updated test to test bucket name
  lambdas/handlers/toggle_bulk_upload_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-498]- updated how sqs queue group ID is generated
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add line ending
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove line ending
  lambdas/handlers/pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Set title to optional
  lambdas/models/fhir/R4/fhir_document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated cypress/grep, axios, dotenv and pdfjs viewer
  app/package.json
Due: none

[PRM-403] Remove further build warnings (#678)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/layout/Layout.test.tsx
  app/src/helpers/requests/downloadReport.test.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removed deprecated future tags
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/layout/Layout.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-154] End-to-end test framework for patient search API
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/__init__.py
  lambdas/tests/e2e/api/__init__.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/conftest.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
