Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adjust error message text and fix tests
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1601] add lambda to github action
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

PR comments
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Added NHS USer Id in the additional session data
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1603] Adjust search error handling and messaging
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  lambdas/enums/lambda_error.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1601] add logic to service and model
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/deceased_access_reason.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/access_audit_handler.py
  lambdas/models/access_audit.py
  lambdas/services/access_audit_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1601] fix merge error
  lambdas/services/manage_user_session_access.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1601] Remove condition
  lambdas/services/manage_user_session_access.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1550] switch scan with query
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1550] fix query index method
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1550] Add filter to query method
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1550] Improve GetReportByODS lambda performance
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update 1of1 check
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update handlers and service testst
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add handler and service for pds stitching lambda
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/document_reference.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/report/bulk_upload_report.py
  lambdas/models/report/bulk_upload_report_output.py
  lambdas/models/report/statistics.py
  lambdas/models/sqs/mns_sqs_message.py
  lambdas/models/sqs/nrl_sqs_message.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/data_collection_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/statistical_report_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_data_build_utils.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/decorators/validate_sqs_message_event.py
  lambdas/utils/lambda_exceptions.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add test case for stream based stitching
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix env vars and missing dynamo record attribute
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add unit tests for NRL and PR change to reset request context on error
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove ods code from reference migration to unstitched table
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

rebase and refactor file structure
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/models/sqs/pdf_stitching_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix github SHA issue
  Makefile
Due: none

add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Refactored Type and Token decode into their own files and simplified some conditions
  app/src/App.tsx
  app/src/helpers/utils/jwtDecoder.ts
  app/src/types/generic/ndrTokenData.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1585] Allow access to deceased patients (#564)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/patientDetails.ts
  lambdas/services/authoriser_service.py
  lambdas/services/manage_user_session_access.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1601] Create access audit lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/access_audit_request_type.py
  lambdas/enums/deceased_access_reason.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/access_audit_handler.py
  lambdas/models/access_audit.py
  lambdas/services/access_audit_service.py
  lambdas/services/authoriser_service.py
  lambdas/services/manage_user_session_access.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/enums/test_access_audit_request_type.py
  lambdas/tests/unit/handlers/test_access_audit_handler.py
  lambdas/tests/unit/models/test_access_audit.py
  lambdas/tests/unit/services/test_access_audit_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
  lambdas/tests/unit/utils/test_multi_value_enum.py
  lambdas/utils/lambda_exceptions.py
  lambdas/utils/multi_value_enum.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1446] - Fix text overflow issue on confirmation pages
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1446] - Fix overflow issue on upload-complete confirmation page
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1446] - Fix overflow issue on delete-complete confirmation page
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

implement deceased patient access form
  app/.eslintrc
  app/src/App.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/helpers/hooks/usePatientAccessAudit.test.tsx
  app/src/helpers/hooks/usePatientAccessAudit.tsx
  app/src/helpers/requests/postPatientAccessAudit.test.ts
  app/src/helpers/requests/postPatientAccessAudit.ts
  app/src/helpers/test/testBuilders.ts
  app/src/pages/patientAccessAuditPage/PatientAccessAuditPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/patientAccessAuditProvider/PatientAccessAuditProvider.test.tsx
  app/src/providers/patientAccessAuditProvider/PatientAccessAuditProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/accessAudit.ts
  app/src/types/generic/routes.ts
  app/src/types/generic/textareaRef.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

handle 403 on ods report download
  app/cypress/e2e/0-ndr-core-tests/download_lloyd_george_summary.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement deceased patient tag and warning message
  app/cypress/e2e/0-ndr-core-tests/download_lloyd_george_summary.cy.js
  app/cypress/support/routes.ts
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1580] Added NHS OAuth Token Generator Lambda handler
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1446] WCAG 1.4: Reflow of Download Confirmation (#574)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1580] - Add initial unit tests for nhs_oauth_service
  lambdas/tests/unit/handlers/nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/services/base/test_nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1601] excluding 'request_type'
  lambdas/services/access_audit_service.py
  lambdas/tests/unit/services/test_access_audit_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add labels and hit text
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix cypress tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add pid hint and max length validation
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/styles/App.scss
  app/src/types/generic/accessAudit.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1580] changed OAuth token generator unit tests
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/handlers/nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/services/base/test_nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
