Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add logs
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] amend staging bucket name
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add logging to service
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add lambda unit tests
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] refactor lambda and add unit tests
  lambdas/enums/lambda_error.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/utils/exceptions.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add lambda to github actions workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMDR-689] update import
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] move json loads to after check that body exists
  lambdas/handlers/upload_confirm_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] amend import
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add lambda test
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix test for progress
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-689] refactor and add doc type check to service
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] fix condition
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] remove unnecessary blank line
  lambdas/handlers/upload_confirm_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] unit test refactor
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] change delete function to delete entire folder
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] add new delete function to s3 service and use in upload confirm result
  lambdas/services/base/s3_service.py
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] change validate id use
  lambdas/handlers/upload_confirm_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add retry upload tests
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-689] amend error codes
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix navigation on retry upload test
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add warning callout test
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-689] add logs
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] update path
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR:739 - Add dynamo fields for retry and state locking
  lambdas/enums/metadata_field_names.py
  lambdas/models/document_reference.py
  lambdas/models/nhs_document_reference.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/enums/test_metadata_field_names.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/helpers/data/dynamo_responses.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] update delete function
  lambdas/services/base/s3_service.py
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] update delete and copy functions
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-689] remove comments
  lambdas/services/base/s3_service.py
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Alter logic of upload files journey
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add upload logic
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-693] change undefined
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix logic for failed upload in progress
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-693] change undefined
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR:739 - Add dynamo fields for retry and state locking (#315)
  lambdas/enums/metadata_field_names.py
  lambdas/models/document_reference.py
  lambdas/models/nhs_document_reference.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/enums/test_metadata_field_names.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/helpers/data/dynamo_responses.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix bug in upload progress
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix bug in upload waiting
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add upload session type
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/types/generic/uploadResult.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add set upload sesion mock
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-693] add call to confirmation lambda
  app/src/helpers/requests/uploadDocument.ts
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-693] add log
  app/src/helpers/requests/uploadDocument.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
