Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

clear interval in use effect and refactor interval to usestate
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add artifacts to cypress base workflow
  .github/workflows/base-cypress-test.yml
Due: none

Add update state lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/update_upload_state_handler.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

cyperss fix upload
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add try catch to uplodate state request
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove async from interval
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add try catch to void req
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Change async function state
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove helper function
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Refactor interval on upload
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add on destroy
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add missing dependency on useEffect
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove logs
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  lambdas/services/virus_scan_result_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove as in cypress
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  lambdas/services/virus_scan_result_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add intercept to before each
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add service method tests for update state
  lambdas/enums/lambda_error.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PR changes
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add navigation improvements
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PR changes - add try-catch for state api call
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/errorCodes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Prmdr 742 - Retry and State Locking workflow (#328)
  .github/workflows/base-cypress-test.yml
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/helpers/requests/getAuthToken.test.ts
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/types/generic/downloadStage.ts
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add types to service
  lambdas/services/update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add string type check to uploaded
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Modify env file test
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove console log
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add navlinks classnames
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-752 - Navigating with a keyboard alone - WCAG Guideline 2.1 & 2.1.2 (#329)
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.tsx
  app/src/components/blocks/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/generic/backButton/BackButton.tsx
  app/src/components/layout/navLinks/NavLinks.tsx
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Set focus to main instead of jump to #maincontent to avoid interfere with backlink
  app/src/components/layout/Layout.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Change code to focus the first h1 element instead of #maincontent
  app/src/components/layout/Layout.tsx
  app/src/helpers/utils/focusElement.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Change h2 headings of Card elements to h1
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Add skip link to layout
  app/src/components/layout/Layout.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] focus the layout div on mount for the pages that isnt a seperate route
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Add unit test for skip link
  app/src/components/layout/Layout.test.tsx
  app/src/components/layout/Layout.tsx
  app/src/helpers/utils/manageFocus.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add e2e test for view and upload
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

separating 404 case into 2 tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] Bump up heading to h1 on some pages that dont have h1 heading
  app/src/components/blocks/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] improve test coverage
  app/src/components/layout/Layout.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] improve test coverage
  app/src/helpers/utils/manageFocus.test.tsx
  app/src/helpers/utils/manageFocus.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-758] minor change in test
  app/src/components/layout/Layout.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update type
  lambdas/services/update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Change uploaded to bool
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
