Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

PRMDR-594 - NEMS - Update records retrospectively to carry out PDS checks on records uploaded V1.0 (#278)
  .gitignore
  lambdas/scripts/batch_update_ods_code.py
  sonar-project.properties
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

ci lambdas action fixes on check packages base action naming
  .github/workflows/lambdas-dev-to-main-ci.yml
Due: none

testing working directory failures on actions via ./app to empty
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
Due: none

testing working directorys on ui again via ./app references
  .github/workflows/base-jest-test.yml
Due: none

explicit repository reference added to new base lambdas to enable cross repository triggers
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
Due: none

test husky
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

[Bug] PRMDR-647 - Add path finding to previous page click (#280)
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/helpers/utils/errorToParams.ts
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
Due: prettier --write, eslint

Ruff prehook addition
  .lintstagedrc
Due: none

process nems lambda and service
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/coverage-sed.sh
  lambdas/enums/fhir_resource_message_types.py
  lambdas/enums/fhir_resource_types.py
  lambdas/enums/nems_error_types.py
  lambdas/handlers/nems_message_handler.py
  lambdas/requirements.txt
  lambdas/services/document_service.py
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/data/sqs_messages/address_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/gp_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/invalid_message_with_no_header.xml
  lambdas/tests/unit/services/test_bulk_upload_service_handle_sqs_message_report.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_fhir_bundle_parser.py
  lambdas/utils/exceptions.py
  lambdas/utils/fhir_bundle_parser.py
  lambdas/utils/load_environment_variable.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

add handler tests
  lambdas/handlers/nems_message_handler.py
  lambdas/tests/unit/handlers/test_process_nems_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

remove fhir util unused fun
  lambdas/tests/unit/utils/test_fhir_bundle_parser.py
  lambdas/utils/fhir_bundle_parser.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

remove unused fixture
  lambdas/tests/unit/handlers/test_process_nems_message.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

removing patient not found error from search_patient_details handler when user ods and patient ods do not match
  lambdas/handlers/search_patient_details_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

[PRMDR-620] remove files
  lambdas/tests/unit/services/test_bulk_upload_service_handle_sqs_message_report.py
  lambdas/utils/load_environment_variable.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

[PRMDR-620] unit tests
  lambdas/tests/unit/services/test_process_nems_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

removed user ods verfication on patient search
  lambdas/services/search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

[PRMDR-620] remove file
  lambdas/coverage-sed.sh
Due: none

PRMDR 620 - processing NEMS messages lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/fhir_resource_message_types.py
  lambdas/enums/fhir_resource_types.py
  lambdas/enums/nems_error_types.py
  lambdas/handlers/nems_message_handler.py
  lambdas/requirements.txt
  lambdas/services/document_service.py
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/data/sqs_messages/address_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/gp_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/invalid_message_with_no_header.xml
  lambdas/tests/unit/handlers/test_process_nems_message.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_fhir_bundle_parser.py
  lambdas/utils/exceptions.py
  lambdas/utils/fhir_bundle_parser.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black

Update color of completion screens
  app/public/dev/testFile.pdf
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: prettier --write, eslint

Update font color variable useage
  app/src/styles/App.scss
Due: prettier --write

Ruff prehook addition (#282)
  .lintstagedrc
Due: none

PRMDR-655 Update color of completion screens (#283)
  app/public/dev/testFile.pdf
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/styles/App.scss
Due: prettier --write, eslint

prmdr-658 add button to upload when no records
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/styles/App.scss
Due: prettier --write, eslint

Add feature flags provider
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useFeatureFlags.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/logoutPage/LogoutPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/router/AppRouter.tsx
Due: prettier --write, eslint

fixed ui tests
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/styles/App.scss
Due: prettier --write, eslint

remove extra back button
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
Due: prettier --write, eslint

add test for button
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
Due: prettier --write, eslint

PRMDR 658 - upload button when no existing records (#284)
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/styles/App.scss
Due: prettier --write, eslint

Add feature flags service
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/blocks/testPanel/TestToggle.tsx
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.test.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/router/AppRouter.tsx
Due: prettier --write, eslint

PRMDR-675 Feature flags provider (#285)
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/blocks/testPanel/TestToggle.tsx
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/helpers/hooks/useFeatureFlags.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/logoutPage/LogoutPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.test.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/router/AppRouter.tsx
Due: prettier --write, eslint

Ammended Cypress test for gp_admin no document present
  .lintstagedrc
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: prettier --write, eslint

Move arf components
  app/src/components/blocks/_arf/completeStage/CompleteStage.test.tsx
  app/src/components/blocks/_arf/completeStage/CompleteStage.tsx
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.test.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.test.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: prettier --write, eslint

Lint staged fix
  .lintstagedrc
Due: none

added test data id"
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: prettier --write, eslint

tiny fix
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

build fix
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-jest-test.yml
Due: none

Prmdr 658 test (#287)
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-jest-test.yml
  .github/workflows/ui-dev-to-main-ci.yml
  .lintstagedrc
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: prettier --write, eslint

fixed eslint issue on main
  app/src/router/AppRouter.tsx
Due: prettier --write, eslint

Lint staged fix (#286)
  .lintstagedrc
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  eslint: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
