Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove unnessecary imports
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update subscribe-to-mns.yml
  .github/workflows/subscribe-to-mns.yml
Due: none

PRMP-1185 placeholder
  .github/workflows/subscribe-to-mns.yml
Due: none

change workflow trigger
  .github/workflows/subscribe-to-mns.yml
Due: none

PRMP-1185-workflow-placeholder
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1185] correct typo var => vars
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1185] ammend run steps in action
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1185] add new step to pipeline
  .github/workflows/subscribe-to-mns.yml
Due: none

adds new line to view records page
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1185] ammend bad request
  .github/workflows/subscribe-to-mns.yml
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1123] - Address code review comments
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adds new text to cypress tests
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

changes search for patient text to search for a patient
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1123] - Fix failing unit tests
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix tests
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1123] - Improve readability of code
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1192 - New delete pointer nrl (#465)
  lambdas/enums/nrl_sqs_upload.py
  lambdas/enums/snomed_codes.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/base/test_sqs_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1123] Fix import error on TEST_UUID
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1123] - make format
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

moves paragraph to correct component for non fullscreen
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fixed tests
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PMRP-1188] continue with PR comment ammendents
  lambdas/handlers/mns_notification_handler.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRP-1188] add fixtures methods used frequently in test file
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] implement updating lastUpdated field
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] add assert with to sending message back to queue test
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] PR changes
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1188] add conditional to deploy lambdas
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1188] change workflow conditional
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1188] change workflow to deploy MNS lambda run when not in development env
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1123] - Temporarily take into account today's data for testing purposes
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] change sandbox input to choice
  .github/workflows/subscribe-to-mns.yml
Due: none

Revert "[PRMP-1123] - Temporarily take into account today's data for testing purposes"
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] try different conditional for conditional deployment of lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1123] Call migrated lambda scripts within ECS task (#461)
  lambdas/Dockerfile
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1074] Refreshing browser redirects to search patient page
  app/src/router/guards/patientGuard/PatientGuard.test.tsx
  app/src/router/guards/patientGuard/PatientGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1291] Updated full-deploy-to-sandbox.yml to include on call workflow
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1267] remove None role for login service
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] Add log messages to adhere to audit requirements
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] change delete pointer userId to our ODS code
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1074] Cypress test for browser refresh
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
