Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMDR-743] Merge with main, change logic of checking 3 minutes ago to handle epoch time
  lambdas/models/document_reference.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] update last_updated_within_three_minutes to handle both epoch time or iso string time
  lambdas/models/document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Change logic to avoid having non-considered fringe cases
  lambdas/models/document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add dynamo exceptions to query filter builder
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Use epoch time for lastUpdated, fix broken tests
  lambdas/models/document_reference.py
  lambdas/tests/unit/helpers/data/dynamo_responses.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add exception tests
  lambdas/tests/unit/utils/test_dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Fix broken unit tests
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PATCH] PRMDR-738 - Add DynamoDb Query Filter module (#325)
  lambdas/enums/dynamo_filter.py
  lambdas/enums/metadata_field_names.py
  lambdas/models/document_reference.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/enums/test_metadata_field_names.py
  lambdas/tests/unit/helpers/data/dynamo_responses.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/utils/test_dynamo_query_filter_builder.py
  lambdas/tests/unit/utils/test_dynamo_utils.py
  lambdas/utils/dynamo_query_filter_builder.py
  lambdas/utils/dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-738] check for uploaded and uploading in lambdas
  lambdas/enums/lambda_error.py
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/dynamo_utils.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] edit test to accomodate python 3.10
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/models/test_document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-738] unit tests
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-738] PR changes
  lambdas/services/document_deletion_service.py
  lambdas/services/upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] add method to delete only record in dynamodb
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-685] update css
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-685] update css
  app/src/components/blocks/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-743] fix function argument
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-685] fix e2e tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-685] fix e2e tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-743] add missing query filters to stop error
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Fix broken unit tests
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] minor change and add logging
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-742] add scenarios 1-3
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/types/generic/downloadStage.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-743] At uploadConfirmResult lambda, set uploading to False
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Introduce the error code LGL_423 from other branch
  lambdas/enums/lambda_error.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-743] Add unit tests
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-742] add timer and api call
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-742] change timer per file
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-743] remove duplicated unit test
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-738] PR changes
  lambdas/services/document_manifest_service.py
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-738 - Uploading checks (#324)
  lambdas/enums/lambda_error.py
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/dynamo_utils.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add lambda for ulpoad state
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  app/src/helpers/requests/uploadDocuments.ts
  app/src/types/generic/endpoints.ts
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/update_upload_state_handler.py
  lambdas/services/update_upload_state_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add upload state component req
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix virus scan result
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-742] change timer to interval
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-743] remove unused filter
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix update doc state request body
  app/src/helpers/requests/uploadDocuments.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[prmdr-742] change doc ref in api call
  app/src/helpers/requests/uploadDocuments.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add update upload state service unit tests
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix typo in method
  lambdas/services/update_upload_state_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[prmdr-742] add scenarios 5
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
