Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMT-371] - Add try catch for KeyErrors
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] changed text in alerting lambda templates, fixed teams message
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/models/templates/teams_alert.json
Due: none

[PRM-134] changed the confluence link in alerting template
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- accepted changed
  lambdas/enums/lambda_error.py
  lambdas/services/base/sqs_service.py
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Modify initialization of OIDC service
  lambdas/services/login_service.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - set_up_oidc_parameters() if not mock
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Deleted eslintignore
  app/.eslintignore
Due: none

[PRMT-70]- fixed test
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] Improve efficiency of LG retrieval (#644)
  app/docker-compose.yml
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/base/s3_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- fixed test and merged
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] new mock service
  lambdas/handlers/document_reference_virus_scan_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/mock_virus_scan_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/tests/unit/utils/test_mock_virus_scan_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] PR changes
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/upload_document_reference_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] virus scanner check lambda and refactor virus scan service
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/document_reference_virus_scan_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/upload_document_reference_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/handlers/test_document_reference_virus_scan_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates aws-rum-web
  app/package-lock.json
  app/package.json
Due: none

Increases chunk size warning limit for vite
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329] updated mockloginpage to handle state from search params
  app/src/pages/mockLoginPage/MockLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-97] pre sign url change
  lambdas/services/base/s3_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Handle state in mock login journey
  lambdas/services/login_service.py
  lambdas/services/mock_login_redirect_service.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Address PR change
  lambdas/services/dynamic_configuration_service.py
  lambdas/services/oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Reorder comment
  lambdas/services/dynamic_configuration_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- added extra logging
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] updated smoke tests to work with CIS2 mock
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/ui-smoketest-ci.yml
  .github/workflows/ui-smoketest.yml
  app/.env.template
  app/cypress.config.ts
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_summary_report_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329] removed unused imports
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329] Remove comment
  app/cypress/support/roles.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329] remove log
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Remove storage of mock_login_enabled in constructor
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] remove unused variable
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-70]- updated format to not use float
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] updated mock login route
  app/src/types/generic/endpoints.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-70]- updated last_updated to use int
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add specific error handling for unauthorised patient access
  app/src/helpers/utils/errorCodes.ts
  lambdas/enums/lambda_error.py
  lambdas/services/search_patient_details_service.py
  lambdas/utils/exceptions.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] remove mock
  app/src/pages/mockLoginPage/MockLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] add filtering to get files with preliminary status only
  lambdas/services/mock_virus_scan_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] update packages in alerting lambda layer
  lambdas/requirements/layers/requirements_alerting_lambda_layer.txt
Due: none

[PRMT-229]- used .tolower
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] updated wait time
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removed unused numberOfTimes
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fixed build errors
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/reports.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
