Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add pr fixes
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/test/testBuilders.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Revert upload route
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR 656 - LG Record Uploading View (#292)
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/completeStage/CompleteStage.test.tsx
  app/src/components/blocks/_arf/completeStage/CompleteStage.tsx
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.test.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.test.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/providers/patientProvider/PatientProvider.test.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
  lambdas/services/mock_data/pds_patient_9000000004_M85143_gp.json
  lambdas/services/mock_pds_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add files chosen subtitle
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add files chosen subtitle (#296)
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

regex fixed and unit tests have been modified to allow varying LG file names
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/formConfig.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

test fix required due to new name required input of file builder
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

BUG_706 Regex fixed and unit tests have been modified to allow varying LG names (#298)
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/formConfig.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add error handling to lg file upload
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add server error test to lg upload
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove upload code
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix cypress issue
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add try catch to upload document page
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add smoke pipeline test
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Change smoketest path in action
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
Due: none

Rename smoke path
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
Due: none

Modify smoke test workflow
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
Due: none

Modify server page test
  app/src/pages/serverErrorPage/ServerErrorPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add upload document and lloyd george page tests
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Simplfiy upload code
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add axios testing to file upload
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Feature Flags lambda, service and tests
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/feature_flags_handler.py
  lambdas/requirements-test.txt
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_feature_flags_handler.py
  lambdas/tests/unit/services/test_feature_flags_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Feature Flags lambda, service and tests
  lambdas/services/feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add test edge cases and pydantic models
  lambdas/enums/lambda_error.py
  lambdas/models/feature_flags.py
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix import
  lambdas/requirements-test.txt
Due: none

PRMDR 706 - Server error page on error (#297)
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.test.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update smoketest dependency
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
Due: none

added feature flags to action deploy for lambdas
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Move smoke test workflow to dev deploy
  .github/workflows/ui-deploy-feature-to-sandbox-manual.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

Add smoke tests to ci main
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

PRMDR-674: AppConfig Feature Flags lambda (#299)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/feature_flags_handler.py
  lambdas/models/feature_flags.py
  lambdas/requirements-test.txt
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_feature_flags_handler.py
  lambdas/tests/unit/services/test_feature_flags_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix ui smoke test action
  .github/workflows/ui-smoketest.yml
  app/.env.template
Due: none

Add AWS role to Cypress smoke test workflow
  .github/workflows/base-cypress-smoketest.yml
Due: none

Extend timeout of lloyd george download request
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add smoke tests lambdas dev to main
  .github/workflows/lambdas-dev-to-main-ci.yml
Due: none

Add main requirement
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[PRMDR-679] fix cypress feedback workflow and add new upload workflow
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-679] add assertions
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

more test
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
