Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Add user indexation and emphasis on user to pass in endpoint
  performance/tests/locustfile.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reset docstate implenentated
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Ignore the Performance User Data folder
  .gitignore
Due: none

[PRMP-920] - skip failing smoketest as result of this change
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix unit tests
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-765] Corrected tmp directory path in statistical report
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-928 unit test polar wip
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-928] unit test fixes to handle additions to hashed user ids
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated Data Generator
  performance/bulk_upload/lloyd_george_pdf_generator/gen_lg_pdfs.py
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/metadata.csv
  performance/bulk_upload/lloyd_george_pdf_generator/templates/blank_template.pdf
  performance/bulk_upload/lloyd_george_pdf_generator/templates/noise_template.pdf
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

gitignore input and output data
  .gitignore
Due: none

[PRMP-928] bulk upload report test fix
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP] address PR comments
  .gitignore
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add resetDocState unit test
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRPP-999] fix back button inconsistency when wanting to go back from full screen to not full screen
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-999] - remove comments
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add cypress fix for delete record
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-928] add checks for empty dynamo responses
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add rejected reports and test
  lambdas/models/bulk_upload_report.py
  lambdas/models/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_rejected_report.csv
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PR changes
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update tests
  lambdas/models/bulk_upload_report.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/models/test_bulk_upload_status.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add filepath changes from 765
  lambdas/models/bulk_upload_report.py
  lambdas/models/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pr changes
  lambdas/models/bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor sorting functions
  lambdas/models/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add report output models, additional reports and update tests
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/bulk_upload_report.py
  lambdas/models/bulk_upload_report_output.py
  lambdas/models/bulk_upload_status.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_deceased_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_rejected_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_restricted_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_success_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_suspended_report.csv
  lambdas/tests/unit/models/test_bulk_upload_status.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor base class
  lambdas/models/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add filepath changes for statistical reports 765
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambdas/utils/cloudwatch_logs_query.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-928 Add user login data and search to report(#439)
  lambdas/models/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/services/login_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add PR comments
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update bulk upload folder name
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix error display after record deletion
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-999] - refactor code and add unit tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add tests for reports output
  lambdas/models/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update report tests
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-756: Add bulk report output models, additional reports and updated S3 filepaths
  lambdas/models/bulk_upload_report.py
  lambdas/models/bulk_upload_report_output.py
  lambdas/models/bulk_upload_status.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_deceased_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_rejected_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_restricted_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_success_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_suspended_report.csv
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-999] - make test descriptions consistent
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add inactivity timer
  app/src/pages/logoutPage/LogoutPage.tsx
  app/src/router/guards/authGuard/AuthGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix session logic
  app/src/router/guards/authGuard/AuthGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
