Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

update mock redirect handler
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] Refactor, move ITOC feedback testing to separate service
  lambdas/enums/message_templates.py
  lambdas/services/send_feedback_service.py
  lambdas/services/send_test_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/services/test_send_feedback_service.py
  lambdas/tests/unit/services/test_send_test_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] refactor, send feedback handler
  lambdas/handlers/send_feedback_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Apply suggestion from @MohammadIqbalAD-NHS
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-164] Fix scrolling to error message
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMT-575 - duplicated metaData lambda as V2 for combining with pre-processor
  lambdas/handlers/V2_bulk_upload_metadata_handler.py
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- refactored add information to stiching queue and updated tests
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update error code; fix unit and smoke tests
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix related missing return types
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-575] - Combine metadata and pre-processor service as V2
  lambdas/handlers/V2_bulk_upload_metadata_handler.py
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - Updated workflow to now deploy V2 metadata lambda code
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

fix typo, leading zero, add UT, return types
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/helpers/utils/formatDate.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix dob in cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-143] Updating FHIR error code to use UKCore (#728)
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/fhir/fhir_resource_message_types.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_fhir_document_reference_handler.py
  lambdas/models/fhir/R4/operation_outcome.py
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/unit/handlers/test_get_fhir_document_reference_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - Create performance_run_bulk_upload.py script
  .github/workflows/performance-base-run-bulk-upload.yml
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] Renamed updated bulk upload workflow to performance bulk upload (#668)
  .github/workflows/performance-base-run-bulk-upload.yml
  .github/workflows/performance-run-bulk-upload-test.yml
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/bulk_upload_service.py
  lambdas/utils/utilities.py
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
  tests/bulk-upload/scripts/performance_setup_bulk_upload.py
  tests/bulk-upload/scripts/run_bulk_upload.py
  tests/bulk-upload/scripts/test_performance_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-150] Updates
  lambdas/tests/e2e/api/test_upload_document_api.py
  lambdas/tests/e2e/performance/data/retrieve_data.csv
  lambdas/tests/e2e/performance/locustfile.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

swap text on back button, add UT, fix missing return types
  app/src/components/blocks/_downloadReport/downloadReportCompleteStage/DownloadReportCompleteStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportCompleteStage/DownloadReportCompleteStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-574] - Modify performance_run_bulk_upload.py to allow for running against V2
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-164] Fix scrolling to error message (#759)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-210] adding PCSE ods code to custodian (#755)
  lambdas/services/bulk_upload_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-193] Fix script execution when opening pdf's in new tab (#754)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/helpers/utils/pdfMerger.test.ts
  app/src/helpers/utils/pdfMerger.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-189] Add handling for backwards navigation on upload pages
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-580]- refactored process_message_queue and addressed comments
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prettier
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/helpers/utils/formatDate.ts
  app/src/helpers/utils/formatPatientFullName.test.tsx
  app/src/helpers/utils/formatPatientFullName.ts
  app/src/helpers/utils/pdfMerger.test.ts
  app/src/helpers/utils/pdfMerger.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-580]- added a bit of docstring
  lambdas/services/bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - Updated deploy to deploy v2 bulk upload toggle lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRME-228] Remove unused page PatientSimpleSummary and tests
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-228] Remove unused page PatientSimpleSummary and tests (#768)
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-576]- corrections field to staging metadata
  lambdas/handlers/bulk_upload_handler_v2.py
  lambdas/models/staging_metadata.py
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/models/test_staging_metadata_model.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- fixed comments
  lambdas/services/bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Move pre-processor code
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - Updated V2 service to utilise pre-processor file name validation logic
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambdas/services/bulk_upload_service_v2.py
  lambdas/services/bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix scroll to errorBox onSubmit
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add timeout to the scroll to ensure the ref exists
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-574] - Restrict V2 deployment up to ndr-dev
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

increase timeout to 50
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMT-575 - Updated to implement the validate filenames function
  lambdas/services/V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
