Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] handler unit tests
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Fix failing unit test
  lambdas/tests/unit/handlers/test_V2_bulk_upload_metadata_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

More updates
  app/package-lock.json
  app/package.json
Due: none

[PRMT-542] clear unstitched table before bulk upload run
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] preprocessor service unit tests
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] format
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] set default value for preFormatType in lambda_handler and update test case for invalid format
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Addressed SonarCloud warnings
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575]- allowed the use of the preprocessor service instead of duplicating code
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575]- corrected some comments
  lambdas/handlers/V2_bulk_upload_metadata_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-520] September 25 package updates (#774)
  Makefile
  app/Dockerfile
  app/package-lock.json
  app/package.json
Due: none

[PRMT-575]- refactored csv_to_staging_metadata
  lambdas/services/V2_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_V2_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-542] Clear unstitched table before bulk upload setup (#775)
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Format V2 handler
  lambdas/tests/unit/handlers/test_V2_bulk_upload_metadata_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] add docstrings to filename_utils.py for clarity and consistency
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] format
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/utils/filename_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Rename lambda names/files
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/bulk_upload_metadata_processor_handler.py
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_processor_handler.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-522] Update Cypress userAgent
  app/cypress.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Delete package-lock.json
  package-lock.json
Due: none

[PRMT-575] - Use os.getenv() to grab environment variables
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - updated key name, updated extract patient info to use validated model
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-611 wip]
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-614] Add LCOV report to coverage settings
  app/vitest.config.ts
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-295] Add LCOV report to UI test coverage
  app/vitest.config.ts
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-611] the rest
  lambdas/services/base/dynamo_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-601] fixing unit tests
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-295] Add LCOV report to UI test coverage (#778)
  app/vitest.config.ts
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-617] replace query_table_by_index with query_table in multiple services
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/document_service.py
  lambdas/services/im_alerting_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/services/login_service.py
  lambdas/services/manage_user_session_access.py
  lambdas/services/ods_report_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-617] renaming var
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-611] Implement pagination for DynamoDB queries and update related tests
  lambdas/services/base/dynamo_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-611] Fix typo in pagination test function name
  lambdas/tests/unit/services/base/test_dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-609]- refactored csv_to_staging_metadata
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-611] commenting out failing test
  lambdas/services/base/dynamo_service.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-522] Update Cypress userAgent & delete unused package-lock.json (#776)
  app/cypress.config.ts
  package-lock.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMT-575 - Temp revert, unit test check
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-575 - added back model validation changes, begun updating test and creating model fixture
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[TEST] Append NHS Number to the Group Id
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-609]- added space
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-611] fixing failing unit test
  lambdas/tests/unit/services/base/test_dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
