Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRM-134] attempt slack integration
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] add else clause if entry already exists in table
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Moves error response to kwargs
  lambdas/enums/lambda_error.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix validation
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-229] - Create workflows to run script
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - Rename workflows
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - Add pull request parameter to workflow
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - Temporarily set workflow sandbox to ndrc
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - removed logging
  tests/bulk-upload/scripts/setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated variable name to not clash
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - removed no longer necessary variable
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - updated variable type for patient number and file number
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-229] - WIP
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] migrate NhsDocumentReference to use DocumentReference
  lambdas/models/document_reference.py
  lambdas/models/nhs_document_reference.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/repositories/bulk_upload/bulk_upload_s3_repository.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitch_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] add new fields to doc ref
  lambdas/models/document_reference.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] add method model dump to camel case
  lambdas/models/document_reference.py
  lambdas/services/document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] migrate SearchDocumentReference to use DocumentReference
  lambdas/models/document_reference.py
  lambdas/services/document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] fix unit test
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] replace populate by name to validate by name and unit test fix
  lambdas/models/access_audit.py
  lambdas/models/document_reference.py
  lambdas/models/feedback_model.py
  lambdas/models/report/bulk_upload_report.py
  lambdas/models/report/statistics.py
  lambdas/models/staging_metadata.py
  lambdas/models/stitch_trace.py
  lambdas/models/zip_trace.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] add usages of model's new fields to
  lambdas/enums/virus_scan_result.py
  lambdas/models/document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-249] added update to report creation
  lambdas/models/report/bulk_upload_report_output.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-249] removed redundant word
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-43] Added Correlated PDS Logs
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/utils/test_audit_logging_setup.py
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-249] updated test to include missing get_total_successful assertion
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-299] Update Node.js from v18.x to v24.x (#645)
  .github/workflows/base-vitest-test.yml
  .github/workflows/sonarcloud-analysis.yml
  README.md
  app/Dockerfile
  app/README.md
  app/package-lock.json
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

add browser name to cypress test job (#649)
  .github/workflows/base-cypress-test.yml
Due: none

[PRMT-131] Modulus 11 NHS Number check (#639)
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/handlers/test_access_audit_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/decorators/validate_patient_id.py
  lambdas/utils/exceptions.py
  lambdas/utils/utilities.py
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] filter change
  lambdas/enums/dynamo_filter.py
  lambdas/models/document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/dynamo_query_filter_builder.py
  lambdas/utils/dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-43] Use dict to log the event
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/utils/test_audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-43] Revert origin logging code to main
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Changed aria announcement to polite
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-229] WIP
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - addressed comments and fixxed tests
  lambdas/services/base/s3_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
