Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update zip folder structure
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
Due: none

[PRMP-295] - replace log out text in nav bar with sign out (#414)
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/components/layout/navLinks/NavLinks.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/authErrorPage/AuthErrorPage.tsx
  app/src/pages/logoutPage/LogoutPage.test.tsx
  app/src/pages/logoutPage/LogoutPage.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/pages/unauthorisedPage/UnauthorisedPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add depds to root of edge zip
  Makefile
Due: none

Add correct import path to S3
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Extend dynamo service to take conditional update
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert update_item add update_conditional
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Use pdf object on edge lambda
  lambdas/services/base/s3_service.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix edge paths
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Return basic response on edge
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert google redirect for logging
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix headers on lambda edge
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] replace inline styling with scss style property and reformat the scss file
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add test edge lambda code
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add test lambda logging
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix dynamodb error
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add new update command
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-839] Fixed suspended patient is active logic & added unit test
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Strip auth headers from edge
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] replace id attribute with className
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add todo comments
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update with test code
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] refactor style and markup order
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-592] does not render view in full screen button when download stage not succeeded
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-839] Added ODS code validation for inactive statuses
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/pds_models.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/utils/test_ods_utils.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-839 fix tests and format add method to PDS model
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/pds_models.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/tests/unit/utils/test_ods_utils.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-839 add return type and remove SUSP string from tests
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-839 remove invalid code
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-839] Fixed suspended patient is active logic & added unit test (#416)
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/pds_models.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/tests/unit/utils/test_ods_utils.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] create new handler to update patient ods codes
  lambdas/handlers/update_patient_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] create test file for new service
  lambdas/tests/unit/services/test_update_patient_ods_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] update handler to call batchupdate
  lambdas/handlers/update_patient_ods_handler.py
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] update github actions to include new lambda handler
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-763] add init file to scripts
  lambdas/scripts/__init__.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] move batch update ods code into services
  lambdas/handlers/update_patient_ods_handler.py
  lambdas/services/batch_update_ods_code.py
  lambdas/tests/unit/services/test_update_patient_ods_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] rename function in update_patient_ods_handler
  lambdas/handlers/update_patient_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] add logger to batchupdate
  lambdas/services/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] add os env for dynamo table
  lambdas/handlers/update_patient_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] add test cases for changed logic in batchupdate
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/tests/unit/services/test_batch_update_patient_ods.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRP-763] add tests for new logic added to BatchUpdate get_updated_gp_ods
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/services/batch_update_ods_code.py
  lambdas/tests/unit/services/test_batch_update_patient_ods.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] format and refactor
  lambdas/handlers/update_patient_ods_handler.py
  lambdas/services/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
