Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix failing test
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

renaming given Name to given_name
  lambdas/models/pds_models.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-787-FEEDBACK] fix unit tests
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add check for missing address
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

first pass of child router testing
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/router/guards/roleGuard/RoleGuard.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removed logging for to enable build
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/router/guards/roleGuard/RoleGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

completed vs complete route correction for the lloyd george upload workflow
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add check for missing address
  lambdas/models/pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-785: Upload retry logic in the event of upload failure (#356)
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  lambdas/models/auth_policy.py
  lambdas/models/document_reference.py
  lambdas/models/pds_models.py
  lambdas/models/staging_metadata.py
  lambdas/requirements.txt
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR 0000 - bugs fixes (#358)
  lambdas/models/pds_models.py
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
  sonar-project.properties
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-808 Side Menu for Non-BSOL LG record page (#357)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

enabling aal1 level auth on pre-prod to be able to switch between password and smartcard auth
  lambdas/services/oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

enabling aal1 level auth on pre-prod to be able to switch between password and smartcard auth (#360)
  lambdas/services/oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring WIP
  lambdas/enums/supported_document_types.py
  lambdas/handlers/delete_document_reference_handler.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/test_document_type_utils.py
  lambdas/tests/unit/enums/test_supported_document_types.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
  lambdas/tests/unit/utils/decorators/test_validate_document_type.py
  lambdas/utils/decorators/validate_document_type.py
  lambdas/utils/document_type_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring WIP - 2
  lambdas/enums/supported_document_types.py
  lambdas/handlers/delete_document_reference_handler.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/models/document_reference.py
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/document_service.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/enums/test_supported_document_types.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
  lambdas/tests/unit/utils/test_document_type_utils.py
  lambdas/utils/document_type_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring WIP - 3
  lambdas/enums/supported_document_types.py
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/enums/test_supported_document_types.py
  lambdas/tests/unit/handlers/test_create_document_manifest_by_nhs_number_handler.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adding filter for doc in download
  lambdas/enums/lambda_error.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/services/document_manifest_service.py
  lambdas/tests/unit/services/test_document_manifest_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring manifest service
  lambdas/services/document_manifest_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-787-FEEDBACK] add unit test
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add class styling
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix unit tests for header
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove duplicte pge header
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

806: Add view full screen style (#361)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] change get table name method
  lambdas/enums/supported_document_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] amend doc manifest service function call
  lambdas/services/document_manifest_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] add logs
  lambdas/enums/supported_document_types.py
  lambdas/services/document_service.py
  lambdas/tests/unit/enums/test_supported_document_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring document search
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/helpers/requests/getDocumentSearchResults.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add logs
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] add logs
  lambdas/services/document_manifest_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] try hardcoding query filter attributes
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] revert query filter
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] remove one condition from upload completed query filter
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] revert query filter
  lambdas/services/document_manifest_service.py
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] amend assignment of doc references
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] remove logs
  lambdas/services/document_manifest_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add remove record stage
  app/src/components/blocks/lloydGeorgeRemoveRecordStage/LloydGeorgeRemoveRecordStage.tsx
  app/src/types/blocks/lloydGeorgeStages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] return id and fix unit tests
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add remove files stage
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRemoveRecordStage/LloydGeorgeRemoveRecordStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/lloydGeorgeRemoveRecordStage/LloydGeorgeRemoveRecordStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add doc manifest lambda unit tests
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_manifest_by_nhs_number_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[UPDATE-PYTHON-PACKAGES)] update jinja and werkzeug versions
  lambdas/requirements.txt
Due: none

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
