Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - cleaned a bit the code
  .github/workflows/updated-base-run-bulk-upload.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - merged main and renamed variable
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - cleaned code
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update token handler to handle cis2 mock pathway, and add mock login service
  lambdas/enums/feature_flags.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/token_handler.py
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/dynamic_configuration_service.py
  lambdas/services/login_service.py
  lambdas/services/mock_login_service.py
  lambdas/services/ods_api_service.py
  lambdas/services/pds_api_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-155] updated function and created duplicate patients with different ods codes for testing purposes
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_0000000000.json
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_123456789.json
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_1234567890.json
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_ods_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-71] - removed comments
  lambdas/services/generate_document_manifest_zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - testing run bulk upload
  .github/workflows/updated-base-run-bulk-upload.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - testing run bulk upload
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

[PRMT-229] - testing run bulk upload
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - fixed typo
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - stubbing pds
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - added new env variable to try and stub pds
  lambdas/services/mock_pds_service.py
  lambdas/utils/utilities.py
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - added logging
  lambdas/services/mock_pds_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - added logging
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated mock logic
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - updated file name to make it pass validation, and changed validation strict mode
  lambdas/handlers/bulk_upload_handler.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-155] update initial stubbed patient responses for testing purposes
  lambdas/services/mock_data/pds_patient_9000000009_X4S4L_pcse.json
  lambdas/services/mock_data/pds_patient_9000000017_H81109_gp.json
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_mock_pds_api_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - skipp validations if we want to always have good pds
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - skipp validations if we want to always have good pds
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-116] rename search lambda in github actions
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-116] rename search fhir lambda in github actions (#659)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMT-229] - skipp validations if we want to always have good pds
  lambdas/services/bulk_upload_service.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add overrides for ods api and update tests for new static methods
  lambdas/handlers/token_handler.py
  lambdas/services/mock_login_service.py
  lambdas/services/mock_ods_api_service.py
  lambdas/services/ods_api_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - optimization when mocking pds
  lambdas/services/mock_pds_service.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removes all from core import and changes tint to nhsuk-tint
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Removes unnecessary imports
  app/package-lock.json
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[NDR-100] MNS changes
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - removed unnecessary logging
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-310] Upgrade govuk-frontend from 4.9.0 (#656)
  app/package-lock.json
  app/package.json
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[NDR-100] PR changes and missing fields
  lambdas/enums/lambda_error.py
  lambdas/enums/snomed_codes.py
  lambdas/models/document_reference.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - Added tests
  tests/bulk-upload/scripts/test_updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-100] unit test
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-155] rename metadata test file
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_0000000000.json
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_123456789.json
  lambdas/tests/unit/helpers/data/bulk_upload/duplicate_new_ods_expect_sqs_msg_for_patient_1234567890.json
  lambdas/tests/unit/helpers/data/bulk_upload/metadata_with_duplicates_different_ods.csv
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add pagination info
  app/package-lock.json
  app/package.json
  app/public/pdf.worker.mjs
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/index.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
