Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

potentially fixed smoke tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_summary_report_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1450] Implement new PDF viewer fullscreen (#581)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/progressBar/ProgressBar.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/components/layout/Layout.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/sessionProvider/SessionProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

updated package-lock
  app/package-lock.json
Due: none

remove testing steps for prod release
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/lambdas-deploy-to-prod.yml
  .github/workflows/ui-deploy-to-prod-manual.yml
Due: none

[PRMP-1504] add check for existing pointers while creating pointer
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1710] remove pointer content check
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

updated cypress test for upload llyod georde is bsol
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

attempted fix for failing test in firefox
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1504] Create fixture for session post mock
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Implement custom pdfjs viewer for toolbar modification
  .gitignore
  Makefile
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/dev/testFile1.pdf
  app/public/index.html
  app/public/pdf-viewer.css
  app/src/App.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/index.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1715] - Fix overflowing fullscreen button text
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1715] - Remove unnecessary styling comment
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1721] Remove unnecessary testing steps for prod release (#596)
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/lambdas-deploy-to-prod.yml
  .github/workflows/ui-deploy-to-prod-manual.yml
Due: none

[PRMP-1504] Create fixture for get_pointer
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1555] formatting
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Added icb_ods_code in the place of isBSOL
  app/src/App.tsx
  app/src/types/generic/ndrTokenData.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1519] WCAG 1.4.10 reflow - long names do not reflow correctly on view records screen (#591)
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1707] Remove NEMS/MESH code (#588)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/feature_flags.py
  lambdas/enums/fhir/fhir_resource_types.py
  lambdas/enums/nems_error_types.py
  lambdas/handlers/nems_message_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/data/sqs_messages/address_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/gp_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/invalid_message_with_no_header.xml
  lambdas/tests/unit/handlers/test_process_nems_message.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_fhir_bundle_parser.py
  lambdas/utils/fhir_bundle_parser.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1706] Remove references to is_BSOL/isBSOL (#587)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_ADMIN.json
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_CLINICAL.json
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useIsBSOL.test.tsx
  app/src/helpers/hooks/useIsBSOL.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/sessionProvider/SessionProvider.test.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
  app/src/types/blocks/userAuth.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

hide nav items on session expired page
  app/src/components/layout/header/Header.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.test.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1698] Changes back link for Delete Submit Stage to new back button component
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1698] Removes unused import
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Added all changes from original 1568 branch
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/support/e2e.ts
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

changed cypress default browser back to chrome
  app/package.json
Due: none

Fixing failing sonarcloud test
  app/src/helpers/utils/waitForSeconds.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1555] Update Statistical Report to include Audit of access (#594)
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/models/report/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1715] WCAG 1.4.10 reflow - view full screen link overlaps with text (#597)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Testing new branch tio see what failures we have
  app/package-lock.json
Due: none

Implement custom pdfjs viewer for toolbar modification
  .gitignore
  Makefile
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/dev/testFile1.pdf
  app/public/index.html
  app/public/pdf-viewer.css
  app/src/App.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/index.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1504] NRL pointer check before creation (#593)
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added testing-libraries/dom for jest tests
  app/package-lock.json
Due: none

added testing-libraries/dom for jest tests
  app/package-lock.json
  app/package.json
Due: none

[PRMP-1588] Adding Session Attributes to RUM Logging (#575)
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/helpers/utils/jwtDecoder.ts
  app/src/helpers/utils/waitForSeconds.test.ts
  app/src/types/generic/ndrTokenData.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adds logic for firefox to work
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes prop that caused the issue
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Skipped fullscreen tests for Firefox and PDF viewer tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1568] Upgrade Cypress from 13.13.2 to 14.2.1 (#595)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_summary_report_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Gives Select Files button an aria label described by fieldset legend
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Edits tests to use new label
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1698] WCAG 2.4.2 page titled: page title not updated when navigating backwards (#599)
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
