Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated react and react-dom to v19.1
  app/package-lock.json
  app/package.json
Due: none

[PRMT-260] - Fix list.upper() error message
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add loading spinner and retry
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

rasvfsafa
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329]- pass organisation nformation between mockCis2LoginPage and MockRoleSelectPage.tsx
  app/src/App.tsx
  app/src/helpers/requests/OrganisationDetails.ts
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.tsx
  app/src/pages/mockRoleSelectPage/MockRoleSelectPage.tsx
  app/src/providers/OrganisationProvider/OrganisationProvider.tsx
  app/src/types/generic/endpoints.ts
  app/src/types/generic/organisationDetails.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Replaces warning callout with NHS UK frontend component
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/generic/warningText/WarningText.test.tsx
  app/src/components/generic/warningText/WarningText.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix issue with unathorised role handling
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
  lambdas/handlers/token_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix issue with unathorised role handling (#665)
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
  lambdas/handlers/token_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove unnecessary css
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Add AWS SSM Extension Service
  Makefile
  lambdas/services/base/aws_param_extension_service.py
  lambdas/services/token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update Lambda Error
  lambdas/services/token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Replace phase banner with nhs uk component
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unused placeholder
  lambdas/models/staging_metadata.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

AWS Ssm Extension
  lambdas/services/base/aws_param_extension_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- added performance changes
  lambdas/services/base/s3_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/pdf_stitch_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fasfafa
  app/docker/nginx.conf
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove page count bit
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-155] updated reference to stubbed patient NHS number
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/fixtures/dynamo-db-items/active-patient.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add pdf checks
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-97] missing value
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] upload lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/base/s3_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/handlers/test_post_fhir_document_reference_handler.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] add unit test for pds check for nhs number
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] add pds check for nhs number
  lambdas/enums/lambda_error.py
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] Lambda name change
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] format
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/document_reference.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/utils/decorators/validate_sqs_message_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] change decoding
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] bypass patient validation
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/document_reference.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] change url response
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] remove default for type and subject
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] remove default resource type
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/get_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] debugging changes
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] unit tests changes
  lambdas/services/base/s3_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] remove code to bypass nhs number validation
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] Change default values for fhir doc ref
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] fix import
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] remove not used const
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] missing unit test
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-260] ITOC users (PCSE persona) (#657)
  lambdas/services/login_service.py
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]-slowlly testing increments
  lambdas/enums/lambda_error.py
  lambdas/services/base/s3_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] Lots of business logic and formatting refactors to alerting POC
  lambdas/enums/alarm_history_field.py
  lambdas/enums/alarm_severity.py
  lambdas/enums/alarm_state.py
  lambdas/models/alarm_entry.py
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/models/templates/teams_alert.json
  lambdas/services/im_alerting_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
