Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add try except clause to lambda layer configuration on default
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix JSON lambda error
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add test response for lambda edge
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add test cloudfront presign url
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Return formatted cloudfront url
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix format cloudfront url code
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Log edge event output
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] remove the view report button
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add basic logger for edge lambda
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] replace the detail tag with a div
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-592] fix placement of view in full screen btn
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Cleanup lambda edge code
  .github/workflows/base-lambda-layer-reusable-publish.yml
  lambdas/handlers/edge_presign_handler.py
  lambdas/scripts/lambda_layer_update.py
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Instantiate edge presign handler
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add dynamo edge code
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add error handling for dynamo edge code
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-295] replace all logging in and logging out with signing in and signing out
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/authErrorPage/AuthErrorPage.tsx
  app/src/pages/logoutPage/LogoutPage.test.tsx
  app/src/pages/logoutPage/LogoutPage.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/pages/unauthorisedPage/UnauthorisedPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove unnecessary actions from ymls
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Add presign response handler to @edge
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add cloudfront formatting to stitch
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-592] fix broken tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add manual dependency injection to edge action
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

[PRMP-592] remove unused Details import
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update cloudfront url logic in stitch
  lambdas/handlers/edge_presign_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix workflow error
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Fix pip bundling on edge action
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix working directory typo in action edge
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix edge virtual venv in action
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
  lambdas/requirements/requirements_edge_lambda.txt
Due: none

Add edge zip command
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
Due: none

Add requirements for edge lambda
  lambdas/handlers/edge_presign_handler.py
  lambdas/handlers/requirements.txt
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add inflection to edge requirements
  lambdas/handlers/requirements.txt
Due: none

Add lambda edge version update script
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix path for edge update script
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix typo in update script name
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix missing venv path in action
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Add get account id method to edge update script
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add no distribution error handling and logging
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add logging to fetch distribution
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix typo in venv path
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
  lambdas/handlers/requirements.txt
Due: none

Add missing mkdir command
  Makefile
Due: none

Add edge requirements
  lambdas/handlers/requirements.txt
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
