Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMP-1287] validating incoming event
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] small changes
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1284] Add NRL pointer creation to upload document journey
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/helpers/data/upload_confirm_result.py
  lambdas/tests/unit/helpers/mock_response.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_nrl_api_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1286] Change create fhir response to return json
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] ammend log on get pointer to include response url
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1401] add condition to not build mns lambda on sandbox
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/lambdas-deploy-feature-to-sandbox.yml
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1240] Reduce width of NHS number input field
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1397] - Remove Jinja2 from requirements_test.txt
  lambdas/requirements/requirements_test.txt
Due: none

[PRMP-1348] - Updated broken components from the upgrade of nhsuk-frontend and nshuk-react-components
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1348] - Merged with main
  .lintstagedrc
Due: none

[PRMP-1257] address PR comment
  lambdas/models/nrl_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1397] - Remove Jinja2 from requirements_test.txt (#499)
  lambdas/requirements/requirements_test.txt
Due: none

[PRMP-1373] add fields to nrl attachment model
  lambdas/models/nrl_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1373] fix broken tests
  lambdas/models/nrl_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] rearrange code for readability
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
  lambdas/tests/unit/utils/test_ods_utils.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] add unit tests to cover service error scenarios
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/utils/test_ods_utils.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] expend test_create_document_reference_fhir_response test
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1284] refactor
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] remove change to script
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1284] change message body from json to dict
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1330] - Add service-updates-link to footer (#491)
  app/src/components/layout/footer/Footer.test.tsx
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1401] add condition to not build mns lambda on sandbox (#498)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/lambdas-deploy-feature-to-sandbox.yml
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1348] - Updated cypress tests to pass
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1355] Updated workflows to use newest available dependencies
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  .github/workflows/git-rename-tag.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/sonarcloud-analysis.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
Due: none

[PRMP-1287] update lambda error
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1074] Refreshing browser redirects to search patient page (#476)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/router/guards/patientGuard/PatientGuard.test.tsx
  app/src/router/guards/patientGuard/PatientGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1355] Removed the questionable ssm parameter dependency and implemented a work around
  .github/workflows/base-deploy-ui.yml
  .github/workflows/full-ui-dispatch-deploy.yml
Due: none

[PRMP-1342] - Fix import error
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1342: Create lambda to handle deleted document references (#487)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/document_retention.py
  lambdas/enums/lambda_error.py
  lambdas/enums/s3_lifecycle_tags.py
  lambdas/handlers/delete_document_object_handler.py
  lambdas/handlers/delete_document_reference_handler.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_delete_document_object_handler.py
  lambdas/tests/unit/handlers/test_delete_document_reference_handler.py
  lambdas/tests/unit/handlers/test_document_reference_search_handler.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/helpers/data/dynamo/__init__.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_scan_response.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_stream.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/utils/test_dynamo_utils.py
  lambdas/utils/decorators/override_error_check.py
  lambdas/utils/decorators/validate_dynamo_stream_event.py
  lambdas/utils/dynamo_utils.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1421] add workflow_call for dev-to-main
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

starts to remove inline css
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1421] add workflow_call for dev-to-main (#504)
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[PRMP-1421] add secret to workflow call
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[PRMP-1421] Workflow credentials fix (#505)
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[PRMP-1421] add repo in checkout
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-test.yml
Due: none

[PRMP-1287] implement logic to include SNOMED code in API call
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] modify NRL pointer url to start with dr:// protocol with in tests and include snomed code with id
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1284] include snomed code in pointer creation
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] fix unit test import, move try block up
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1284] add https to r4 base model
  lambdas/models/fhir/R4/base_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
