Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-791] - write tests for the content of the page
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-712] - change content of start page first paragraph (#403)
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Added logic to check stringlists for Clinical and PCSE (#405)
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated tests and logic for checking Role Code is In returned list
  lambdas/services/login_service.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-791] - add new content to unautherised error page
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-791] - remove unused import
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Prmp 792 add multiple roles for gp clinical and pcse (#407)
  lambdas/services/login_service.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP 710 - Change of service name on start page and page titles (#406)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
  app/src/components/layout/header/Header.test.tsx
  app/src/components/layout/header/Header.tsx
  app/src/helpers/hooks/useTitle.test.tsx
  app/src/helpers/hooks/useTitle.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Prmp 791 - Content change to unauthorised access page (#408)
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-752] remove write_empty_report logic from report_handler in BulkUploadService
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-752] remove write_empty_csv logic from BulkUploadReportService and tests
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-752] ammend log message to include the reason why there is no report file to upload
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-752] test logger is being called with expected message
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-752] remove commented out test that tests writing an empty file
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-752] remove unnecessary file name from test
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-749] made recommended changes
  lambdas/enums/death_notification_status.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/enums/test_death_notification_status.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-752 Remove creation of empty txt file for bulk upload reporting (#409)
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-749 - Bulk Upload: Reject deceased patients (#404)
  lambdas/enums/death_notification_status.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/mock_data/pds_patient_9000000001_X4S4L_pcse.json
  lambdas/services/mock_data/pds_patient_9000000002_H81109_gp.json
  lambdas/services/mock_data/pds_patient_9000000003_H85686_gp.json
  lambdas/services/mock_data/pds_patient_9000000004_M85143_gp.json
  lambdas/services/mock_data/pds_patient_9000000005_not_active.json
  lambdas/services/mock_data/pds_patient_9000000025_restricted.json
  lambdas/services/mock_data/pds_patient_9000000100_H81109_gp_no_period_fields_in_name.json
  lambdas/services/mock_data/pds_patient_9000000101_H81109_gp_no_given_name.json
  lambdas/services/mock_data/pds_patient_9000000102_M85143_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000103_M85143_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000104_M85143_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000105_M85143_gp_given_name_with_two_separate_strings.json
  lambdas/services/mock_data/pds_patient_9000000106_M85143_gp_with_temp_name.json
  lambdas/services/mock_data/pds_patient_9000000201_M85143_deceased_informal.json
  lambdas/services/mock_data/pds_patient_9000000202_M85143_deceased_formal.json
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/utils/exceptions.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

RMP-751 add SUSP to PDS model
  lambdas/models/pds_models.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-710-2] changed support e2e test
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-710-2] changed support e2e test (#411)
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

RMP-751 add SUSP to PDS model (#410)
  lambdas/models/pds_models.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add edge presign placeholder lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add new variables for lamda@edge action
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

Remove region required from edge action
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

Fix configure region for role in action
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

Fix typo in aws role assume
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

Add new lambda edge action
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Remove lambda layer from edge functions
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Add zip step to edge lambda build
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Fix typo in zip command
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Update github actions to add lambda layer on edge region
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Add additional logic for default layering
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove auth logging from handler
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Cleanup edge placeholder script
  lambdas/handlers/edge_presign_handler.py
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix lambda layer logic
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambda layer default logic
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert lambda layer logic
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-295] - replace log out text in nav bar with sign out
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/components/layout/navLinks/NavLinks.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add logging for lambda config response
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
