Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-155] fix smoke test data
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/fixtures/dynamo-db-items/active-patient.json
  app/cypress/support/patients.ts
  lambdas/services/mock_data/pds_patient_9730153817_H81109_gp.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-229] Performance Testing for Full Stitching Process (#662)
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/mock_pds_service.py
  lambdas/utils/utilities.py
  tests/bulk-upload/scripts/run_bulk_upload.py
  tests/bulk-upload/scripts/test_updated_setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-337] nhsuk-frontend warnings & upgrade (#660)
  app/package-lock.json
  app/package.json
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[NDR-100] mns update change
  lambdas/services/document_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-70 found out pikepdf is faster
  lambdas/enums/lambda_error.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] Added insufficient_data slack emoji
  lambdas/enums/alarm_severity.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229]- renamed updated bulk upload to performance bulk-upload.yml renamed PDS_FHIR_ALWAYS_TRUE to BYPASS_PDS
  .github/workflows/performance-base-run-bulk-upload.yml
  .github/workflows/performance-run-bulk-upload-test.yml
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/bulk_upload_service.py
  lambdas/utils/utilities.py
  tests/bulk-upload/scripts/performance_setup_bulk_upload.py
  tests/bulk-upload/scripts/run_bulk_upload.py
  tests/bulk-upload/scripts/test_performance_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229]- added option to create the pipepine
  .github/workflows/performance-base-run-bulk-upload.yml
Due: none

[PRMT-229]- removed option to create the pipepine
  .github/workflows/performance-base-run-bulk-upload.yml
Due: none

[PRMT-229]- updated error
  .github/workflows/performance-run-bulk-upload-test.yml
Due: none

[PRMT-371] - MockLoginRedirectService when feature flag MockLoginEnabled = true
  lambdas/enums/feature_flags.py
  lambdas/handlers/login_redirect_handler.py
  lambdas/services/dynamic_configuration_service.py
  lambdas/services/mock_login_redirect_service.py
  lambdas/tests/unit/services/test_dynamic_configuration_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] added jinja2 to core lambda layer
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

Allow decryted
  lambdas/services/base/aws_param_extension_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds full stop
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-155] Group by NHS number and ODS code on Bulk Upload SQS message (#661)
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/support/patients.ts
  lambdas/models/staging_metadata.py
  lambdas/services/bulk_upload_metadata_service.py
  lambdas/services/mock_data/pds_patient_9000000009_X4S4L_pcse.json
  lambdas/services/mock_data/pds_patient_9000000017_H81109_gp.json
  lambdas/services/mock_data/pds_patient_9000000033_not_active.json
  lambdas/services/mock_data/pds_patient_9000000041_H81109_gp_no_period_fields_in_name.json
  lambdas/services/mock_data/pds_patient_9000000068_M85143_gp.json
  lambdas/services/mock_data/pds_patient_9000000076_M85143_gp_given_name_with_two_separate_strings.json
  lambdas/services/mock_data/pds_patient_9000000084_H85686_gp.json
  lambdas/services/mock_data/pds_patient_9000000092_H81109_gp_no_given_name.json
  lambdas/services/mock_data/pds_patient_9000000114_M85143_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000122_M85143_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000130_M85130_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000149_M85143_deceased_informal.json
  lambdas/services/mock_data/pds_patient_9000000157_M85143_deceased_formal.json
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/bulk_upload/metadata_with_duplicates_different_ods.csv
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_mock_pds_api_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates tests to use nhs phase banner
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove test update
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- removed commented code
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-371 updated host to capitalised
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- added unit tests
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- fixed comments
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated act import for tests
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] initial overwritten functions
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Modify mock userInfo response
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- fixed comments
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70]- fixed test
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] Addressing PR comments
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] Changing CreatePatientSearchInvalid fhir coding
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] fix unit test
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Update mock userInfo response and redirect url
  lambdas/handlers/login_redirect_handler.py
  lambdas/services/mock_login_redirect_service.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Modify mock login url
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] fix import
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Remove debugging logs
  lambdas/services/mock_login_redirect_service.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds vi.await to async tests to fix them for react 19
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-435]- Add batching to manual trigger when adding entires to the queue
  lambdas/services/base/sqs_service.py
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update cypress/react package
  app/cypress/support/component.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] updated the login_service to use mocked functions
  lambdas/services/login_service.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
