Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMT-155] update stubbed patient data to valid modulus 11 numbers
  lambdas/services/mock_data/pds_patient_9000000033_not_active.json
  lambdas/services/mock_data/pds_patient_9000000041_H81109_gp_no_period_fields_in_name.json
  lambdas/services/mock_data/pds_patient_9000000068_M85143_gp.json
  lambdas/services/mock_data/pds_patient_9000000076_M85143_gp_given_name_with_two_separate_strings.json
  lambdas/services/mock_data/pds_patient_9000000084_H85686_gp.json
  lambdas/services/mock_data/pds_patient_9000000092_H81109_gp_no_given_name.json
  lambdas/services/mock_data/pds_patient_9000000114_M85143_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000122_M85143_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000130_M85130_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000149_M85143_deceased_informal.json
  lambdas/services/mock_data/pds_patient_9000000157_M85143_deceased_formal.json
  lambdas/services/mock_data/pds_patient_9000000165_H81109_gp.json
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-125] Allow for usage on dev and test
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates NHS front end package
  app/package-lock.json
  app/package.json
Due: none

[PRMT-229] - minor fix
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates package lock
  app/package-lock.json
Due: none

[NDR-100] bug fixes
  lambdas/models/document_reference.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-71] Improve efficiency of LG download (#637)
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/styles/App.scss
  lambdas/services/base/s3_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/services/pds_api_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed dupplciated
  lambdas/services/base/s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-155] removed unused imports in test_pdf_stitching_service
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

test using number
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

test using number
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

test using number
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

test using number
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

reverted number differences in github action
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

deleted a method
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-97] upload lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/base/s3_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/tests/unit/handlers/test_post_fhir_document_reference_handler.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed unnused variables
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fixed variable initialization
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

testing with all variables
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

testing with only STAGING_BUCKET variable
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

delete unused variables
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

testing removing copy_to_s3 method
  lambdas/services/mock_pds_service.py
  tests/bulk-upload/scripts/test_updated_setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

copy_to_s3 method
  tests/bulk-upload/scripts/test_updated_setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed wrong access
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added STAGING_BUCKET
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] Initial setup of page and form
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-229]-addressed ticket comments
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229]-addressed ticket comments
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] updated mock login page
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329]- get username and password in the form
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329]- created MockRoleSelectPage.tsx
  app/src/pages/mockRoleSelectPage/MockRoleSelectPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329]- use env variable to only ask for login credentials in development environments
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329]- added tests
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.test.tsx
  app/src/pages/mockCis2LoginPage/MockCis2LoginPage.tsx
  app/src/pages/mockRoleSelectPage/MockRoleSelectPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-126] add condition to search lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-126] Github condition on search lambda (#663)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none
