Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRM-134] implement alarm history tracking
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update rename logic
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add rejections file code
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/unprocessed/failures.csv
  lambdas/tests/unit/helpers/data/bulk_upload/unprocessed/rejected.csv
  lambdas/tests/unit/helpers/data/bulk_upload/unprocessed/unprocessed_metadata.csv
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] add else clause if entry already exists in table
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added test for processing row
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - small refactor
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated how to extract file name to allow for
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - declared variable type in method
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update test cases
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - gather extension from file
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add check for rejected
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added parametrize
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Passes props through to unauthorised login page
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-134] introduce checking alarm state for related alarms
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated date collection
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Changes error response to include test roles
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  lambdas/services/login_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

REset test for auth callback
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Console logging error
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Revert error to old state
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added pytest parametrize to some tests
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds 401 error handling to token handler
  lambdas/handlers/token_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added pytest parametrize to rest of the tests
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-72] - Add SSM parameter names for roles and ODS codes
  lambdas/utils/constants/ssm.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-72] - Allow ITOC and allowed list permission to access NDR
  lambdas/enums/lambda_error.py
  lambdas/services/login_service.py
  lambdas/services/ods_api_service.py
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added extra validation to extracting document path
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

tteryer
  app/package-lock.json
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add deduplication logic
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

86utty
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-134] introduce ttl on alarm entries
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - wip
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

integrate renaming map logic into the thread executor
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] introduce service for IMAlerting]
  lambdas/enums/alarm_history_fields.py
  lambdas/handlers/teams_alerting_handler.py
  lambdas/models/alarm_entry.py
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - wip
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix renaming map logic
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/unprocessed/unprocessed_metadata.csv
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Gets roles from token handler via error
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
  lambdas/handlers/token_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated how to extract document path
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Dynamically render roles on unauthorised login page
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Strip leading slash from copy and move
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

revert change to ssm params
  lambdas/utils/constants/ssm.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
