Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Removes story files from sonar exclusions as they no longer exist
  sonar-project.properties
Due: none

[PRMP-1581] reordering columns in report
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1699] find ICB role and add to token
  lambdas/enums/repository_role.py
  lambdas/services/login_service.py
  lambdas/services/ods_api_service.py
  lambdas/tests/unit/handlers/test_token_handler.py
  lambdas/tests/unit/helpers/data/ods/ods_organisation_response.py
  lambdas/tests/unit/helpers/data/ods/ods_response_not_gp_or_pcse.json
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1691] Update SonarSource/sonarqube-scan-action to v5 (#579)
  .github/workflows/sonarcloud-analysis.yml
Due: none

[PRMP-1699] Change name to icb_ods_code
  lambdas/services/ods_api_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1699] Remove remains of bsol in code
  lambdas/enums/repository_role.py
  lambdas/tests/unit/helpers/data/ods/ods_organisation_response.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1699] grammar fix
  lambdas/services/ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1559] Delete unstitched document references on delete
  lambdas/handlers/delete_document_reference_handler.py
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix tests
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1706] Remove all bsol logic
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_ADMIN.json
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_CLINICAL.json
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useIsBSOL.test.tsx
  app/src/helpers/hooks/useIsBSOL.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/sessionProvider/SessionProvider.test.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
  app/src/types/blocks/userAuth.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1706] unit tests fix
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1706] remove trailing comma
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_ADMIN.json
  app/cypress/fixtures/requests/auth/GET_TokenRequest_GP_CLINICAL.json
Due: none

Fix tests (#586)
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1707] remove nems logic
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/feature_flags.py
  lambdas/enums/fhir/fhir_resource_types.py
  lambdas/enums/nems_error_types.py
  lambdas/handlers/nems_message_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/data/sqs_messages/address_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/gp_change_valid_message.xml
  lambdas/tests/unit/data/sqs_messages/invalid_message_with_no_header.xml
  lambdas/tests/unit/handlers/test_process_nems_message.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_fhir_bundle_parser.py
  lambdas/utils/fhir_bundle_parser.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update cypress to latest
  app/package-lock.json
  app/package.json
Due: none

[PRMP-1695] - Update NSD contact number (#580)
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1580] NHSOAuthTokenGenerator lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/nhs_oauth_token_generator_handler.py
  lambdas/services/base/nhs_oauth_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_nhs_oauth_token_generator_handler.py
  lambdas/tests/unit/services/base/test_nhs_oauth_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add missing line to add gp ods
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1708] Add missing CurrentGpOds field to stitched record in DynamoDb (#590)
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Added check in cypress login command to ensure home page is loaded before moving on
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1519] - Fix long name overflow on small screen sizes
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1519] - Fix spacing between givenName and familyName
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1710] add check for not deceased when patient is inactive
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1710] add unit tests
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1710] Change inactive patient search error (#592)
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1555] add stats for ods report
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/models/report/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/services/statistical_report_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1555] fix logs
  lambdas/services/statistical_report_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1581] add filter for non-existing columns
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1555] fix unit tests
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1699] Replace isBSOL with ICB ODS code (#585)
  lambdas/enums/repository_role.py
  lambdas/services/login_service.py
  lambdas/services/ods_api_service.py
  lambdas/tests/unit/handlers/test_token_handler.py
  lambdas/tests/unit/helpers/data/ods/ods_organisation_response.py
  lambdas/tests/unit/helpers/data/ods/ods_response_not_gp_or_pcse.json
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1555] fix unit tests
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix cypress
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Implement new PDF viewer fullscreen
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/progressBar/ProgressBar.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/components/layout/Layout.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/sessionProvider/SessionProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add responsive handling for zooming on smaller screen
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

fix button style and record action links
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add browser fullscreen toggle
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1581] Update Statistical Report - Audit of access to deceased patient by ods (#582)
  lambdas/handlers/access_audit_handler.py
  lambdas/models/report/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1591] Remove Storybook (#584)
  Makefile
  app/.storybook/main.ts
  app/.storybook/preview.tsx
  app/package-lock.json
  app/package.json
  app/src/components/generic/backButton/BackButton.story.ts
  app/src/components/generic/patientSimpleSummary/PatientSummary.story.tsx
  app/src/components/generic/patientSummary/PatientSummary.story.tsx
  app/src/components/generic/spinner/Spinner.story.tsx
  app/src/components/generic/spinnerButton/SpinnerButton.story.tsx
  app/src/components/generic/warningText/WarningText.story.tsx
  app/src/components/layout/Layout.story.tsx
  app/src/components/layout/errorBox/ErrorBox.story.ts
  app/src/components/layout/header/Header.story.tsx
  app/src/components/layout/navLinks/NavLinks.story.tsx
  app/src/components/layout/serviceErrorBox/ServiceErrorBox.story.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.story.tsx
  app/src/pages/feedbackPage/FeedbackPage.story.tsx
  app/src/pages/patientResultPage/PatientResultPage.story.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.story.tsx
  app/src/pages/roleSelectPage/RoleSelectPage.story.tsx
  app/src/pages/startPage/StartPage.story.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.story.tsx
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
