Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

PRMP-784 change nhs_number property to id
  lambdas/services/bulk_upload_service.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-784 update cryptography package
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

PRMP-784 fix unit test
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-784 add unit test
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix tests and add enums for cloudfront testing
  lambdas/services/edge_presign_service.py
  lambdas/tests/unit/enums/test_edge_presign_values.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/services/test_edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add mock cloudfront enum value
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-784 fix test sonar issue
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix import statements for handle_lambda_exceptions
  lambdas/handlers/authoriser_handler.py
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/handlers/data_collection_handler.py
  lambdas/handlers/logout_handler.py
  lambdas/handlers/nems_message_handler.py
  lambdas/handlers/statistical_report_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-784 more unit tests
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-784 more unit tests for coverage
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-763] removed unused environment variables
  lambdas/handlers/update_patient_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix bug in not called table name
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Unify conditional update and update item for dynamo
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix error when returning messages to FIFO queues
  lambdas/services/base/sqs_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix formatting of cloudfront
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
  lambdas/tests/unit/enums/test_edge_presign_values.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_edge_presign_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Upgrade cryptography versioning
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

[PRMP-786] Add CloudFront and Lambda@Edge to Allow Pre-signed URLs
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  Makefile
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/edge_presign_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/scripts/lambda_layer_update.py
  lambdas/scripts/update_cloudfront.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/enums/test_edge_presign_values.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_edge_presign_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/utils/decorators/handle_edge_exceptions.py
  lambdas/utils/edge_response.py
  lambdas/utils/lambda_exceptions.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Hotfix lambda zip deployment
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
Due: none

Fix lambda zip issue
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
Due: none

Typo in workflow
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

Dynamo update_item fix
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmdr-786 - Improve Lambda Edge deployments
  .github/workflows/base-lambdas-edge-deploy.yml
  Makefile
  lambdas/services/base/dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add placeholder workflows
  .github/workflows/base-batch-update.yml
  .github/workflows/batch-update-deploy-to-sandbox.yml
Due: none

[PRMP-767] - add new content to privacy page and fix tests that are broken accordingly
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP 784 - Ingesting records based on historical name (#418)
  lambdas/enums/upload_status.py
  lambdas/models/bulk_upload_status.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
  lambdas/tests/unit/models/test_bulk_upload_status.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-763 pds changes
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/pds_models.py
  lambdas/services/mock_data/pds_patient_9000000202_M85143_deceased_formal.json
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-912 remove exception
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-763 rebase main
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-912 DECE and SUSP handling (#419)
  lambdas/enums/patient_ods_inactive_status.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/mock_data/pds_patient_9000000202_M85143_deceased_formal.json
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-767] - fix broken cypress test
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update yml
  .github/workflows/batch-update-deploy-to-sandbox.yml
Due: none

[PRMP-767] - add new tests for the new content
  app/src/pages/privacyPage/PrivacyPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-895 Accept deceased patients
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-763: Initialise placeholder workflows for ods batch update (#423)
  .github/workflows/base-batch-update.yml
  .github/workflows/batch-update-deploy-to-sandbox.yml
Due: none

PRMP-763: Fix yml syntax in base-batch-update
  .github/workflows/base-batch-update.yml
Due: none

PRMP-763: Fix yml syntax in base-batch-update (#424)
  .github/workflows/base-batch-update.yml
Due: none

[PRMP-767] store gdpr link in a const and reuse
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-767] modify the headers and separate different h1 sections into section elements
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-754] - Return custom ApiGatewayResponse LambdaError
  lambdas/enums/lambda_error.py
  lambdas/utils/decorators/handle_lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-895 Add unit test
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
