Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMDR-855] start replacing aggregate function with polars
  lambdas/requirements-test.txt
  lambdas/services/spike-855-polars.ipynb
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] add return to medical record button back in
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add console log
  app/src/components/generic/documentsListView/DocumentsListView.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add console logs
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add console logs
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] use polars for data processing in stat report lambda
  .gitignore
  lambdas/services/spike-855-polars.ipynb
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] add console logs
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] change selected docs type
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] change documents list function
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] change id to lowercase in metadata field names
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  lambdas/enums/metadata_field_names.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] revert lambda changes and make ID caps in UI
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/searchResult.ts
  lambdas/enums/metadata_field_names.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] remove logs, amend sort and remove unreachable condition in return button method
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add return button for delete after download to test if it works
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] code refactoring, add metric `Average size of documents per patient`
  lambdas/models/statistics.py
  lambdas/services/data_collection_service.py
  lambdas/services/logs_query_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] refactor card header
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add new unit test for remove stage
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add sort by file name method
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-881] Changed file key for stitched lloyd george files to not contain any personal info
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-803] change sort method
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

code fixes alongside cypress test updates
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/error-messages.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.test.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/router/AppRouter.tsx
  app/src/router/guards/roleGuard/RoleGuard.test.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] Edit method of sortByFileName, Some accessibility fix
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] address sonar cloud issues
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] add unit test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] Add cypress tests for download file selecting screen
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] fix not passing cypress test
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix routes unit tests
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

jest tests updated inline with stage to navigation modifications
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add all rendering tests
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] content changes
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] content changes
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add navigation tests
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove unused variables
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-855] handle empty string ods_code, which may cause client error at runtime
  lambdas/models/statistics.py
  lambdas/tests/unit/models/test_statistics_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-881] minor refactoring
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/utils/dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-803] use test builder
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
