Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] change order of log messages
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] add extra logs for get pointer
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] reformat log messages
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1074] Removed unused import
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1331] Updated p headers to us h2 and h3 on download and delete confirm pages
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1257] update UserId log
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1332] Updated download and remove options to not be list items on view document page
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1122 add attachment to pointer
  lambdas/models/nhs_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_s3_repository.py
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1260 Removed Start Again link from remove LGR page (#471)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP 1277 - Add Search for patient Control F text to Available records screens (#474)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

changes search for patient text to search for a patient (#475)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1331] Updated p headers to us h2 and h3 on download and delete confirm pages (#480)
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1188] address PR comments
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1122 add url to attachment
  lambdas/models/nhs_document_reference.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1122 debogging changes
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1122 unit tests
  lambdas/repositories/bulk_upload/bulk_upload_s3_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1122 remove size, created and title from pointer
  lambdas/models/nrl_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_s3_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

moves update and delete links from within a list
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] intial commit
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/models/nrl_document_search_request.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmp-1287 tidy up code
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] start to implement user validation
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/helpers/data/dynamo_responses.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] Address code review comments
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/nrl_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1349] Added NHS heading classes to headings
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

prmp-1287 add call to create url
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmp-1287 remove unnecessary env vars
  lambdas/handlers/nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removes fieldset from search for patient screen
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnessecary import
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

prmp-1287 optional index name in dynamo service
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmp-1185 change sandbox name from test to ndr-test
  .github/workflows/subscribe-to-mns.yml
Due: none

prmp-1185 change step name in github actions workflow
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1267] PCSE additional role fix (#478)
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Prmp 1349 - Add NHS class to headers (#481)
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1122] Create NRL pointer during bulk upload (#463)
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmp-1287 rearrange services order
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
