Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-311 - Unify the wording of back links as "Go back" (#377)
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/components/generic/backButton/BackButton.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-914] addressing PR comments
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/base/s3_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] move number of files update within the use effect
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-390] reversing change in LGdownloadComplete
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

replace hardcoded field names with enum doc refs, rename method get_average_number_of_file_per_patient -> get_average_number_of_files_per_patient
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

rename class CloudwatchLogsQueryService --> CloudwatchService
  lambdas/services/base/cloudwatch_service.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/base/test_cloudwatch_logs_query_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] add checks to cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-914] add a singleton to iam service
  lambdas/services/base/iam_service.py
  lambdas/tests/unit/services/base/test_iam_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] tests fix
  lambdas/tests/unit/services/base/test_iam_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] changing ternary for readability
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-914 new IAM service for presigned url (#374)
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/document_manifest_by_nhs_number_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/base/iam_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/base/test_iam_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] move numberOfFilesForDownload outside of the use effect
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-0000: Fix IAM role assume role session name
  lambdas/services/base/iam_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/models/test_bulk_upload_status.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/base/test_iam_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-0000: Fix IAM role assume role session name (#379)
  lambdas/services/base/iam_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/models/test_bulk_upload_status.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/base/test_iam_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-310] add unit test for spinner button, make spinner button appear when deletion taken place
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-390 LG Download number of files fix (#378)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-310] remove unused prop setIsDeletingDocuments
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unused mock function
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-310 - LG "Remove all files" show Spinner button (#380)
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-390] adding feature flag to all upload lambdas
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] unit test for disable flag
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Take pds call logic out of validate_lg_files, add a method to append ods code to doc ref
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

minor fix
  lambdas/tests/unit/helpers/data/test_documents.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-305] Add currentGpOds for LG upload files in createDocRef service
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Disable all upload journey lambdas
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix tests
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

move a shared test data to conftest
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] change the bucket for ARF upload to staging bucket, rename test variable MOCK_LG_STAGING_STORE_BUCKET --> MOCK_STAGING_STORE_BUCKET
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] add sub_folder to ARF upload document reference
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

(WIP) [PRMP-305] check for LG doc existence and retrieve patient detail earlier in createDocRef lambda
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-305] Add currentGpOds during doc ref creation, remove method that patch ods code to LG dictionary
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-305] remove duplicated calls to pds
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

bump up urllib3 version (to address vulnerabilities)
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

fix dep conflict
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/requirements_github_runner.txt
Due: none

add a batch script that populate the following missing columns in dynamodb table: uploaded, uploading, last_updated
  lambdas/scripts/dynamodb_migration_20240618.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-305 - "CurrentGpOds" field is empty when LG file uploaded from front end (#382)
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/requirements_github_runner.txt
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] add check for uploading docs
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] add a method that remove imcomplete arf records
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] add unit test
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
