Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-143] typo fix
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/fhir/fhir_resource_message_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-143] Updating fhir error code
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_fhir_document_reference_handler.py
  lambdas/models/fhir/R4/operation_outcome.py
  lambdas/tests/unit/handlers/test_get_fhir_document_reference_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-174] Get rid of data
  lambdas/tests/e2e/api/__snapshots__/test_upload_document_api.ambr
  lambdas/tests/e2e/api/test_upload_document_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] implement sending of slack message
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] error raised if slack message fails
  lambdas/enums/lambda_error.py
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] add method to check against itoc email address
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-177] fix dob and nhs number formatting on upload complete stage
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add optional limit into dynamo query
  lambdas/handlers/fhir_document_reference_search_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-170] Move start upload trigger to uploading page
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove update to Status
  lambdas/services/document_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] implement itoc feedback being sent to slack
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/feedback/itoc_test_feedback.json
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-177] add UT for testing the actual patient details
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

cleanup
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-442] amend feedback handler to handle itoc feedback sending to slack
  lambdas/handlers/send_feedback_handler.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] remove comment from tests
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-170] rearrange tests accoding to updated logic
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-185] Fix nav links on go virus page and complete page
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updated pdf message message.
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

clean up imports
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-177] export getFormattedDateFromString functionality
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/helpers/utils/formatDate.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-466] amend action url creation
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-177] fix dob and nhs number formatting on upload complete stage (#740)
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/helpers/utils/formatDate.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-185] Fix nav links on go virus page and complete page (#744)
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updated pdf message message. (#745)
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-170] Move startUpload call into the DocumentUploadingStage (#743)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-150] Basic Performance Tests
  .gitignore
  lambdas/requirements/requirements_test.txt
  lambdas/tests/e2e/api/test_search_document_api.py
  lambdas/tests/e2e/performance/data/files/dummy.pdf
  lambdas/tests/e2e/performance/locustfile.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-187] add correlation id to logs
  lambdas/utils/decorators/set_audit_arg.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-188] fix and reuse full name logic from patient summary
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/helpers/utils/formatPatientFullName.test.tsx
  app/src/helpers/utils/formatPatientFullName.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updates actions/checkout to version 5
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-data-collection.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-e2e-backendtest.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/base-vitest-test.yml
  .github/workflows/codeql.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/git-rename-tag.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/sonarcloud-analysis.yml
  .github/workflows/subscribe-to-mns.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
  .github/workflows/updated-base-run-bulk-upload.yml
Due: none

[NDR-187] refactor changes
  lambdas/utils/decorators/set_audit_arg.py
  lambdas/utils/logging_formatter.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-187] add walrus operator
  lambdas/utils/decorators/set_audit_arg.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated to include Cypress. for all secrets
  app/cypress/support/aws.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-188] fix and reuse full name logic from patient summary (#749)
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/helpers/utils/formatPatientFullName.test.tsx
  app/src/helpers/utils/formatPatientFullName.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-523]- cleaned up migrations
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-173] Update Bulk Order Upload Process to clear LG stitch table
  lambdas/requirements/requirements_test.txt
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-187] E2e Test Changes
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-187] ID to Id in tests
  lambdas/tests/e2e/api/test_retrieve_document_api.py
  lambdas/tests/e2e/api/test_search_patient_api.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-143] E2e Test Snapshot Updates
  lambdas/tests/e2e/api/__snapshots__/test_retrieve_document_api.ambr
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
Due: none

[NDR-143] missing system in operation_outcome_coding
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
