Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRM-90] Added word break to delete record stage table cells
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-91] Added word break to nhsuk-table CSS
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRM-44] added overflow-y to fullscreen PDF view (#603)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRM-64] WCAG 3.3.2: missing labels on download checkboxes (#609)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRM-54: WCAG 2.4.3 focus order: view full screen button is out of order (#605)
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-92] Anywhere we use target="_blank" in the code has outer parentheses rem… (#608)
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/components/generic/serviceDeskLink/ServiceDeskLink.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.test.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/components/layout/serviceErrorBox/ServiceErrorBox.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.test.tsx
  app/src/pages/serverErrorPage/ServerErrorPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-52] remove issue
  lambdas/tests/unit/services/test_edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-52] Reformat edge service
  lambdas/services/edge_presign_service.py
  lambdas/tests/unit/services/test_edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-52] Changes to edge lambda to hide pre-sign url
  lambdas/handlers/edge_presign_handler.py
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/enums/test_edge_presign_values.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_edge_presign_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-52] Change expiry
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removed feature flag (downloadOdsReportEnabled)
  app/cypress/support/feature_flags.ts
  app/src/helpers/test/testBuilders.ts
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
  app/src/types/generic/featureFlags.ts
  lambdas/enums/feature_flags.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-58] Fix for Select Download File Checkboxes (#604)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/searchResult.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-52] PR changes
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/services/test_edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Renamed lloydGeorgeValidationStrictMode to lloydGeorgeValidationStrictModeEnabled
  .lintstagedrc
  lambdas/enums/feature_flags.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/tests/unit/handlers/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Renamed lloydGeorgeValidationStrictMode to lloydGeorgeValidationStrictModeEnabled
  .lintstagedrc
Due: none

Removed unused declarations
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-107] Separated LG view page LinkSections with divs
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adds aria-hidden to filename header
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-94] WCAG 3.3.1: Missing error summary for empty patient search (#611)
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fixes tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-64] WCAG 3.3.2: missing labels on download checkboxes (#614)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-90 & PRM-91] Added word break to nhsuk-table CSS (#615)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRM-107] Separated LG view page LinkSections with divs (#613)
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removed trailing space
  .lintstagedrc
  lambdas/enums/feature_flags.py
  lambdas/tests/unit/handlers/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed trailing space
  .lintstagedrc
Due: none

[PRM-135] Review Feature Flags (#612)
  app/cypress/support/feature_flags.ts
  app/src/helpers/test/testBuilders.ts
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/reportDownloadPage/ReportDownloadPage.tsx
  app/src/types/generic/featureFlags.ts
  lambdas/enums/feature_flags.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Added word break for file input stage file input button and example
  app/src/styles/App.scss
  lambdas/services/back_channel_logout_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-101] back links resize correctly with font size
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Replace New Service tag with NHS React component
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

create lambdat for teams alerting
  lambdas/handlers/teams_alert_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Remove batch update call
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert "Replace New Service tag with NHS React component"
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Moves New Service text to tag component
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-32] Update weekly ods update script
  .github/workflows/base-batch-update.yml
  lambdas/handlers/ecs/__init__.py
  lambdas/handlers/ecs/data_collection/Dockerfile
  lambdas/handlers/ecs/data_collection/__init__.py
  lambdas/handlers/ecs/data_collection/main.py
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Update GitHub Actions for data-collection
  .github/workflows/base-data-collection.yml
  .github/workflows/data-collection-deploy-to-sandbox.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
Due: none
