Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMDR-537] small refactor
  lambdas/services/zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

define arrange_zip_trace_obj
  lambdas/services/zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

exceptions created for generate manifest zip lambda
  lambdas/enums/lambda_error.py
  lambdas/services/zip_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added tests for zip service
  lambdas/models/zip_trace.py
  lambdas/services/zip_service.py
  lambdas/tests/unit/helpers/data/zip_trace_responses.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_zip_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] refactoring query all and fix tests
  lambdas/enums/lambda_error.py
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/login_service.py
  lambdas/services/statistical_report_service.py
  lambdas/services/zip_service.py
  lambdas/tests/unit/helpers/data/zip_trace_responses.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/tests/unit/services/test_zip_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] create generate document manifest handler lambda
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/services/zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] changes to ziptrace model
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/models/zip_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] add GenerateDocumentManifest to github actions
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMDR-537] fixing event errors
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/services/zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] add update_processing_status
  lambdas/enums/zip_trace.py
  lambdas/services/zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] refactor: rename variables in prepare_zip_trace_data
  lambdas/handlers/generate_document_manifest_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Add unicode utils method to check string starts_with and end_withs
  lambdas/tests/unit/utils/test_unicode_utils.py
  lambdas/utils/unicode_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Add helper to assert test not raising expection
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Add test cases to reflect changes in PDS name match requirement
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Adding unit tests, replace try except catch block with `expect_not_to_raise`
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Amend implementation according to new requirements
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Add mock patients to test bulk upload with new requirements
  lambdas/services/mock_data/pds_patient_9000000102_H81109_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000103_H81109_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000104_H81109_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000105_H81109_gp_given_name_with_two_separate_strings.json
Due: none

fix mistake in mock data (patient number not updated)
  lambdas/services/mock_data/pds_patient_9000000102_H81109_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000103_H81109_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000104_H81109_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000105_H81109_gp_given_name_with_two_separate_strings.json
Due: none

[PRMP-571] Update name comparison logic at frontend
  app/src/helpers/test/testDataForPdsNameValidation.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

edit mock patient to allow test with frontend
  lambdas/services/mock_data/pds_patient_9000000102_M85143_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000103_M85143_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000104_M85143_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000105_M85143_gp_given_name_with_two_separate_strings.json
Due: none

fix mock patient 103 missing gp ods code
  lambdas/services/mock_data/pds_patient_9000000103_M85143_gp_family_name_with_hyphen.json
Due: none

add tests for handler and service for post
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/enums/metadata_field_names.py
  lambdas/enums/supported_document_types.py
  lambdas/enums/zip_trace.py
  lambdas/enums/zip_trace_status.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_document_manifest_job_handler.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/utils/document_type_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

set conftest.py to be exclude from coverage
  sonar-project.properties
Due: none

continue unit testing
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/services/document_manifest_zip_service.py
  lambdas/tests/unit/services/test_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_zip_trace.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-538 - UpdateUploadState calls for ARF (#388)
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix merge conflict
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix missing import from merge conflict
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-539 - Upload confirmation failed (#389)
  app/src/components/blocks/_arf/uploadConfirmationFailed/uploadConfirmationFailed.test.tsx
  app/src/components/blocks/_arf/uploadConfirmationFailed/uploadConfirmationFailed.tsx
  app/src/components/blocks/_arf/uploadFailedStage/uploadFailedStage.test.tsx
  app/src/components/blocks/_arf/uploadFailedStage/uploadFailedStage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add new method to retrieve jobId
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

finish tests for post
  lambdas/enums/supported_document_types.py
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_service.py
  lambdas/tests/unit/models/test_zip_trace.py
  lambdas/utils/document_type_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-566 starting on generate_document_manifest_handler tests
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_document_manifest_zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

handler unit tests
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-571] Add logic to select the most recent name for patient
  lambdas/models/pds_models.py
  lambdas/services/mock_data/pds_patient_9000000106_M85143_gp_with_temp_name.json
  lambdas/tests/unit/helpers/data/pds/test_cases_for_date_logic.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

improve test coverage
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566 refactor]: zip trace model uses enum for job status, continuation of handler tests
  lambdas/enums/lambda_error.py
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/models/zip_trace.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/services/test_document_manifest_zip_service.py
  lambdas/utils/decorators/ensure_env_var.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-568] Start implementing method to poll for presigned url
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-566] refactor: create manifest zip handler in generate document manifest handler
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] finished handler testing
  lambdas/handlers/generate_document_manifest_handler.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-566] change file path for test imports, uncomment tests
  lambdas/models/zip_trace.py
  lambdas/services/document_manifest_service.py
  lambdas/tests/unit/handlers/test_generate_document_manifest_handler.py
  lambdas/tests/unit/services/test_document_manifest_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add type for document manifest get request
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/getPresignedUrlForZip.ts
  app/src/types/generic/downloadManifestJobStatus.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
