Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverted the previous change
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Attempted fix for return_dtype warning
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-16] Add new class needed for multiple tickets (#707)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[NDR-183] Bulk upload missing scan_date field in metadata (#700)
  lambdas/models/document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Attempt to fix, warning: Accessing this attribute on the instance is deprecated, and will be removed in Pydantic V3.
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverted last change
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Attempt to fix warning: Expected `str` but got `bool` with value `True` - serialized value may not be as expected
  lambdas/models/stitch_trace.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- updated logs
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/services/bulk_upload_metadata_service.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- removed comments and simplified the get metrics method
  lambdas/services/base/cloudwatch_service.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-79] Rename DocumentReference to CreateDocumentReference
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- updated the called method
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-176] Need to fix handling of multiple cancelled
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/helpers/lloyd_george_data_helper.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-192] Disable all PDS FHIR Stubs and improve messaging on the workflow
  .github/workflows/full-deploy-to-sandbox.yml
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-192] Prevent KeyError
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-192] Remove abillity to switch the PDS Stub back on
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-192] Paginate
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-20] Refactor DocumentSelectOrderStage and DocumentUploadLloydGeorgePreview components for
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-176] Search Tests with Snapshots (#701)
  Makefile
  lambdas/requirements/requirements_test.txt
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/helpers/__init__.py
  lambdas/tests/e2e/helpers/lloyd_george_data_helper.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- removed commented line
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Refactor DocumentSelectOrderStage and DocumentUploadLloydGeorgePreview components to remove unused props and improve rendering logic
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] add nhs number to mock virus scan
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/mock_virus_scan_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/utils/test_mock_virus_scan_service.py
  lambdas/utils/common_query_filters.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] unit test fix
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] Changing the get fhir doc handler decorator to the correct one
  lambdas/handlers/get_fhir_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] Mock OIDC Service (#672)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/lambdas-deploy-feature-to-sandbox.yml
  .github/workflows/lambdas-deploy-to-test.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  Makefile
  lambdas/handlers/mocks/login_redirect_handler.py
  lambdas/handlers/mocks/token_handler.py
  lambdas/services/login_service.py
  lambdas/services/mock_login_redirect_service.py
  lambdas/services/mock_oidc_service.py
  lambdas/services/oidc_service.py
  lambdas/tests/unit/handlers/test_login_redirect_handler.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/utils/constants/routes.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] Mock login screen (#674)
  .github/workflows/ndr-smoketest-ui-test-ci.yml
  .github/workflows/ui-smoketest.yml
  app/.env.template
  app/cypress.config.ts
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_summary_report_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/mockLoginPage/MockLoginPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/endpoints.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-192] Improved names
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-74] Implement document upload confirmation page
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/generic/pagination/Pagination.test.tsx
  app/src/components/generic/pagination/Pagination.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-534] Fixed Failing Smoke Tests
  .github/workflows/base-cypress-smoketest.yml
Due: none

[PRMT-534] Change required secrets names
  .github/workflows/base-cypress-smoketest.yml
Due: none

Restored setMergedPdfBlob prop to DocumentSelectOrderStage and DocumentUploadLloydGeorgePreview components. Optimised Error collection and state.
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

changed setFormError to setError
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] Fhir docment ref upload check lambda (#670)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/document_reference_virus_scan_handler.py
  lambdas/handlers/get_fhir_document_reference_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/mock_virus_scan_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_document_reference_virus_scan_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
  lambdas/tests/unit/utils/test_mock_virus_scan_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-158] remove upload complete check by default (#681)
  lambdas/handlers/document_reference_search_handler.py
  lambdas/handlers/fhir_document_reference_search_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/handlers/test_fhir_document_reference_search_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Implement choose files page
  app/.prettierignore
  app/.prettierrc
  app/package.json
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/styles/App.scss
  app/src/styles/index.css
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-79] WIP authoriser changes for CreateDocumentReference
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/authoriser_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove new line to get actions to run again
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-462] Schedule start and stop for bulk upload ingestion (#691)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/toggle_bulk_upload_handler.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverted the bool to string change for deleted parameter on stich
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-428] Decommission Firefox tests (#702)
  .github/workflows/base-cypress-test-all-env.yml
Due: none

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
