Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Focus only on dev for this PR
  .github/workflows/run-bulk-upload-preprod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Remove stub on search patient for the Lambda
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update unit tests
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Update README
  tests/bulk-upload/README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1567] Remove Markdown
  tests/bulk-upload/README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-1567] Use 'ndr' as default
  .github/workflows/run-bulk-upload-dev.yml
Due: none

fixes tests
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/layout/header/Header.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changes test to use testId
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1567] Do a Bulk Upload on Full Deploy as an option
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1567] Check on bool do not try and equate to 'true'
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1567] Add Secret
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1567] Add dependent job
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

Changes smoketests to look for new frontend container
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Started to implement AWS RUM on frontend
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
  app/.env.template
  app/package-lock.json
  app/package.json
  app/react-build-env-checker.js
  app/react-environment-config.sh
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Sets smoketests to run on this branch to check changes to smoke tests
  .github/workflows/ui-smoketest-ci.yml
Due: none

Adds file to trigger workflow
  app/fake-file.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Added the find in pdf using control f text back in conditionally
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1567] Bulk Upload Test and preprod
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Fix Preprod naming
  .github/workflows/run-bulk-upload-pre-prod.yml
Due: none

Adds fix to smoketest
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PR changes, and use scan_whole_table instead of scan_table
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] Report by ODS Code Lambda
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  Makefile
  lambdas/enums/dynamo_filter.py
  lambdas/enums/feature_flags.py
  lambdas/enums/file_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/layers/requirements_reports_lambda_layer.txt
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_stream.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
  lambdas/tests/unit/utils/test_dynamo_query_filter_builder.py
  lambdas/utils/decorators/validate_dynamo_stream_event.py
  lambdas/utils/dynamo_query_filter_builder.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1569] Re-add Control + F search text in PDF Viewer
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Reverts changes made for testing
  .github/workflows/ui-smoketest-ci.yml
  app/fake-file.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adds units to new css classes
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Adds unit to all margins
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Implemented AWS RUM code and variables needed
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-deploy-ui.yml
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Some changes to variable names
  .github/workflows/base-deploy-ui.yml
  .github/workflows/sonarcloud-analysis.yml
Due: none

Removed logging and corrected conditional check against environment
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updated github_env to github_output to be used in subsequent job
  .github/workflows/base-deploy-ui.yml
Due: none

Reverted to Github Env
  .github/workflows/base-deploy-ui.yml
Due: none

Reverted to outputs and added debugging
  .github/workflows/base-deploy-ui.yml
Due: none

Updated tsx to use Default script code from AWS
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changed Account id to REACT_APP_MONITOR_ACCOUNT_ID
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1579] enable MNS on sandbox
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1579] comment out sending message back to MNS queue
  lambdas/services/process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

ignore linter and log info, define awsRum const
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

ignore es-lint awsRum
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Moved awsRum into App instead of index
  app/src/App.tsx
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

test no initialzed
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
