Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-221] Update pdfjs worker script and add move file script (#760)
  Makefile
  app/.gitignore
  app/Dockerfile
  app/package-lock.json
  app/public/pdf.worker.mjs
  app/src/index.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-442] add teams messaging implementation
  lambdas/handlers/send_feedback_handler.py
  lambdas/models/templates/itoc_feedback_teams_message.json
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/feedback/mock_itoc_teams_message.json
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix ESlint warnings
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/genericErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
  app/src/types/pages/genericPageErrors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-442] add negative test for teams message sending
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-422] format
  lambdas/handlers/send_feedback_handler.py
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

address PR comments
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/errorMessages.ts
  app/src/helpers/utils/feedbackErrorMessages.ts
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/types/pages/genericPageErrors.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-204] enable get fhir document reference lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Refactor removing_previous_uploads to truncate multiple tables in a loop
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- Created a copy of bulk upload service
  lambdas/enums/lambda_error.py
  lambdas/handlers/mocks/token_handler.py
  lambdas/handlers/token_handler.py
  lambdas/services/bulk_upload_service_v2.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
  lambdas/utils/audit_logging_setup.py
  lambdas/utils/logging_formatter.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- refactored building staging metadata
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- refactored validate entry
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-204] enable get fhir document reference lambda (#762)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-210] adding PCSE ods code to custodian
  lambdas/services/bulk_upload_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
  lambdas/utils/ods_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-173] Update Bulk Order Upload Process to clear LG stitch table (#752)
  lambdas/models/access_audit.py
  lambdas/requirements/requirements_test.txt
  lambdas/ruff.toml
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- refactored virus scan
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-580]- refactored initiate transaction
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] implement sending of slack message
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] amend feedback handler to handle itoc feedback sending to slack
  lambdas/handlers/send_feedback_handler.py
  lambdas/tests/unit/handlers/test_send_feedback_handler.py
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] create slack message for ITOC feedback
  lambdas/models/templates/itoc_slack_feedback_blocks.json
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/helpers/data/feedback/itoc_test_feedback.json
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/helpers/data/feedback/mock_itoc_slack_message_blocks.json
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] remove comment from tests
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] implement itoc feedback being sent to slack
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/feedback/itoc_test_feedback.json
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] add method to check against itoc email address
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] error raised if slack message fails
  lambdas/enums/lambda_error.py
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMT-574 - Updated workflow (temp)
  .github/workflows/performance-run-bulk-upload-test.yml
Due: none

PRMT-574 - removed Updated workflow (temp)
  .github/workflows/performance-run-bulk-upload-test.yml
Due: none

PRMT-574 - (temp) reverted workflow names
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

PRMT-574 - (temp) reverted workflow names
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-574] - Temporarily modify rworkflow branch
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRMT-574] - Temporarily modify workflow branch path
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

PRMT-574 - (temp) reverted workflow file names
  .github/workflows/updated-base-run-bulk-upload.yml
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

Revert "[PRMT-574] - Temporarily modify workflow branch path"
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

Revert "[PRMT-574] - Temporarily modify rworkflow branch"
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRM-442] add requirement to core layer
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

PRMT-574 - remove excess '?'
  .github/workflows/updated-run-bulk-upload-test.yml
Due: none

[PRM-442] amend is_itoc_test_feedback method
  lambdas/services/send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-442] adjust layers
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

[PRMT-580]- refactored transfer files
  lambdas/services/bulk_upload_service_v2.py
  lambdas/tests/unit/services/test_bulk_upload_service_v2.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
