Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1487] updates to Lenient bulk upload validation (#531)
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update actions to publish new version of edge lambda
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

add publish
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

test
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update lambda edge script
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1503] Fix bug when deploying lambda edge versions
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix incorrect pds patient dob in smoketest data
  app/cypress/fixtures/dynamo-db-items/active-patient.json
Due: none

[PRMP-1513] Fix smoketest failures due to incorrect PDS DOB
  app/cypress/fixtures/dynamo-db-items/active-patient.json
Due: none

+ pdfjs set up script , + pdfjs to the react app, + pdfjs to nginx.conf, update tests
  app/.gitignore
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/pdfjs/custom_viewer.css
  app/pdfjs/setup_pdfjs.py
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

set pdfjs to view documents from other locations
  app/public/pdfjs/build/generic/web/viewer.mjs
Due: none

nginx.conf fix
  app/docker/nginx.conf
Due: none

rebase with main
  app/package-lock.json
Due: none

[PRMP-1442] Maximise width for Available Records Page (#525)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.test.tsx
  app/src/components/generic/patientSimpleSummary/PatientSimpleSummary.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1493] Add branch or tagged version deployments to pre-prod
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
Due: none

Sets background of inset to white
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Updates cypress tests
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1502] address PR comments
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1502] address PR comments
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1502] update status codes
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Moves text into hint components
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

moves hint back to label
  app/src/pages/feedbackPage/FeedbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1502] remove unreachable test case
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

test
  app/pdfjs/custom_viewer.css
  app/pdfjs/setup_pdfjs.py
  app/public/pdfjs/build/generic/web/viewer.css
  app/public/pdfjs/build/generic/web/viewer.mjs
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates meta url and site name
  app/public/index.html
Due: none

Moves fullscreen optionto top of pdf viewer
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

relocate rotate, hide first page, last page, update search, add sandbox
  app/pdfjs/custom_viewer.css
  app/pdfjs/setup_pdfjs.py
  app/public/pdfjs/build/generic/web/viewer.css
  app/public/pdfjs/build/generic/web/viewer.html
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1518] add server_token statement to http block
  app/docker/nginx.conf
Due: none

[PRMP-1518] change spacing
  app/docker/nginx.conf
Due: none

[PRMP-1522-UI] add nhsNumber to getPresignedUrl requests
  app/src/helpers/requests/getPresignedUrlForZip.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1518] palce server token statement in server block
  app/docker/nginx.conf
Due: none

[PRMP-1518] try in location block
  app/docker/nginx.conf
Due: none

[PRMP-1522-UI] add params to uploadDocument
  app/src/helpers/requests/uploadDocuments.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1522-UI] fix broken test
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
