Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Alter axios provider logic
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change stitch query return a list
  lambdas/services/document_deletion_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-999] - forward functionality to full screen works however back after it doesn't until second time
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Reduce if conditions on axios provider
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Change useEffect to useMemo
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Make axiosprovider useable anonymous
  app/src/helpers/requests/getAuthToken.ts
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix failing tests
  app/src/helpers/requests/getAuthToken.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-999] - back and forward functionality to replicate breadcrumb
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 add serialization_alias
  lambdas/models/document_reference.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update smoke tests to pass with non-BSOL flow
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add logs to axios provider
  app/src/router/guards/authGuard/AuthGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-999] - refactor
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Enabling pdf toolbar for feature testing of search, print, etc.
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-999] - prevent default of the back and forward action
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Prmp 920 - Disable the BSOL Journey check to allow all users to access the NDR (#431)
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_not_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/helpers/hooks/useIsBSOL.test.tsx
  app/src/helpers/hooks/useIsBSOL.tsx
  lambdas/services/login_service.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 remove failing tests
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add unit test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 disable failing jest tests
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 PR changes
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/types/generic/errors.ts
  lambdas/enums/trace_status.py
  lambdas/handlers/generate_lloyd_george_stitch_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 change query table fun
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/document_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 unit tests
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 unit tests for new handler
  lambdas/tests/unit/handlers/test_generate_lloyd_george_stitch_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 fix unit tests
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add test to delete service
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-999] - uncomment commented line
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 add test to stitch job handler
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_document_manifest_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add test decorator
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/utils/decorators/conftest.py
  lambdas/tests/unit/utils/decorators/test_validate_job_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add unit tests to service
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
  lambdas/tests/unit/utils/decorators/conftest.py
  lambdas/tests/unit/utils/decorators/test_set_audit_arg.py
  lambdas/tests/unit/utils/decorators/test_validate_job_id.py
  lambdas/tests/unit/utils/decorators/test_validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 fix missing import
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
  lambdas/tests/unit/utils/decorators/test_validate_job_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-936] cypress test ammendments
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Latest framework
  .gitignore
  performance/tests/actions/__init__.py
  performance/tests/actions/cis2_auth/__init__.py
  performance/tests/actions/cis2_auth/cis2_auth.py
  performance/tests/actions/create_upload_intent.py
  performance/tests/actions/document_upload.py
  performance/tests/actions/login.py
  performance/tests/actions/logout.py
  performance/tests/actions/search_patient.py
  performance/tests/actions/stitch_view_document.py
  performance/tests/locustfile.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert Bulk Generator
  performance/bulk_upload/lloyd_george_pdf_generator/gen_lg_pdfs.py
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/metadata.csv
  performance/bulk_upload/lloyd_george_pdf_generator/templates/blank_template.pdf
  performance/bulk_upload/lloyd_george_pdf_generator/templates/noise_template.pdf
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert Bulk Generator - 2
  performance/bulk_upload/lloyd_george_pdf_generator/input_datasets/replace_end.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Delete performance/bulk_upload/lloyd_george_pdf_generator/input_datasets/replace_end.py
  performance/bulk_upload/lloyd_george_pdf_generator/input_datasets/replace_end.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removed noise, removed NHS number in comments
  performance/README.md
  performance/bulk_upload/lloyd_george_pdf_generator/templates/noise_template.pdf
  performance/tests/data/users/.gitkeep
  performance/tests/locustfile.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Use os.getenv for nhs numbers
  performance/tests/actions/document_upload.py
  performance/tests/locustfile.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRMP-935] fix download_lg_workflow E2E tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PMRP-935] fix view_lg_bsol_workflow E2E tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-935] fix upload_lg_is_bsol_gp_admin E2E test
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-844] column change script only searches for records containing column to remove
  lambdas/scripts/bulk_upload_column_change.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
