Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

add cookie management
  app/index.html
  app/public/cookie-consent.min.js
  app/src/App.tsx
  app/src/components/blocks/_cookiesPolicy/cookiesPolicy/CookiesPolicy.tsx
  app/src/components/blocks/_cookiesPolicy/cookiesPolicyUpdated/CookiesPolicyUpdatedStage.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/footer/Footer.tsx
  app/src/pages/cookiePolicyPage/CookiePolicyPage.test.tsx
  app/src/pages/cookiePolicyPage/CookiePolicyPage.tsx
  app/src/router/AppRouter.tsx
  app/src/run-analytics.ts
  app/src/types/generic/routes.ts
  app/src/vite-env.d.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove reload of lloyd george between fullscreen change
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

hfdhdf
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-100] migrate NhsDocumentReference to use DocumentReference
  lambdas/models/document_reference.py
  lambdas/models/nhs_document_reference.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/repositories/bulk_upload/bulk_upload_s3_repository.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitch_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - merged with main
  app/docker-compose.yml
Due: none

adds assertive aria
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-257] Remove reload of Lloyd George between fullscreen change (#647)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add browser name to cypress test job
  .github/workflows/base-cypress-test.yml
Due: none

Adds assertive aria to finished download state
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

adds download state announcer div
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Shows download status
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

tegstgs
  app/src/components/blocks/_cookiesPolicy/cookiesPolicyUpdated/CookiesPolicyUpdatedStage.tsx
  app/src/pages/cookiePolicyPage/CookiePolicyPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

added unit tests for get_total_successful_percentage
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds class to aria div
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Makes download status announce on update
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Removes visually hidden for testing purposes
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Sets reader to assertive
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

move aria div
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Hides aria div
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-70] - addressed comments
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_pdf_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-71] - added service tests
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-249] small refactor on get_total_successful_percentage
  lambdas/models/report/bulk_upload_report_output.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

move Aria div to top of screen
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Adds test to error handling
  lambdas/tests/unit/handlers/test_token_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Reverts testing code
  lambdas/utils/constants/ssm.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-70] - fixed typo
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/pdf_stitch_service.py
  lambdas/tests/unit/services/test_pdf_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  tests/bulk-upload/scripts/test_updated_setup_bulk_upload.py
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-229] - WIP
  tests/bulk-upload/scripts/updated_setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix linting issues
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/generic/pagination/Pagination.tsx
  app/src/styles/App.scss
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement upload documents prototype
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/react-environment-config.sh
  app/src/assets/fonts/bold-affa96571d-v2.woff
  app/src/assets/fonts/bold-b542beb274-v2.woff2
  app/src/assets/fonts/light-94a07e06a1-v2.woff2
  app/src/assets/fonts/light-f591b13f7d-v2.woff
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/generic/pagination/Pagination.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/routes.ts
  app/src/types/generic/selectRef.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix typo
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

adjust preview height on upload
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

content adjustments
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix build
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

rebase onto vite
  app/package-lock.json
  app/public/pdf-viewer.css
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

hide test panel and hard code patient has no record
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changes error creator to handle roles rather than in Token Handler
  lambdas/enums/lambda_error.py
  lambdas/handlers/token_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removes logging from lamda error
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

gdgsdgsd
  app/public/cookie-consent.min.js
  app/src/components/blocks/_cookiesPolicy/cookiesPolicy/CookiesPolicy.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
