Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

add dynamo delete filter
  lambdas/enums/lambda_error.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/utils/test_dynamo_query_filter_builder.py
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] line change
  lambdas/tests/unit/helpers/data/dynamo/dynamo_stream.py
  lambdas/utils/decorators/validate_dynamo_stream_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add auth to endpoint
  lambdas/services/authoriser_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] fix unit tests
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] unit tests
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] revert font change
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add value to enum
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambda name
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1427] fix tests
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] change requirements file
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  Makefile
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/layers/requirements_reports_lambda_layer.txt
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add lambda to github actions workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1427] add error handling
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/ods_report_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] fix unit test2
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] changes to service and unit tests
  lambdas/enums/dynamo_filter.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
  lambdas/tests/unit/services/test_ods_report_service.py
  lambdas/utils/dynamo_query_filter_builder.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] add script back
  lambdas/scripts/create_report_by_ods.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1427] Create a lambda handler
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/ods_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Added Bulk Upload Script to repo
  .gitignore
  tests/.gitignore
  tests/bulk-upload/README.md
  tests/bulk-upload/output/.gitkeep
  tests/bulk-upload/scripts/run_bulk_upload.py
  tests/bulk-upload/scripts/setup_bulk_upload.py
  tests/bulk-upload/source_to_copy_from.pdf
  tests/bulk-upload/test_patients_data/.gitkeep
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Use Workflow Dispatch
  .github/workflows/test-run-bulk-upload.yml
Due: none

[PRMP-1567] Make run on WIP branch for testing
  .github/workflows/test-run-bulk-upload.yml
Due: none

[PRMP-1567] Add a name
  .github/workflows/test-run-bulk-upload.yml
Due: none

[PRMP-1567] Added a on_dispatch workflow
  .github/workflows/test-run-bulk-upload.yml
  .gitignore
  tests/bulk-upload/output/.gitkeep
Due: none

[PRMP-1567] Rename the job
  .github/workflows/test-run-bulk-upload.yml
Due: none

[PRMP-1567] Bulk Upload Workflow
  .github/workflows/test-run-bulk-upload.yml
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Quotes around vars
  .github/workflows/test-run-bulk-upload.yml
Due: none

[PRMP-1567] Individual Workflows
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-preprod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Set Permissions on Workflows
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-preprod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Naming incosistency
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Fix Name of base
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Bump versions up
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Initial Run
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Sample to make it appear
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Back to the original
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Remove pull_request
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Add dollars to vars
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Use string for file-count number
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Make string to match other file
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Declare secret usage
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Add secrets variable to workflow
  .github/workflows/run-bulk-upload-dev.yml
Due: none

[PRMP-1567] Renamed Var
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Specify file count
  .github/workflows/base-run-bulk-upload.yml
Due: none
