Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix responsive design
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1579] remove decorators from handler
  lambdas/handlers/mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1579] remove if statement in lambda deployment for MNS
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1579] add log for nhs number being processed
  lambdas/handlers/mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1579] enable MNS subscription for ndrd
  .github/workflows/subscribe-to-mns.yml
Due: none

fix env vars and missing dynamo record attribute
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1579] disable MNS subscription on ndrd
  .github/workflows/subscribe-to-mns.yml
Due: none

adjust home page and start page tests
  app/src/pages/homePage/HomePage.test.tsx
  app/src/pages/startPage/StartPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update 1of1 check
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add test case for stream based stitching
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PR comments
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/download_lloyd_george_summary.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_summary_report_workflow.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/support/e2e.ts
  app/cypress/support/routes.ts
  app/src/components/blocks/_downloadReport/downloadReportCompleteStage/DownloadReportCompleteStage.tsx
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.tsx
  app/src/components/layout/notificationBanner/NotificationBanner.tsx
  lambdas/enums/feature_flags.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/tests/unit/handlers/test_get_report_by_ods_handler.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1509] Initial E2e Testing Code
  tests/stitching/requirements.txt
  tests/stitching/test_stitching.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update privacy notice content
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update PRM definition to Personal Demographics Service
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PR comments
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add missing text
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1579] readd decorator
  lambdas/handlers/mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update handlers and service testst
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/boto3/__init__.py
  lambdas/tests/unit/helpers/data/boto3/s3.py
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adjust smoke test to use correct nhs number
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

adjust search error handling and messaging
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/src/helpers/utils/errorCodes.ts
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  lambdas/enums/lambda_error.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1600] Update PRM definition to Personal Demographics Service (#563)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1602] Change wording on processer and reorder Further Information
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1585] fix tests
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1585] permitted access to deceased patients
  lambdas/services/search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1585] add deceased field
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_admin_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_gp_clinical_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/download_patient_files_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/pcse_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/patientDetails.ts
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1585] add unit tests
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1585] update search service
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Attempt to use context to get user role and add it to data in RUM
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1551] missing import
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Testing with useEffect as opposed to loose dev environment
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1602] Update privacy notice content (#562)
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

additional logging simple test
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

moved log before problem line and removed dict object around session
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

another simple test to attempt assigning role from session data
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

extended the data to account for auth being populated and vice versa
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PMRP-1559] delete document references of unstitched documents if doc type is LG
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

moved code to add session attribute to main conditional statement
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1585] refactor auth service
  lambdas/services/authoriser_service.py
  lambdas/services/manage_user_session_access.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1559] refactor, introduce fixtures over mocker.patch in tests
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1585] remove unnecessary parametrize
  lambdas/tests/unit/services/test_manage_user_session_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
