Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- added tests and better logging
  lambdas/services/base/sqs_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_sqs_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-353] Review govuk-frontend components (#664)
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/generic/warningText/WarningText.test.tsx
  app/src/components/generic/warningText/WarningText.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Remove @override from methods
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Modify existing unit tests
  lambdas/services/mock_oidc_service.py
  lambdas/tests/unit/services/test_dynamic_configuration_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Comment out tests for tokens
  lambdas/tests/unit/handlers/test_token_handler.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_ods_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Comment out token tests
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Test lambda layers build
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] Created new alerting lambda layer
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  Makefile
  lambdas/handlers/im_alerting_handler.py
  lambdas/requirements/layers/requirements_alerting_lambda_layer.txt
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Set up OIDC parameters only if not mock
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] created mock login page and passed serialised data to auth callback
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/mockLoginPage/MockLoginPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/endpoints.ts
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix for failing upload document page
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Fix auth_ssm_prefix check
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-324] Upgrade React from 18.2.0 -> 19.1.0 (#666)
  app/cypress/support/component.ts
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_downloadReport/downloadReportSelectStage/DownloadReportSelectStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.test.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Skip state check mock enabled
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-329] updated values for dropdown
  app/src/pages/mockLoginPage/MockLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-329] updated drop down
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/mockLoginPage/MockLoginPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] missing user upload folder
  lambdas/services/post_fhir_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] new upload check lambda
  lambdas/handlers/document_reference_virus_scan_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/upload_document_reference_service.py
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- fixed small issue and added logging
  lambdas/enums/lambda_error.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/services/mock_pds_service.py
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- commented test for now
  lambdas/tests/unit/services/test_mock_pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- commented test for now
  lambdas/tests/unit/services/base/test_sqs_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] new upload check lambda github
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMT-329] updating startPage, and small change to login fields
  app/src/pages/mockLoginPage/MockLoginPage.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-435]- added more logging
  lambdas/services/document_service.py
  lambdas/services/pdf_stitching_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates sinon
  app/package-lock.json
  app/package.json
Due: none

[PRM-134] adjusted alerting Lambda file paths and enum assignments
  lambdas/requirements/layers/requirements_alerting_lambda_layer.txt
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updates eslint from v8 to v9.29
  app/eslint.config.mjs
  app/package-lock.json
  app/package.json
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-101] refactor service and unit tests
  lambdas/handlers/document_reference_virus_scan_handler.py
  lambdas/services/upload_document_reference_service.py
  lambdas/tests/unit/services/test_upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] import fix
  lambdas/tests/unit/services/test_upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- added tests, and fixed logic
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/services/document_service.py
  lambdas/services/mock_pds_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_sqs_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_mock_pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Allow successful login when mockLoginEnabled
  lambdas/enums/lambda_error.py
  lambdas/services/dynamic_configuration_service.py
  lambdas/services/login_service.py
  lambdas/services/mock_login_redirect_service.py
  lambdas/services/mock_oidc_service.py
  lambdas/services/oidc_service.py
  lambdas/tests/unit/handlers/test_login_redirect_handler.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] modified alarm_entry history to store as strings
  lambdas/enums/alarm_severity.py
  lambdas/models/alarm_entry.py
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/models/templates/teams_alert.json
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- fixed comments
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/services/base/sqs_service.py
  lambdas/services/mock_pds_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/services/base/test_sqs_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update packages and eslint config
  app/eslint.config.mjs
  app/package-lock.json
  app/package.json
Due: none

[PRMT-371] - Remove unnecessary declarations in MockOidcService
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Add error handling if no Host found
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-435]- relocated batch method, and made it less specific
  lambdas/services/pdf_stitching_service.py
  lambdas/utils/sqs_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Makes eslint config extend cypress package
  app/eslint.config.mjs
Due: none

[PRMT-371] - Add flag to determine mock authentication
  lambdas/handlers/login_redirect_handler.py
  lambdas/handlers/token_handler.py
  lambdas/services/dynamic_configuration_service.py
  lambdas/services/login_service.py
  lambdas/tests/unit/handlers/test_login_redirect_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] Alerting lambda emoji changes and slack thread response
  lambdas/enums/alarm_severity.py
  lambdas/models/alarm_entry.py
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
