Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-193] removing moc
  lambdas/tests/unit/conftest.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-193] removing more
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-193] removing splunk
  lambdas/handlers/mocks/token_handler.py
  lambdas/handlers/token_handler.py
  lambdas/requirements/requirements_test.txt
  lambdas/services/document_manifest_job_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/services/sensitive_audit_service.py
  lambdas/utils/audit_logging_setup.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add checks for ods_code on feature flag lambda
  lambdas/services/feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix checks
  lambdas/services/feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] Updating feature flags test
  lambdas/enums/feature_flags.py
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
  lambdas/utils/constants/ssm.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] fix import
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] fix failing unit test
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removed merge error
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-546] Mock creating NHS user ID as string (#732)
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add generateFileName function and update document upload logic to use it
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-79] Create Document Reference lambda (#714)
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/constants/ssm.py
  lambdas/utils/exceptions.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] import fix
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] format
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/exceptions.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-148] Implement upload complete page (#726)
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-71] [Order files] Build duplicate position error handling (#716)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-143] typo fix
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/fhir/fhir_resource_message_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-143] Updating fhir error code
  lambdas/enums/fhir/fhir_issue_type.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/get_fhir_document_reference_handler.py
  lambdas/models/fhir/R4/operation_outcome.py
  lambdas/tests/unit/handlers/test_get_fhir_document_reference_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Resolved issues with merges
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/styles/App.scss
  lambdas/enums/document_status.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/handlers/document_status_check_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_service.py
  lambdas/services/feature_flags_service.py
  lambdas/services/get_document_upload_status.py
  lambdas/services/mock_oidc_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_document_status_check_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
  lambdas/tests/unit/services/test_get_document_upload_status.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/decorators/validate_patient_id.py
  lambdas/utils/exceptions.py
  lambdas/utils/lloyd_george_validator.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

ordering and error box was broken resolved issue
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix for unit tests
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix for pilot always navigate to DOCUMENT_UPLOAD_CONFIRMATION page
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

undo feature_flag enum change
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

resolve order so doesnt show in pr
  lambdas/services/feature_flags_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-209] Enable virus scan deployment in pre-prod
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRME-169] add pre-prod api prefix to work with mock login
  lambdas/services/login_redirect_service.py
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-572] show no record when deceased patient and upload enabled
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-572] add unit test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-572] format
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Migration from aws-sdk v2 to v3
  app/cypress/support/aws.commands.ts
  app/cypress/support/aws.config.ts
  app/cypress/support/commands.d.ts
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-73] resolve issues with merge conflicts
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-572] Deceased patient in upload journey (#737)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-169] pre-prod domain fix for mock login (#736)
  lambdas/services/login_redirect_service.py
  lambdas/services/mock_login_redirect_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-209] Enable virus scan deployment in all environments (#735)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRME-73] Resolve issues with merge conflicts (#738)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRM-442] create slack message for ITOC feedback
  lambdas/models/templates/itoc_slack_feedback_blocks.json
  lambdas/services/send_feedback_service.py
  lambdas/tests/unit/helpers/data/feedback/itoc_test_feedback.json
  lambdas/tests/unit/helpers/data/feedback/mock_data.py
  lambdas/tests/unit/helpers/data/feedback/mock_itoc_slack_message_blocks.json
  lambdas/tests/unit/services/test_send_feedback_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Initial changes and error resolution
  app/.eslintrc
  app/cypress/support/aws.commands.ts
  app/cypress/support/aws.config.ts
  app/cypress/support/commands.d.ts
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
  app/package-lock.json
  app/package.json
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

All cypress tests passing
  app/cypress/support/aws.commands.ts
  app/cypress/support/commands.d.ts
  app/cypress/support/e2e.ts
  app/cypress/support/roles.ts
  app/package-lock.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Attempt to fix cypress env not existing in pr
  app/.eslintrc
  app/package-lock.json
  app/package.json
Due: none

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
