Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

made given name optional on the patient model
  lambdas/models/pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR - 759 unchecked radio buttons (#352)
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

changes to use the radio builtin error
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] Rectify side menu for BSOL GP ADMIN
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] Fix wrong class name & wrong heading number for LG upload panel
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] Address wrong heading error (replace wrong h4 with label of bold and size=m)
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] Refactor RecordMenuCard and related unit tests
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/types/blocks/lloydGeorgeActions.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] Minor change
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] edit test name
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] try address github action specific cypress test issue
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] minor fix for clarity
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-759 Radio button improvement (#353)
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Update side menu panel for non-bsol
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add retries to cypress conf
  app/cypress.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Fix broken unit tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Remove commented out test, add unit test for new part, update key to match cypress test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

large files removed from merge
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/9730168326/1of3_Lloyd_George_Record_[Gail Susie BRIDGE]_[9730168326]_[27-12-1962].pdf
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/9730168326/2of3_Lloyd_George_Record_[Gail Susie BRIDGE]_[9730168326]_[27-12-1962].pdf
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/9730168326/3of3_Lloyd_George_Record_[Gail Susie BRIDGE]_[9730168326]_[27-12-1962].pdf
Due: none

changes retries number to 5
  app/cypress.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove comment
  app/cypress.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add performance dir including lg pdf generator and aws cli utils (#349)
  performance/bulk_upload/lloyd_george_pdf_generator/gen_lg_pdfs.py
  performance/bulk_upload/lloyd_george_pdf_generator/input_datasets/500_ODS_A20047.csv
  performance/bulk_upload/lloyd_george_pdf_generator/input_datasets/8000_ODS_H81109.csv
  performance/bulk_upload/lloyd_george_pdf_generator/output_datasets/example/metadata.csv
  performance/bulk_upload/lloyd_george_pdf_generator/requirements.txt
  performance/bulk_upload/lloyd_george_pdf_generator/templates/blank_template.pdf
  performance/bulk_upload/utils/add_virus_scan_tags.sh
  performance/bulk_upload/utils/count_s3_files.sh
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-787-FEEDBACK] WIP - separate feedback into feedback and feedback confirmation pages
  app/src/components/blocks/feedbackForm/FeedbackForm.test.tsx
  app/src/components/blocks/feedbackForm/FeedbackForm.tsx
  app/src/pages/feedbackConfirmationPage/FeedbackConfirmationPage.test.tsx
  app/src/pages/feedbackConfirmationPage/FeedbackConfirmationPage.tsx
  app/src/pages/feedbackPage/FeedbackPage.test.tsx
  app/src/pages/feedbackPage/FeedbackPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Remove duplicated h1 header
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Fixed tests related to H1 heading
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-804 Enabling retries in cypress tests (#355)
  app/cypress.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

LG validator changes to validate name with pds
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add Upload Retry logic in the event of upload failure
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  lambdas/models/document_reference.py
  lambdas/services/update_upload_state_service.py
  lambdas/tests/unit/helpers/data/update_upload_state.py
  lambdas/tests/unit/services/test_update_upload_state_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix pip-audit issues and format
  lambdas/models/auth_policy.py
  lambdas/models/pds_models.py
  lambdas/models/staging_metadata.py
  lambdas/requirements.txt
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor LG validator
  lambdas/models/pds_models.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-849] improve variable / function names
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-849] use rem font-size instead of px
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

PRMDR-849 & 850 - Amend side menu according to latest design (#354)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

pr changes
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] some refactoring to matchup name changes in prev ticket
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/types/blocks/lloydGeorgeActions.test.ts
  app/src/types/blocks/lloydGeorgeActions.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add tests to pds service response
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-808] Remove unused props / imports, remove non-applicable old tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] remove unused const assignment
  app/src/types/blocks/lloydGeorgeActions.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-808] Improve test coverage, rephrase tests name to reflect design change: green button --> side menu button
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordStage/LloydGeorgeRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

exclude python tests from covrage
  sonar-project.properties
Due: none

sonarcloud issues
  lambdas/requirements.txt
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix get active ods code
  lambdas/models/pds_models.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
