Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMDR-919] start adding unit test for cloudwatch logs query service
  lambdas/services/cloudwatch_logs_query_service.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/base/test_cloudwatch_logs_query_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add pytest plugin
  lambdas/requirements/requirements_test.txt
Due: none

[PRMDR-914] - new IAM service
  lambdas/services/base/iam_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] add unit test for cloudwatch logs query service
  lambdas/services/base/cloudwatch_logs_query_service.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/services/base/test_cloudwatch_logs_query_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

move test data to correct directory
  lambdas/tests/unit/helpers/data/statistic/__init__.py
  lambdas/tests/unit/helpers/data/statistic/expected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_dynamodb_and_s3_records.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/services/base/test_cloudwatch_logs_query_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] improve logging
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

minor fix
  lambdas/services/base/dynamo_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] add unit tests for statistic report service
  lambdas/models/statistics.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/polars_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Adding unit tests for statistic report lambda
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/helpers/data/statistic/statistic_data.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

tidy up mock data
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_data_build_utils.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/helpers/data/statistic/statistic_data.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] add unit tests
  lambdas/services/base/iam_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_manifest_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/lloyd_george_stitch_service.py
  lambdas/tests/unit/services/base/test_iam_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] add unit test
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] expand unit test
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] add unit test for init
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Add unit test for statistical report service
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/polars_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix import path
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-914] remove S£ service instance in tests
  lambdas/services/base/s3_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-920] Edit github action to deploy new lambdas
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMDR-920] Fix github action
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMDR-919] minor patch in lambda
  lambdas/services/base/dynamo_service.py
  lambdas/services/base/s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

minor fix
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix sonarcloud issues
  lambdas/tests/unit/helpers/data/dynamo_scan_response.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix sonarcloud issues
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix sonarcloud issues
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-390] change number of files in download
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix sonarcloud issues
  lambdas/handlers/statistical_report_handler.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_statistical_report_handler.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/polars_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix sonarcloud issues
  lambdas/tests/unit/helpers/data/s3_responses.py
  lambdas/tests/unit/helpers/data/statistic/mock_dynamodb_and_s3_records.py
  lambdas/tests/unit/helpers/data/statistic/mock_logs_query_results.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] improve coverage, refactor
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

amend incorrect comment
  lambdas/utils/decorators/ensure_env_var.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Add error handling for the case if no data exist for the whole week
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix sonarcloud checking coverage for python test files
  sonar-project.properties
Due: none

add error message
  lambdas/services/statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

improve test coverage
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

improve test coverage
  lambdas/tests/unit/enums/test_supported_document_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove unused decorator, minor change for clarity
  lambdas/handlers/statistical_report_handler.py
  lambdas/models/statistics.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-311] Change text of back button
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/components/generic/backButton/BackButton.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

replace one backlink with shared component
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

move cloudwatch_logs_query class to utils folder
  lambdas/services/base/cloudwatch_logs_query_service.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/base/test_cloudwatch_logs_query_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
  lambdas/utils/cloudwatch_logs_query.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix an incorrect method name (write_to_local_dynamodb_table --> write_to_dynamodb_table)
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove unused import
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
