Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-617] format
  lambdas/services/upload_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-617] format
  lambdas/services/base/dynamo_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Modify mock service for BulkUploadMetadataProcessor tests
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-617] Update state match condition in login service and adjust test data
  lambdas/services/login_service.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-617] Fix session retrieval logic in manage_user_session_access and update tests
  lambdas/services/manage_user_session_access.py
  lambdas/tests/unit/services/test_manage_user_session_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

NDR-244 Add E2E test readme instructions
  README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

NDR-244 fmt readme
  README.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMP-109]- fixed tests
  lambdas/handlers/bulk_upload_metadata_processor_handler.py
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_processor_handler.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Rename workflow references for V2
  .github/workflows/performance-run-bulk-upload-test.yml
Due: none

[PRMT-575] - Rename script references for V2
  tests/bulk-upload/scripts/performance_run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-575] - Fix remaining unit tests
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-155 Ctrl clicking on Feedback link casues an unauthorised error
  app/src/App.tsx
  app/src/components/layout/Layout.test.tsx
  app/src/components/layout/navLinks/NavLinks.test.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.test.tsx
  app/src/helpers/hooks/useConfig.test.tsx
  app/src/helpers/hooks/useRole.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/sessionProvider/SessionProvider.tsx
  app/src/router/guards/authGuard/AuthGuard.test.tsx
  app/src/router/guards/notAuthGuard/NonAuthGuard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP - 191 : updated staging_metadata model
  lambdas/models/staging_metadata.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : Added stored filename to dynamo report
  lambdas/enums/metadata_report.py
  lambdas/models/report/bulk_upload_report.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : removed test example data
  lambdas/handlers/bulk_upload_metadata_processor_handler.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-109]- fixed tests
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added extra data-testid to DocumentRow
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-109]- adding extra logging
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-109]- making sure it writes updated stored_file_name
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-109]- making sure it writes updated stored_file_name
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-109]- removed commented code
  lambdas/services/bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-109]- run make format
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : added selection of stored_file_name if exists
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : added selection of stored_file_name
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-124] Resolved issue DocumentUploadLloydGeorgePreview tests (#782)
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-198]- added author migration
  lambdas/scripts/dynamodb_migration_prmp_198.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-178] Reporting ECS task isn't producing all logs (#781)
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/utils/audit_logging_setup.py
  lambdas/utils/logging_formatter.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : Updating tests and mock data to work with Stored-file-name
  lambdas/models/staging_metadata.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/bulk_upload/expect_sqs_msg_for_patient_0000000000.json
  lambdas/tests/unit/helpers/data/bulk_upload/expect_sqs_msg_for_patient_123456789.json
  lambdas/tests/unit/helpers/data/bulk_upload/expect_sqs_msg_for_patient_1234567890.json
  lambdas/tests/unit/helpers/data/bulk_upload/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/metadata_invalid_empty_gp_practice_code.csv
  lambdas/tests/unit/helpers/data/bulk_upload/metadata_with_duplicates_different_ods.csv
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP - 191 : Updated tests to match new bulk upload process
  lambdas/models/report/bulk_upload_report.py
  lambdas/services/bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP - 191] - Formatting
  lambdas/models/report/bulk_upload_report.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/bulk_upload_metadata_processor_service.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_processor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-536] GitHub Org migration changes
  .github/CODEOWNERS
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-data-collection.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-e2e-backendtest.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/base-vitest-test.yml
  .github/workflows/bulk-upload-300-test.yml
  CONTRIBUTING.md
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRM-538] Upgrade SonarSource/sonarqube-scan-action from v5 to v6
  .github/workflows/sonarcloud-analysis.yml
Due: none

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
