Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Fix component reference in DocumentSelectOrderStage test
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update patient summary component to use data-testid attributes for resolving issues with e2e tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-40] Update StartPage UT to cover new content
  app/src/pages/startPage/StartPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Resolve Linting and unused imports issues
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-180] add missing if condition to GitHub action
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-180] remove extra whitespace
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-180] Missing Condition in GitHub Action for GET FHIR Lambda Deployment (#697)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-101] remove extra whitespace
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Add deceased tag display for deceased patients in PatientSummary component
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update content, fix test and sonar warnings
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

adapt startPage UT to new content
  app/src/pages/startPage/StartPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix sonar cloud warnings for startPage
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Fix mock route error
  lambdas/services/mock_login_redirect_service.py
  lambdas/utils/constants/routes.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed johnNames
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-371] - Fix import error
  lambdas/handlers/mocks/token_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- added bulk-upload-toggle to base lambda
  lambdas/services/base/cloudwatch_service.py
  lambdas/services/bulk_upload_metadata_service.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-371] - Fix import error
  lambdas/handlers/token_handler.py
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-183] add logic to handle missing scan data
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-183] remove default value for scan date
  lambdas/models/document_reference.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Refactor PatientSummary Child subcomponent implementing a generic pattern inline with NHS component standards
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/_patientAccessAudit/deceasedPatientAccessAudit/DeceasedPatientAccessAudit.tsx
  app/src/components/generic/patientSummary/PatientSummary.test.tsx
  app/src/components/generic/patientSummary/PatientSummary.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-463]- improved logging
  lambdas/services/base/cloudwatch_service.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Implement drag-and-drop functionality for document reordering in upload stage
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-176] Remaining Search Tests
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/api/__snapshots__/test_search_patient_api.ambr
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/helpers/__init__.py
  lambdas/tests/e2e/helpers/lloyd_george_data_helper.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- improved logging
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-428] Decommission Firefox tests
  .github/workflows/base-cypress-test-all-env.yml
Due: none

[PRMT-463]- improve fetching custom metrics
  lambdas/services/base/cloudwatch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Updated bulk upload tests to use real strings
  lambdas/tests/unit/services/test_bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-101] change github lambda name
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-191] Run E2e Tests on Sandbox Deploy
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[NDR-191] Adjust name
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMT-463]- use lambda EMF
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- use lambda EMF
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- commented tests
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- removed empty line
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-463]- updated version
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

[PRMT-463]- added parameter
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-16] Add new class needed for multiple tickets
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMT-463]- added parameter
  lambdas/handlers/bulk_upload_handler.py
  lambdas/services/bulk_upload_metadata_service.py
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

attempt to fix warning, expected `str` - serialized value may not be as expected [input_value=True, input_type=bool]
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
