Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] for ARF upload, throw 423 lambda error when a reocrd is being upload within 3 minutes, add logic to remove incomplete previous upload of more then 3 minutes
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] ui changes for 423 response
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/types/pages/documentSearchResultsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-535] Remove env var of ARF bucket name from CreateDocRef lambda (as we should be uploading to staging bucket only)
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] add config in use effect
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-535] remove redundant commented out code
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] Add a test case to improve coverage
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] navigate away when upload is block
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR - Disable all upload journey lambdas when feature flag is disabled (#381)
  lambdas/handlers/update_upload_state_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/handlers/test_update_upload_state_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] rearrange method order
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] unit test for coverage
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add assertion to unit test
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] additional unit tests
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] fix to failing tests
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-537] undone change
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

declutter existing codes, remove redundant calls of focusLayoutDiv
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/requests/uploadDocumentsHelper.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unused imports
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_workflow.cy.js
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/pages/authErrorPage/AuthErrorPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/notFoundPage/NotFoundPage.test.tsx
  app/src/pages/privacyPage/PrivacyPage.test.tsx
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.test.tsx
  app/src/pages/unauthorisedLoginPage/UnauthorisedLoginPage.test.tsx
  app/src/pages/unauthorisedPage/UnauthorisedPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/router/guards/roleGuard/RoleGuard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-537] change for test coverage
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-536] extract common code between arf & lg upload
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocumentsHelper.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] ARF upload: move page migration logic to parent page component
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] Add virus scan call to ARF
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocumentsHelper.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] move constant to better place, rename method
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/requests/uploadDocumentsHelper.ts
  app/src/helpers/utils/isLocal.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] extract common logic of document upload & scan, add console log to ARF for checking purpose
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocumentsHelper.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

rename file requests/uploadDocumentsHelper.ts --> utils/uploadAndScanDocumentHelpers.ts
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] Add child routes for ARF upload, mock upload confirmation call
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] Add API call to uploadConfirm lambda at ARF page, change ARF upload confirm page to count infected docs as failed
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

rename function to better reflect what it does check_existing_lloyd_george_records --> check_existing_lloyd_george_records_and_remove_failed_upload
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] extract some ARF specific logics to a separate function
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove redundant docType checks
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] Move getting_patient_info_from_pds call to within try catch block
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-535] handle the case of pydantic validation error when parsing pds response, move pds api call in createDocRef to within try-catch block
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-536] bug fix, edit test util to allow checking arf upload journey locally
  app/src/helpers/test/testBuilders.ts
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP - 537 - Locking uploading/viewing docs when upload in progress (#385)
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.test.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/types/pages/documentSearchResultsPage/types.ts
  lambdas/services/create_document_reference_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix unit tests that were broken by merge
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-536] Move commented out unit tests from SelectStage.test.tsx to UploadDocumentsPage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.test.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

try relocate upload confirm logic to child component
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

get around run build check
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add unit tests for virus scan and upload confirmation
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

refactoring
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-536] amend confirmation lambda to check the virus scan result status before moving files
  lambdas/enums/lambda_error.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-535 - Changes to createDocRef lambda (#384)
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_s3_repository.py
  lambdas/tests/unit/services/test_bulk_upload_metadata_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
