Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-637] - checks that the aria-checked attribute reflects checkbox status
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-637 - test for aria-live
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-367] screen reader announces current state of checkboxes
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] screenreader reads out when all files have been selected or deselected
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] exploring announcement messages dependant on file selection state
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] changes to announcement messages
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-637 - fix test and move around toggle select all btn content span element
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[637-output-spike] using role status to update screenreader user of state changes of file selection
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] adjust tests to accept new text content present with toggle select all button
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix data for smoke tests and use new zip ID
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
  app/cypress/fixtures/dynamo-db-items/active-patient.json
  app/cypress/fixtures/lg-files/tim_brad_jacks/1of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/fixtures/lg-files/tim_brad_jacks/2of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/fixtures/lg-files/tim_brad_jacks/3of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/support/roles.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update setup and tear down steps for upload smoke test
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
  app/cypress/support/aws.commands.ts
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Deleted homepage test
  app/cypress/e2e/1-ndr-smoke-tests/homepage.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

tidy up
  app/cypress/support/aws.commands.ts
  app/cypress/support/e2e.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] add onchange event to new span acting as checkbox within table to stop duplicate downloads, add aria-live off to output
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] change span within checkboxes to labels
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] remove unnecessary button statue updates
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] span element => output element, remove unnecessary comments
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] adjust failing ui test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-326] Amend error message text
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-326] Amend error message text (#402)
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-637] make suggested adjustments from PR
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

revert roles update
  app/cypress/support/roles.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update smoke tests to run from smoke directory
  .github/workflows/base-cypress-smoketest.yml
Due: none

updgrade cypress
  app/package.json
Due: none

update lock file
  app/package-lock.json
Due: none

PRMP-442 fix smoke tests to run in dev (#401)
  .github/workflows/base-cypress-smoketest.yml
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/homepage.cy.js
  app/cypress/fixtures/dynamo-db-items/active-patient.json
  app/cypress/fixtures/lg-files/tim_brad_jacks/1of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/fixtures/lg-files/tim_brad_jacks/2of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/fixtures/lg-files/tim_brad_jacks/3of3_Lloyd_George_Record_[Tim Brad Jacks]_[9730787077]_[10-02-2024].pdf
  app/cypress/support/aws.commands.ts
  app/cypress/support/e2e.ts
  app/package-lock.json
  app/package.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Prmp 637 - Screenreader interactions with toggle select all button and checkboxes (#400)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-712] - change content of start page first paragraph
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-710] Change to content of headers and startpage header to Access and store digital patient documents
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/src/components/layout/header/Header.test.tsx
  app/src/components/layout/header/Header.tsx
  app/src/pages/startPage/StartPage.test.tsx
  app/src/pages/startPage/StartPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-749] Amend Patient model to handle patient decease status from pds response
  lambdas/enums/death_notification_status.py
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-749] Add test patient for the case of deceased patient, change other test patient to non-deceased
  lambdas/services/mock_data/pds_patient_9000000001_X4S4L_pcse.json
  lambdas/services/mock_data/pds_patient_9000000002_H81109_gp.json
  lambdas/services/mock_data/pds_patient_9000000003_H85686_gp.json
  lambdas/services/mock_data/pds_patient_9000000004_M85143_gp.json
  lambdas/services/mock_data/pds_patient_9000000005_not_active.json
  lambdas/services/mock_data/pds_patient_9000000006_M85143_gp_deceased.json
  lambdas/services/mock_data/pds_patient_9000000025_restricted.json
  lambdas/services/mock_data/pds_patient_9000000100_H81109_gp_no_period_fields_in_name.json
  lambdas/services/mock_data/pds_patient_9000000101_H81109_gp_no_given_name.json
  lambdas/services/mock_data/pds_patient_9000000102_M85143_gp_family_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000103_M85143_gp_family_name_with_hyphen.json
  lambdas/services/mock_data/pds_patient_9000000104_M85143_gp_given_name_with_whitespace.json
  lambdas/services/mock_data/pds_patient_9000000105_M85143_gp_given_name_with_two_separate_strings.json
  lambdas/services/mock_data/pds_patient_9000000106_M85143_gp_with_temp_name.json
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-749] Edit bulk upload service to raise failure report for deceased patient
  lambdas/enums/death_notification_status.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-749] add test patient for both informal and formal deceased, amend allowed ods code when PDS FHIR being stubbed
  lambdas/services/mock_data/pds_patient_9000000201_M85143_deceased_informal.json
  lambdas/services/mock_data/pds_patient_9000000202_M85143_deceased_formal.json
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

reduce duplication
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

minor fix
  lambdas/models/pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

improve test coverage
  lambdas/models/pds_models.py
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Added logic to check stringlists for Clinical and PCSE
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

improve test coverage
  lambdas/tests/unit/enums/test_death_notification_status.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

change service name in useTitle hook to Access and store digital patient documents
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/homepage.cy.js
  app/cypress/e2e/0-ndr-core-tests/privacy_page.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
  app/src/helpers/hooks/useTitle.test.tsx
  app/src/helpers/hooks/useTitle.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
