Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMDR-733] fix typing issue, pass filenames instead of file objects for error msg box handling
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] debulk the function uploadDocumentValidation
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

minor code changes via sonarcloud and test modifications completed
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-733] Use filename instead of file object where suitable
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] Separate the checks for LG regex and file numbers correctness
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

format fixes added
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-733] Add unit tests related frontend patient details validation
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] minor fix
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] minor fix
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix incorrect type at doc ref new field
  lambdas/models/document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-733] untangle nested async await in unit test
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

arf in isolation specific modifications
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

supportedDocType return type fixes
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

formatting changes
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-733] fix an issue in sonarcloud scan result, minor fix
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] fix broken cypress tests (test patient & test filenames not matching)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/fixtures/requests/GET_SearchPatientLGUpload.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] update error messages
  app/src/helpers/utils/fileUploadErrorMessages.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-733] minor improvement in regex pattern used
  app/src/helpers/utils/uploadDocumentValidation.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add feature flags e2e tests for ARF and LG workflows
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/cypress/support/e2e.ts
  app/cypress/support/feature_flags.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

unsure url responses are returned as previously expected
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR 672 - LG upload BE validation (#309)
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

added temp logging
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removed logging and added reference id to id fix
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fixe dunit tests and formatted
  lambdas/handlers/create_document_reference_handler.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

updated dynamo reference to file location to inlcude user_upload sub folder
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pr changes
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-722: Add feature flags e2e tests for ARF and LG workflows (#311)
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/cypress/support/e2e.ts
  app/cypress/support/feature_flags.ts
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add virus scan service
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/services/virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add virus scan reuslt lambda deploy action
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

Cleanup file input types and names
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add token request to virus scan lambda
  lambdas/enums/lambda_error.py
  lambdas/enums/pds_ssm_parameters.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add pds store
  lambdas/enums/pds_ssm_parameters.py
  lambdas/services/virus_scan_result_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

code review modifications and test updates
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

updated create docuement reference to handle the type as part of the s3 url and fixed tests in the refactor
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

make format corrections
  lambdas/enums/metadata_field_names.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pre merge dicussion changes
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR_687 - Updated createDocumentReference to push to staging bucket (#308)
  lambdas/enums/metadata_field_names.py
  lambdas/handlers/create_document_reference_handler.py
  lambdas/models/nhs_document_reference.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/process_nems_message_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_process_nems_message_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/decorators/validate_patient_id.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add attempt tracker to upload docs
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-688] virus scanner service and unit tests
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/enums/metadata_field_names.py
  lambdas/enums/pds_ssm_parameters.py
  lambdas/handlers/virus_scan_result_handler.py
  lambdas/requirements.txt
  lambdas/services/virus_scan_result_service.py
  lambdas/tests/unit/handlers/test_virus_scan_result_handler.py
  lambdas/tests/unit/helpers/data/virus_scanner/scan_results.py
  lambdas/tests/unit/services/test_virus_scan_result_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
