Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Change activity storge to reference
  app/src/router/guards/authGuard/AuthGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix user activity listener
  app/src/router/guards/authGuard/AuthGuard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-844] refactored column rename script to be generic
  lambdas/scripts/bulk_upload_column_change.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-994] - Remove 'Go Back' button on patient search page
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add axios provider
  app/src/App.tsx
  app/src/helpers/requests/getAuthRefresh.ts
  app/src/helpers/requests/getPatientDetails.ts
  app/src/helpers/test/testBuilders.ts
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/providers/axiosProvider/AxiosProvider.tsx
  app/src/types/blocks/userAuth.ts
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove session expired logic from get patient details
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add memory to axios instance
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-844] renamed bulk upload FailureReason to Reason
  lambdas/enums/metadata_report.py
  lambdas/models/bulk_upload_report.py
  lambdas/models/bulk_upload_report_output.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_bulk_upload_summary_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_deceased_report.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_1.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_ods_report_for_uploader_2.csv
  lambdas/tests/unit/helpers/data/bulk_upload/expected_rejected_report.csv
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_dynamo_repository.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-994] - Remove 'Go Back' button on patient search page (#447)
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix axios context
  app/src/App.tsx
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add session expired login mock
  app/src/pages/sessionExpiredErrorPage/SessionExpiredErrorPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 add check for no docs
  lambdas/services/base/s3_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 changing FE vars to camel case
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 change presign_url to PresignUrl
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 WIP
  lambdas/enums/lambda_error.py
  lambdas/enums/trace_status.py
  lambdas/handlers/generate_stitch_record_handler.py
  lambdas/models/stitch_trace.py
  lambdas/services/document_manifest_job_service.py
  lambdas/services/generate_document_manifest_zip_service.py
  lambdas/tests/unit/services/test_document_manifest_job_service.py
  lambdas/tests/unit/services/test_generate_document_manifest_zip_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 remove jobid from UI
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 remove alias from doc ref model
  lambdas/models/document_reference.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add query by nhs number
  lambdas/enums/trace_status.py
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 WIP2
  lambdas/handlers/document_manifest_job_handler.py
  lambdas/handlers/generate_stitch_record_handler.py
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_service.py
  lambdas/utils/decorators/validate_job_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 fix env var name
  lambdas/handlers/generate_stitch_record_handler.py
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 renaming snake case to camel
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.test.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 fix mock test object
  app/src/helpers/test/testBuilders.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 debugging changes
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 change return from pollforpresignedurl
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change return response from stitch job lambda
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add lambda to github actions
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

PRMP-935 add api call
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 add deleted in stitch trace
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 remove jobid and add ttl
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 add deleted in stitch when delete doc
  lambdas/services/document_deletion_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 query doc in stitch lambda
  lambdas/services/document_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 name changes
  lambdas/handlers/generate_lloyd_george_stitch_handler.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 github actions change
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

PRMP-935 remove check from doc service
  lambdas/services/document_service.py
  lambdas/services/lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

AxiosProvider refactor
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove use headers from axios provider
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix typos
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change environ to environ.get
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Move interceptor logic
  app/src/providers/axiosProvider/AxiosProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Log error
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
