Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

PRMP-935 increase timeout
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-844] Switched DynamoDB columns to rename
  lambdas/scripts/bulk_upload_column_change.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 jest unit tests
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/helpers/requests/getPresignedUrlForZip.test.ts
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/isLocal.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 smoke test changes
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 smoke test change timeout
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change create to be datretime object
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add domain from sandbox
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix python self error
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove self from static methods
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Strip auth from cf request
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Re-add query strings for amz
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Skip tests
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/services/test_edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Log edge response
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Restore amazon query strip
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update environment extract method
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Log request on viewer event
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambda code to remove amazon presign forwarding
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Restore origin query
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-935 PR changes
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  lambdas/handlers/lloyd_george_record_stitch_handler.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/handlers/test_generate_lloyd_george_stitch_handler.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1040] toolbar change
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix logging for request
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add aditional return log
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1035] Removed duplicate stitch call
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1035] update jsx and css to handle new showMenu logic position
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change byte to bytes
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/helpers/test/testBuilders.ts
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  lambdas/models/stitch_trace.py
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_stitch_job_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1035] fix jest unit tests
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
  app/src/components/generic/recordMenuCard/RecordMenuCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-935 change bytess to bytes
  lambdas/services/lloyd_george_generate_stitch_service.py
  lambdas/tests/unit/services/test_lloyd_george_generate_stitch_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update lambda query strip for cloudfront
  lambdas/handlers/edge_presign_handler.py
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Remove origin from lloyd george url
  app/src/helpers/requests/getLloydGeorgeRecord.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1035] remove logs
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1035] remove unused React hooks from RecordCard and LGRecordPage
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add table log
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

revert some test changes
  app/src/components/generic/recordCard/RecordCard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update split domain method
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1035] add showMenu is false test case to RecordMenuCard tests
  app/src/components/generic/recordMenuCard/RecordMenuCard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Change regex pattern on domain fetch
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix origin domain regex
  lambdas/services/edge_presign_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Restore query params on edge
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Edge query strip
  lambdas/handlers/edge_presign_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
