Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] refactoring script
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added code to allow for processing of file names
  lambdas/services/metadata_preprocessing_sevice.py
  lambdas/tests/unit/services/test_metadata_preprocessing_service.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] remove monitoring
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] Updating update CloudFront script (#623)
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert "Revert "[PRMT-32] - Temporarily rename ECR workflow file name""
  .github/workflows/batch-update-deploy-to-sandbox.yml
Due: none

[PRM-101] back links resize correctly with font size (#617)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMT-69] - added exceptions and more edge cases
  lambdas/services/metadata_preprocessing_sevice.py
  lambdas/tests/unit/services/test_metadata_preprocessing_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add confluence page url creation
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - WIP metadata proprocessing service
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/services/metadata_preprocessing_sevice.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-17] S3 Intelligent-Tiering (#620)
  lambdas/services/base/s3_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - WIP
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessing_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Rename workflow file name
  .github/workflows/data-collection-deploy-to-sandbox.yml
Due: none

[PRMT-32] Data Collection ECS (#619)
  .github/workflows/base-data-collection.yml
  .github/workflows/data-collection-deploy-to-sandbox.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  .gitignore
  lambdas/ecs/__init__.py
  lambdas/ecs/data_collection/Dockerfile
  lambdas/ecs/data_collection/__init__.py
  lambdas/ecs/data_collection/main.py
  lambdas/scripts/batch_update_ods_code.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessing_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix buffer code
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated file name extraction regex
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessing_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated name from preprocessing to preprocessor
  lambdas/handlers/bulk_upload_metadata_preprocessor_handler.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated base lambdas to contains metadata preprocessor
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMT-69] - added test for bulk upload metadata preprocessor handler
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/handlers/test_bulk_upload_metadata_preprocessor_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - added a few tests
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/services/base/s3_service.py
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated test import path
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated to use bucket name correctly
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix the buffer
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated logic of processing metadata to rename files
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update unit tests
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

changes GP admin parameter for testing purposes
  lambdas/utils/constants/ssm.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-134] introduce model for alarm entries
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated tests
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - delete old metadata file
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-69] - updated metadata file to only have correct lines
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-50] refactoring get document reference endpoint
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/get_fhir_document_reference_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/search_patient_details_handler.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/models/sqs/nrl_sqs_message.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/login_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/services/oidc_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/search_patient_details_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_get_fhir_document_reference_handler.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/tests/unit/handlers/test_search_patient_details_handler.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_login_service.py
  lambdas/tests/unit/services/test_oidc_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_search_patient_details_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Implement custom pdfjs viewer for toolbar modification
  .gitignore
  Makefile
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/cypress.config.ts
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/dev/testFile1.pdf
  app/public/index.html
  app/public/pdf-viewer.css
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/index.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement upload documents prototype
  .github/workflows/base-deploy-ui.yml
  app/package-lock.json
  app/package.json
  app/src/assets/fonts/bold-affa96571d-v2.woff
  app/src/assets/fonts/bold-b542beb274-v2.woff2
  app/src/assets/fonts/light-94a07e06a1-v2.woff2
  app/src/assets/fonts/light-f591b13f7d-v2.woff
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/generic/pagination/Pagination.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/routes.ts
  app/src/types/generic/selectRef.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fsafsa
  .github/workflows/base-deploy-ui.yml
  app/react-environment-config.sh
Due: none

fsafasfsa
  app/docker/nginx.conf
Due: none

Log error when page hit
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  lambdas/utils/constants/ssm.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactor and update tests
  lambdas/services/bulk_upload_metadata_preprocessor_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/unprocessed/failures.csv
  lambdas/tests/unit/services/test_metadata_preprocessor_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Change error code for testing
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
