Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

[PRMT-32] - Modify Entrypoint for data collection Dockerfile
  lambdas/handlers/ecs/data_collection/Dockerfile
Due: none

[PRMT-32] - Update deployment workflows for data collection
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  .gitignore
Due: none

change template of message card
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Temporarily rename ECR workflow file name
  .github/workflows/batch-update-deploy-to-sandbox.yml
Due: none

[PRMP-32] - Modify data collection Dockerfile
  lambdas/handlers/ecs/data_collection/Dockerfile
Due: none

[PRMP-32] - Modify data collection Dockerfile]
  lambdas/handlers/ecs/data_collection/Dockerfile
Due: none

adjust colouring for alarm state change
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Modify Dockerfile for ecs data collection
  lambdas/ecs/__init__.py
  lambdas/ecs/data_collection/Dockerfile
  lambdas/ecs/data_collection/__init__.py
  lambdas/ecs/data_collection/main.py
  lambdas/requirements/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/requirements/layers/requirements_reports_lambda_layer.txt
  lambdas/requirements/requirements/requirements_edge_lambda.txt
  lambdas/requirements/requirements/requirements_github_runner.txt
  lambdas/requirements/requirements/requirements_test.txt
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Modify working directory within base-data-collection.yml
  .github/workflows/base-data-collection.yml
Due: none

Remove unnecessary styling
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

add env var
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-32] - Remove duplicate requirements directory
  lambdas/requirements/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/requirements/layers/requirements_reports_lambda_layer.txt
  lambdas/requirements/requirements/requirements_edge_lambda.txt
  lambdas/requirements/requirements/requirements_github_runner.txt
  lambdas/requirements/requirements/requirements_test.txt
Due: none

Revert "[PRMT-32] - Temporarily rename ECR workflow file name"
  .github/workflows/data-collection-deploy-to-sandbox.yml
Due: none

add a couple of log messages
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-17] - Specify intelligent-tiering when using copy_across_bucket
  lambdas/services/base/s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-17] - Fix failing unit test
  lambdas/tests/unit/services/base/test_s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-17] - Add intelligent-tiering storage class when upload files to staging bucket
  tests/bulk-upload/scripts/setup_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] Refactoring the service
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Adds back in styling for drag and drop
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Remove styling
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

ammend request
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Implement custom pdfjs viewer for toolbar modification
  .gitignore
  Makefile
  app/.gitignore
  app/Dockerfile
  app/README.md
  app/cypress.config.ts
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/fixtures/requests/GET_LloydGeorgeStitch.json
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/dev/testFile1.pdf
  app/public/index.html
  app/public/pdf-viewer.css
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/pdfViewer/PdfViewer.test.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/generic/recordCard/RecordCard.test.tsx
  app/src/components/generic/recordCard/RecordCard.tsx
  app/src/helpers/requests/getLloydGeorgeRecord.ts
  app/src/index.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRM-134 add placeholder url for action
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRM-134 use python title method
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRM-134 bump adaptive card version to 1.4
  lambdas/handlers/teams_alerting_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] Add new lambda
  lambdas/handlers/get_document_references_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/models/fhir/R4/nrl_fhir_document_reference.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/handlers/test_get_document_references_handler.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] Add new lambda to github actions
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/fhir_document_reference_search_handler.py
  lambdas/tests/unit/handlers/test_fhir_document_reference_search_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-52] Edge lambda S3 presign url changes (#607)
  lambdas/handlers/edge_presign_handler.py
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/services/base/dynamo_service.py
  lambdas/services/edge_presign_service.py
  lambdas/services/lloyd_george_stitch_job_service.py
  lambdas/tests/unit/enums/test_edge_presign_values.py
  lambdas/tests/unit/handlers/test_edge_presign_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_edge_presign_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-29] refactor name
  lambdas/tests/unit/handlers/test_fhir_document_reference_search_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] Updating update cloudfront script
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] Updating update cloudfront script to remove unnecessary logic
  .github/workflows/base-lambdas-edge-deploy.yml
  lambdas/scripts/update_cloudfront.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-47] remove )
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

[NDR-47] add var
  .github/workflows/base-lambdas-edge-deploy.yml
Due: none

[PRM-102] WCAG 1.4.4 resize text: new service banner doesn't resize (#618)
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/styles/App.scss
  lambdas/services/back_channel_logout_service.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRM-89] WCAG 1.4.1 reflow: file example and upload panel don't reflow correctly on upload page (#616)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Adds styling to upload example text
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRM-89] WCAG 1.4.1 reflow: file example and upload panel don't reflow correctly on upload page (#626)
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write
