Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

SonarSource/sonarcloud-github-action -> SonarSource/sonarqube-scan-action
  .github/workflows/sonarcloud-analysis.yml
Due: none

[PRMP-1376] Change to validate on match regardless of family/given name
  lambdas/enums/validation_score.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

SonarSource/sonarcloud-github-action -> SonarSource/sonarqube-scan-action (#519)
  .github/workflows/sonarcloud-analysis.yml
Due: none

Add workflow permissions for Sonarcloud
  .github/workflows/sonarcloud-analysis.yml
Due: none

[PRMP-1355] Updated workflows to use newest available dependencies
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  .github/workflows/git-rename-tag.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/sonarcloud-analysis.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
Due: none

[PRMP-1355] Removed the questionable ssm parameter dependency and implemented a work around
  .github/workflows/base-deploy-ui.yml
  .github/workflows/full-ui-dispatch-deploy.yml
Due: none

Add workflow permissions for Sonarcloud (#520)
  .github/workflows/sonarcloud-analysis.yml
Due: none

replace appleboy with aws cli for lambda code zip upload
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/dispatch-full-deploy-all-repository-dispatch.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-ui-dispatch-deploy.yml
Due: none

add retry functionality to lambda update
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

add sleep to lambda update
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

add propagation check to layer update script
  .github/workflows/base-lambdas-reusable-deploy.yml
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add propagation check to layer update script
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove appleboy from edge deployment
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] change model dump to be json
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] change log message order
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257-b] bug fix
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removes spacing after css tags
  app/src/pages/privacyPage/PrivacyPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Sets props for complete stage to read only
  app/src/components/blocks/_arf/completeStage/CompleteStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

replace ssm parameters action with aws cli
  .github/workflows/base-deploy-ui.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

replace github-script tag
  .github/workflows/git-rename-tag.yml
Due: none

bump up ubuntu version for cypress tests
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/git-rename-tag.yml
Due: none

Makes props for uploading stage read only
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

makes deletesubmitstage props readonly
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_delete/deleteSubmitStage/DeleteSubmitStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove record stage props made tead only
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Makes lloyd george stage props read only
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadComplete/LloydGeorgeDownloadComplete.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

More lloyd george props made read only
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Deletion confirmation stage props made readonly
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Read only props added to link button
  app/src/components/blocks/testPanel/TestToggle.tsx
  app/src/components/generic/linkButton/LinkButton.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Changes fileurl type to string rather than String
  app/src/components/generic/pdfViewer/PdfViewer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Makes record card props read only
  app/src/components/generic/recordCard/RecordCard.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

improve script logic readability
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

increase layer update delay
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1367] feature flag change, and unit tests
  lambdas/enums/feature_flags.py
  lambdas/enums/validation_score.py
  lambdas/handlers/bulk_upload_handler.py
  lambdas/models/pds_models.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/mock_data/pds_patient_9000000003_H85686_gp.json
  lambdas/tests/unit/handlers/conftest.py
  lambdas/tests/unit/handlers/test_bulk_upload_handler.py
  lambdas/tests/unit/helpers/data/pds/test_cases_for_patient_name_matching.py
  lambdas/tests/unit/models/test_pds_models.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1355] GitHub Actions upgrade (#523)
  .github/workflows/base-cypress-build.yml
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/base-cypress-test.yml
  .github/workflows/base-deploy-ui.yml
  .github/workflows/base-jest-test.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-edge-deploy.yml
  .github/workflows/base-lambdas-reusable-deploy.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/dispatch-full-deploy-all-repository-dispatch.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  .github/workflows/git-rename-tag.yml
  .github/workflows/lambdas-deploy-to-pre-prod.yml
  .github/workflows/sonarcloud-analysis.yml
  .github/workflows/ui-deploy-to-pre-prod-manual.yml
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1257] re-ordering log
  lambdas/handlers/manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
