Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

removed unsused featureflags var
  app/src/router/AppRouter.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add lloyd george upload page
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fixed ESlint arror that had reached main due to failing build tests (#288)
  app/src/router/AppRouter.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

renamed snabox action to improve understanding
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

renamed snabox action to improve understanding (#289)
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMDR-657] WIP - create new upload complete files
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.test.tsx
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-657] add page content
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Lloyd george upload stage
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-657] add page styling
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-657] add page styling
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

[PRMDR-657] refactor and unit tests
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.test.tsx
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
  app/src/components/generic/documentsListView/DocumentsListView.test.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.test.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-657] remove comments
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

PRMDR-657 upload confirmation screen
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.test.tsx
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
  app/src/components/generic/documentsListView/DocumentsListView.test.tsx
  app/src/components/generic/documentsListView/DocumentsListView.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.test.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDRD-655 new LG upload page
  app/src/components/blocks/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/helpers/utils/formConfig.ts
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/pages/uploadLloydGeorgeRecordPage/UploadLloydGeorgeRecordPage.test.tsx
  app/src/pages/uploadLloydGeorgeRecordPage/UploadLloydGeorgeRecordPage.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/styles/file-input.svg
  app/src/types/generic/routes.ts
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDRD-655 new LG upload page (#290)
  app/src/components/blocks/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/selectStage/SelectStage.tsx
  app/src/helpers/requests/uploadDocument.ts
  app/src/helpers/utils/formConfig.ts
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/pages/uploadLloydGeorgeRecordPage/UploadLloydGeorgeRecordPage.test.tsx
  app/src/pages/uploadLloydGeorgeRecordPage/UploadLloydGeorgeRecordPage.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/styles/file-input.svg
  app/src/types/generic/routes.ts
  app/tsconfig.json
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add file input stage for lg upload
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add jiggins lane fake pds patient
  lambdas/services/mock_data/pds_patient_9000000004_M85143_gp.json
  lambdas/services/mock_pds_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add stage complete to upload
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add lloyd george complete view
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add lloyd george upload stages
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/pages/uploadLloydGeorgeRecordPage/UploadLloydGeorgeRecordPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-657] fix styling so file name on design fits on single line
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-642] add test.ts files to sonar config
  sonar-project.properties
Due: none

[PRMDR-642] copy ts file and test file to check they are picked up by sonarcloud
  app/src/helpers/utils/errorToParams2TEST.test.ts
  app/src/helpers/utils/errorToParams2TEST.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-642] remove ts test files from exclusions to check whether config changes on branch apply
  sonar-project.properties
Due: none

[PRMDR-642] remove tsx exclusion and inclusion to check if coverage changes
  sonar-project.properties
Due: none

[PRMDR-642] delete files added for testing and add test.ts files to exclusions
  app/src/helpers/utils/errorToParams2TEST.test.ts
  app/src/helpers/utils/errorToParams2TEST.ts
  sonar-project.properties
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix sonarcloud issue
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-642 include typescript test files in sonarcloud test config
  sonar-project.properties
Due: none

Fix remaining sonarcloud issues
  app/src/components/blocks/_arf/documentInputForm/DocumentInputForm.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.test.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeRecordStage/LloydGeorgeRecordStage.tsx
  app/src/components/generic/reducedPatientInfo/ReducedPatientInfo.tsx
  app/src/pages/documentSearchResultsPage/DocumentSearchResultsPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/providers/patientProvider/PatientProvider.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add uuid for random ids
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_arf/selectStage/SelectStage.tsx
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/helpers/test/testBuilders.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-642] add story.ts files to sonar exclusions
  sonar-project.properties
Due: none

[PRMDR-642] remove extra comma
  sonar-project.properties
Due: none

Add uuid types
  app/package-lock.json
  app/package.json
Due: none

PRMDR-642 exclude plain typescript story files from sonar
  sonar-project.properties
Due: none

Fix mutable sort
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js
