Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1242] converted environment variable mocking to monkeypatch
  lambdas/tests/unit/utils/test_utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] introduce MNS SQS message model
  lambdas/handlers/mns_notification_handler.py
  lambdas/models/mns_sqs_message.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] continue work on MNS notification handler
  lambdas/enums/mns_notification_types.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] start creating MNSNofiticationSerive
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] add dynamo service to mns notification service
  lambdas/models/mns_sqs_message.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1242] variable naming and parametrizing unit test
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/utils/test_utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fixes nrl fifo queue call of nhs number fifo to use correct order of variables
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fixes tests
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1242: Fix missing auth service bug (#466)
  lambdas/scripts/batch_update_ods_code.py
  lambdas/services/search_patient_details_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/lloyd_george_validator.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] continue handle death notification process
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] handle gp change notification
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/handlers/mns_notification_handler.py
  lambdas/services/process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] remove unnecessary fields from model
  lambdas/enums/mns_notification_types.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/models/mns_sqs_message.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1122] change add send message to fifo queue
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/base/sqs_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/base/test_sqs_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
  lambdas/tests/unit/services/test_pds_api_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1122] add tests in bulk upload
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1122] remove unused exception
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRP-1188] change table env name to correct name
  lambdas/enums/mns_notification_types.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/models/mns_sqs_message.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] refactor log messages
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] adjust script to use variables passed down from the runner and boto3
  .github/workflows/subscribe-to-mns.yml
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removes start again link from download lloyd george page
  app/.env copy.template
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removes unnessecary imports
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1123] - Update DataCollectionService to collect data weekly
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Delete app/.env copy.template
  app/.env copy.template
Due: none

[PRMP-1122] change default in doc fhir model
  lambdas/models/nrl_fhir_document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1192] PR changes
  lambdas/enums/nrl_sqs_upload.py
  lambdas/enums/snomed_codes.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/services/document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] Removed make and start venv and updated python to v5
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1188] implement sending message back to queue
  lambdas/handlers/mns_notification_handler.py
  lambdas/models/mns_sqs_message.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] add new MNS_SQS_QUEUE env to conftest
  lambdas/handlers/mns_notification_handler.py
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] address PR comments
  .github/workflows/subscribe-to-mns.yml
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] fix unit test
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1258 Removes start again link from download lloyd george page (#468)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1122] fixing env var name
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1185] ensure environment is used on job run
  .github/workflows/subscribe-to-mns.yml
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] remove subscription from enum
  lambdas/enums/mns_notification_types.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1188] remove capital letters from test names
  lambdas/tests/unit/handlers/test_mns_notification_handler.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removes start again button from remove lloyd george record page
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

removes start again expectation from remove LGR tests
  app/src/components/blocks/_delete/removeRecordStage/RemoveRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

create placeholder (#469)
  .github/workflows/subscribe-to-mns.yml
Due: none

[PRMP-1185] use nhs auth service to generate token
  .github/workflows/subscribe-to-mns.yml
  lambdas/scripts/mns_subscription.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fixes cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
