Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

skip upload cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix cypress tests
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix build
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix unit tests
  app/package-lock.json
  app/package.json
  app/public/pdf.worker.mjs
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/Layout.test.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/router/guards/roleGuard/RoleGuard.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fix tests and disabled un-necessary eslint rule
  app/.eslintrc
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

revert changes to make code deployable for user testing
  app/react-environment-config.sh
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

implement upload documents prototype
  app/docker/nginx.conf
  app/package-lock.json
  app/package.json
  app/public/pdf-viewer.css
  app/public/pdf.worker.mjs
  app/react-environment-config.sh
  app/src/assets/fonts/bold-affa96571d-v2.woff
  app/src/assets/fonts/bold-b542beb274-v2.woff2
  app/src/assets/fonts/light-94a07e06a1-v2.woff2
  app/src/assets/fonts/light-f591b13f7d-v2.woff
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/generic/pagination/Pagination.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/phaseBanner/PhaseBanner.tsx
  app/src/helpers/utils/uploadAndScanDocumentHelpers.ts
  app/src/index.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/homePage/HomePage.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
  app/src/pages/startPage/StartPage.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/routes.ts
  app/src/types/generic/selectRef.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
  app/vite.config.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

correct github warnings
  app/package-lock.json
  app/package.json
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[NDR-97] Post Document Reference lambda (#667)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/document_reference.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/base/s3_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/handlers/test_post_fhir_document_reference_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/decorators/validate_sqs_message_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert "[NDR-97] Post Document Reference lambda (#667)"
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/document_reference.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/base/s3_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/handlers/test_post_fhir_document_reference_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/decorators/validate_sqs_message_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert "[NDR-97] Post Document Reference lambda (#667)" (#688)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/lambda_error.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/handlers/post_fhir_document_reference_handler.py
  lambdas/models/document_reference.py
  lambdas/models/fhir/R4/base_models.py
  lambdas/models/fhir/R4/fhir_document_reference.py
  lambdas/services/base/s3_service.py
  lambdas/services/document_reference_search_service.py
  lambdas/services/get_fhir_document_reference_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/post_fhir_document_reference_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/handlers/test_post_fhir_document_reference_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/preprocessed_metadata.csv
  lambdas/tests/unit/helpers/data/bulk_upload/preprocessed/rejected.csv
  lambdas/tests/unit/helpers/data/sqs/test_messages.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_get_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_post_fhir_document_reference_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/common_query_filters.py
  lambdas/utils/decorators/validate_sqs_message_event.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add base tests
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Notes on NDR-100
  migration.md
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Split UI Test and Backend Test Invocators
  .github/workflows/ndr-e2e-backend-test-ci.yml
  .github/workflows/ndr-e2e-ui-test-ci.yml
Due: none

Don't rename the Cypress Tests
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/ndr-smoketest-ui-test-ci.yml
  .github/workflows/ui-smoketest.yml
Due: none

Typo in pipeline name
  .github/workflows/base-cypress-smoketest.yml
Due: none

add deleted filter to the unstitched table update (#683)
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Update .github/codeql.yml
  .github/codeql.yml
Due: none

fix linting
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadConfirmStage/DocumentUploadConfirmStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadRemoveFilesStage/DocumentUploadRemoveFilesStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove node_modules from ignore paths
  .github/codeql.yml
Due: none

[PRMT-462]- updated
  lambdas/handlers/toggle_bulk_upload_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-462]- added pydrantic to dependencies
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

Update ndr-e2e-backend-test-ci.yml
  .github/workflows/ndr-e2e-backend-test-ci.yml
Due: none

[PRM-134] remove todo
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-462]- undo
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

[PRM-134] IM Alerting Lambda (#630)
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  Makefile
  lambdas/enums/alarm_history_field.py
  lambdas/enums/alarm_severity.py
  lambdas/enums/alarm_state.py
  lambdas/handlers/im_alerting_handler.py
  lambdas/models/alarm_entry.py
  lambdas/models/templates/slack_alert_blocks.json
  lambdas/models/templates/teams_alert.json
  lambdas/requirements/layers/requirements_alerting_lambda_layer.txt
  lambdas/services/im_alerting_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Capitalize sandbox
  .github/workflows/ndr-e2e-test-sandbox.yml
Due: none

[PRMT-462]- added bulk-upload-toggle to base lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[NDR-154] End-to-end test framework for patient search API (#684)
  .github/workflows/base-e2e-backendtest.yml
  .github/workflows/ndr-e2e-backend-test-ci.yml
  .github/workflows/ndr-e2e-test-sandbox.yml
  .github/workflows/ndr-smoketest-ui-test-ci.yml
  .github/workflows/ui-smoketest.yml
  Makefile
  lambdas/tests/e2e/README.md
  lambdas/tests/e2e/__init__.py
  lambdas/tests/e2e/api/__init__.py
  lambdas/tests/e2e/api/test_search_patient_api.py
  lambdas/tests/e2e/conftest.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[NDR-171] Run CI development branches only on main
  .github/workflows/ndr-e2e-backend-test-ci.yml
  .github/workflows/ndr-smoketest-ui-test-ci.yml
Due: none

[NDR-171] Remove the gap
  .github/workflows/ndr-smoketest-ui-test-ci.yml
Due: none

[NDR-171] Run CI testing branches only on main (#689)
  .github/workflows/ndr-e2e-backend-test-ci.yml
  .github/workflows/ndr-smoketest-ui-test-ci.yml
Due: none

[NDR-172] Look at root path and github changes to determine pipeline execution
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[NDR-172] Only at root
  .github/workflows/lambdas-dev-to-main-ci.yml
Due: none

[NDR-172] And for the other one too
  .github/workflows/ui-dev-to-main-ci.yml
Due: none

[PRME-107] Add CodeQL GitHub action (#686)
  .github/codeql.yml
Due: none

Move CodeQL file to correct folder
  .github/workflows/codeql.yml
Due: none

Move CodeQL file to correct folder (#692)
  .github/workflows/codeql.yml
Due: none

Move CodeQL config settings to correct step
  .github/workflows/codeql.yml
Due: none

Move CodeQL config settings to correct step (#693)
  .github/workflows/codeql.yml
Due: none
