Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add logging for debug within sandbox
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove console.log
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

extract number of seconds as constant
  app/src/helpers/requests/uploadDocuments.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-876] fix cypress tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-876] unify duplicated imports
  app/src/helpers/requests/uploadDocument.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

minor refactoring
  app/src/helpers/requests/uploadDocument.test.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR-898 - Missing Unit tests on optional fields (#369)
  lambdas/models/pds_models.py
  lambdas/services/mock_data/pds_patient_9000000100_H81109_gp_no_period_fields_in_name.json
  lambdas/services/mock_data/pds_patient_9000000101_H81109_gp_no_given_name.json
  lambdas/tests/unit/helpers/data/pds/pds_patient_response.py
  lambdas/tests/unit/models/test_pds_models.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-876 Virus Scanner Timeouts (#373)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/utils/waitForSeconds.test.ts
  app/src/helpers/utils/waitForSeconds.ts
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

action to rename tags has been added
  .github/workflows/git-rename-tag.yml
Due: none

[PRMDR-855] Add ARF table to data collection service
  lambdas/enums/supported_document_types.py
  lambdas/services/data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Start adding unit tests to data collection service
  lambdas/services/base/dynamo_service.py
  lambdas/services/base/s3_service.py
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/data/statistic/dynamodb_scan_result.py
  lambdas/tests/unit/data/statistic/logs_query_results.py
  lambdas/tests/unit/data/statistic/s3_list_objects_result.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] adding more unit tests
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/data/statistic/dynamodb_scan_result.py
  lambdas/tests/unit/data/statistic/s3_list_objects_result.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] add more unit tests
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/data/statistic/expected_data.py
  lambdas/tests/unit/data/statistic/s3_list_objects_result.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] add more unit tests
  lambdas/tests/unit/data/statistic/expected_data.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] add more unit tests
  lambdas/requirements-test.txt
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/data/statistic/expected_data.py
  lambdas/tests/unit/data/statistic/logs_query_results.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

reenable all lambdas
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

enable bsol tmp
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix python version warning
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/sonarcloud-analysis.yml
Due: none

update pre-prod and prod with layers, and update nod version
  .github/workflows/base-jest-test.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  .github/workflows/lambdas-deploy-to-prod.yml
  .github/workflows/lambdas-deploy-to-test.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/sonarcloud-analysis.yml
Due: none

pr changes
  Makefile
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

update cryptography
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

fix script to remove unwanted layers on update
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PR changes
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Add girhub workflow for lambda layers and script to update layers
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/lambdas-deploy-feature-to-sandbox.yml
  Makefile
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/requirements_github_runner.txt
  lambdas/requirements/requirements_test.txt
  lambdas/scripts/batch_update_ods_code.py
  lambdas/scripts/lambda_layer_update.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

remove old requirement files
  lambdas/requirements-test.txt
  lambdas/requirements.txt
Due: none

update cryptography to 42.0.4
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
Due: none

re-enable bsol
  lambdas/services/login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

sort requirements
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/requirements_test.txt
Due: none

[PRMDR-919] refactor test data structure, add more unit tests
  lambdas/tests/unit/data/statistic/dynamodb_scan_result.py
  lambdas/tests/unit/data/statistic/expected_data.py
  lambdas/tests/unit/data/statistic/mock_dynamodb_and_s3_records.py
  lambdas/tests/unit/data/statistic/mock_logs_query_results.py
  lambdas/tests/unit/data/statistic/s3_list_objects_result.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix Makefile command
  Makefile
Due: none

fix wrong import
  lambdas/tests/unit/data/statistic/expected_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Add more unit tests
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/services/test_data_collection_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Add unit test for data_collection_handler
  lambdas/handlers/data_collection_handler.py
  lambdas/tests/unit/handlers/test_data_collection_handler.py
  lambdas/utils/decorators/ensure_env_var.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

rename method: simple_query --> query_all_fields
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/login_service.py
  lambdas/services/statistical_report_service.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_login_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

change input from environment to sandbox
  lambdas/scripts/lambda_layer_update.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix message
  .github/workflows/base-lambdas-reusable-deploy.yml
Due: none

[PRMDR-919] Add more unit tests
  lambdas/services/data_collection_service.py
  lambdas/tests/unit/helpers/data/s3_responses.py
  lambdas/tests/unit/services/base/test_s3_service.py
  lambdas/tests/unit/utils/test_utilities.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMDR-879: Implement lambda layers into workflow (#370)
  .github/workflows/base-jest-test.yml
  .github/workflows/base-lambda-layer-reusable-publish-all.yml
  .github/workflows/base-lambda-layer-reusable-publish.yml
  .github/workflows/base-lambdas-check-packages.yml
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  .github/workflows/base-lambdas-reusable-test.yml
  .github/workflows/dispatch-full-lambdas-dispatch-deploy.yml
  .github/workflows/full-deploy-to-pre-prod.yml
  .github/workflows/full-deploy-to-prod.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/full-ui-dispatch-deploy.yml
  .github/workflows/lambdas-deploy-feature-to-sandbox.yml
  .github/workflows/lambdas-deploy-to-prod.yml
  .github/workflows/lambdas-deploy-to-test.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/sonarcloud-analysis.yml
  Makefile
  lambdas/requirements/layers/requirements_core_lambda_layer.txt
  lambdas/requirements/layers/requirements_data_lambda_layer.txt
  lambdas/requirements/requirements_github_runner.txt
  lambdas/requirements/requirements_test.txt
  lambdas/scripts/batch_update_ods_code.py
  lambdas/scripts/lambda_layer_update.py
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-919] Add unit test for scan_whole_table method
  lambdas/tests/unit/helpers/data/dynamo_scan_response.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
