Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

added further logging
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1571] Fixes failing smoketest (#555)
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

added more logging
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Corrected Identitity Pool Id React Var
  app/.env.template
Due: none

Removed comment nullifying Environment Parameter check
  app/.env.template
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Refactored for initial PR
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1567] Andy review comments
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1567] Choice of combi for bulk upload
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Fix variable name for the name
  tests/bulk-upload/scripts/run_bulk_upload.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1567] Use '_' consistently in variable names
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
Due: none

[PRMP-1567] Use '_' consistently in variable names (missed preprod)
  .github/workflows/run-bulk-upload-pre-prod.yml
Due: none

[PRMP-1567] Make the build_branch optional
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Make combi-settings not required
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Missed file count
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] Missed some combi variables
  .github/workflows/full-deploy-to-sandbox.yml
Due: none

[PRMP-1567] Use base branch variable
  .github/workflows/base-run-bulk-upload.yml
Due: none

[PRMP-1567] - Added Bulk Upload Script to repo with Workflow (#552)
  .github/workflows/base-run-bulk-upload.yml
  .github/workflows/full-deploy-to-sandbox.yml
  .github/workflows/run-bulk-upload-dev.yml
  .github/workflows/run-bulk-upload-pre-prod.yml
  .github/workflows/run-bulk-upload-test.yml
  .gitignore
  tests/.gitignore
  tests/bulk-upload/scripts/run_bulk_upload.py
  tests/bulk-upload/scripts/setup_bulk_upload.py
  tests/bulk-upload/source_to_copy_from.pdf
  tests/bulk-upload/test_patients_data/.gitkeep
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PMRP-1351] Remove inline CSS (#549)
  app/.storybook/preview.tsx
  app/src/components/blocks/_arf/completeStage/CompleteStage.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/components/blocks/_delete/deleteResultStage/DeleteResultStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/blocks/deletionConfirmationStage/DeletionConfirmationStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/components/blocks/testPanel/TestToggle.tsx
  app/src/components/generic/pdfViewer/PdfViewer.tsx
  app/src/components/layout/Layout.tsx
  app/src/components/layout/footer/Footer.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/roleSelectPage/RoleSelectPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1449] Adds ability to tab select logo and service name (#553)
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/src/components/layout/header/Header.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1589] Remove unnecessary empty line
  CODEOWNERS
Due: none

[PRMP-1589] Fixed Kris's username
  CODEOWNERS
Due: none

[PRMP-1589] Fix user list
  CODEOWNERS
Due: none

[PRMP-1589] CODEOWNERS
  CODEOWNERS
Due: none

[PRMP-1512] - Add message to sqs-stitching queue during bulk upload
  lambdas/models/pdf_stitcher_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Remove nrl sqs messaging code
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Remove unnecessary test logs
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Add use_enum_values=True for PdfStitcherSqsMessage
  lambdas/models/pdf_stitcher_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Remove return value from create_lg_records_and_copy_files
  lambdas/services/bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Revert "[PRMP-1512] - Address PR comments"
  lambdas/models/pdf_stitcher_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Rename stitcher to stitching
  lambdas/models/pdf_stitcher_sqs_message.py
  lambdas/models/pdf_stitching_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Address PR comments
  lambdas/models/pdf_stitcher_sqs_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1512] - Add message to sqs-stitching queue during bulk upload (#554)
  lambdas/models/pdf_stitching_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
  lambdas/tests/unit/repositories/bulk_upload/test_bulk_upload_sqs_repository.py
  lambdas/tests/unit/services/test_bulk_upload_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1579] remove method to send back to queue
  lambdas/services/process_mns_message_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix smoke tests
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add handler and service for pds stitching lambda
  lambdas/enums/lambda_error.py
  lambdas/enums/logging_app_interaction.py
  lambdas/handlers/get_report_by_ods_handler.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/mns_notification_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/document_reference.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/report/bulk_upload_report.py
  lambdas/models/report/bulk_upload_report_output.py
  lambdas/models/report/statistics.py
  lambdas/models/sqs/mns_sqs_message.py
  lambdas/models/sqs/nrl_sqs_message.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_dynamo_repository.py
  lambdas/services/bulk_upload_report_service.py
  lambdas/services/data_collection_service.py
  lambdas/services/document_deletion_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/services/process_mns_message_service.py
  lambdas/services/statistical_report_service.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/handlers/test_pdf_stitching_handler.py
  lambdas/tests/unit/helpers/data/bulk_upload/dynamo_responses.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/helpers/data/statistic/mock_collected_data.py
  lambdas/tests/unit/helpers/data/statistic/mock_data_build_utils.py
  lambdas/tests/unit/helpers/data/statistic/mock_statistic_data.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_bulk_upload_report.py
  lambdas/tests/unit/models/test_bulk_upload_report_output.py
  lambdas/tests/unit/models/test_statistics_models.py
  lambdas/tests/unit/services/test_pdf_stitching_service.py
  lambdas/tests/unit/services/test_process_mns_message_service.py
  lambdas/tests/unit/services/test_statistical_report_service.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/decorators/validate_sqs_message_event.py
  lambdas/utils/lambda_exceptions.py
  lambdas/utils/utilities.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

rebase and refactor file structure
  lambdas/handlers/bulk_upload_handler.py
  lambdas/handlers/bulk_upload_metadata_handler.py
  lambdas/handlers/pdf_stitching_handler.py
  lambdas/models/sqs/pdf_stitcher_sqs_message.py
  lambdas/models/sqs/pdf_stitching_sqs_message.py
  lambdas/repositories/bulk_upload/bulk_upload_sqs_repository.py
  lambdas/services/bulk_upload_service.py
  lambdas/services/pdf_stitching_service.py
  lambdas/tests/unit/helpers/data/bulk_upload/test_data.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add lambda to workflow
  .github/workflows/base-lambdas-reusable-deploy-all.yml
Due: none

[PRMP-1559] add env var
  lambdas/handlers/delete_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1579] raise errors from the service
  lambdas/services/process_mns_message_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
