Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

PRMDR-679 added more tests
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add delay to intercept
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

add delays
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

feature flags tied in with the backend
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

added new api calling helper getFeatureFlags
  app/src/helpers/requests/getFeatureFlags.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

tests modifications to get the app into a buildable state
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

feature flags linting fixes
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

more eslint fixes
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/types/generic/endpoints.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

mesh forwarder squigly bracket removed for correction
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

further eslint fixes including a useMemo
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

further eslint values
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

flipped session dependncies vs flag dependencies
  app/src/App.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR - 679 - E2E tests for LG upload (#301)
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/upload_lloyd_george_is_bsol_gp_admin.cy.js
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/lloydGeorgeRecordError/LloydGeorgeRecordError.tsx
  app/src/components/blocks/lloydGeorgeUploadComplete/LloydGeorgeUploadComplete.tsx
  app/src/components/blocks/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

additional logging added for ui testing
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

feature flags hook up to api added on AuthCallback
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/types/generic/endpoints.ts
  app/src/types/generic/featureFlags.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add unique ci smoke workflow
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
  .github/workflows/ui-smoketest-ci.yml
Due: none

removed test to test build
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/helpers/requests/getFeatureFlags.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

test fixes to allow a successfull build
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove secrets from ui-smoketest
  .github/workflows/ui-smoketest.yml
Due: none

Fix usefeatureflagtest
  app/src/helpers/hooks/useFeatureFlags.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMDR 627 - Smoke test CI to Main (#300)
  .github/workflows/base-cypress-smoketest.yml
  .github/workflows/lambdas-dev-to-main-ci.yml
  .github/workflows/ui-dev-to-main-ci.yml
  .github/workflows/ui-smoketest-ci.yml
  .github/workflows/ui-smoketest.yml
  app/.env.template
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/download_lloyd_george_not_bsol_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

updated auth context for feature flag get
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add missing await
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add feature flags provider work
  app/src/App.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useConfig.test.tsx
  app/src/helpers/hooks/useConfig.tsx
  app/src/helpers/hooks/useFeatureFlags.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/configProvider/ConfigProvider.test.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Add authcallback tests to feature flags
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useConfig.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/providers/configProvider/ConfigProvider.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-699] add check of nems enabled flag when lambda is called
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] add enum
  lambdas/enums/feature_flags.py
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] add app config env vars decorator
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Fix feedback tests concurrency
  app/cypress/e2e/0-ndr-core-tests/feedback_page.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Task 711 - Hooked up feature flag api with UI (#302)
  app/src/App.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.test.tsx
  app/src/components/blocks/deleteDocumentsStage/DeleteDocumentsStage.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.test.tsx
  app/src/components/blocks/lloydGeorgeDownloadAllStage/LloydGeorgeDownloadAllStage.tsx
  app/src/components/blocks/testPanel/TestPanel.tsx
  app/src/helpers/hooks/useConfig.test.tsx
  app/src/helpers/hooks/useConfig.tsx
  app/src/helpers/hooks/useFeatureFlags.test.tsx
  app/src/helpers/hooks/useFeatureFlags.tsx
  app/src/helpers/requests/getFeatureFlags.ts
  app/src/pages/authCallbackPage/AuthCallbackPage.test.tsx
  app/src/pages/authCallbackPage/AuthCallbackPage.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.tsx
  app/src/providers/configProvider/ConfigProvider.test.tsx
  app/src/providers/configProvider/ConfigProvider.tsx
  app/src/providers/featureFlagsProvider/FeatureFlagsProvider.tsx
  app/src/types/generic/endpoints.ts
  app/src/types/generic/featureFlags.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-699] get enum value
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] add log
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] get value from object
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] refactor
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

LG validation helper
  app/src/components/blocks/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/helpers/utils/uploadDocumentValidation.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMDR-699] unit tests
  lambdas/tests/unit/handlers/test_process_nems_message.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] update cryptography package
  lambdas/requirements.txt
Due: none

[PRMDR-699] PR fix, merge env var decorators into one
  lambdas/handlers/nems_message_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMDR-699] remove string from enum params
  lambdas/enums/feature_flags.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
