Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

prmp-1287 add fhir response
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

begins to move in line css style to classes in App.scss
  app/src/components/blocks/_arf/completeStage/CompleteStage.tsx
  app/src/components/blocks/_arf/documentSearchResults/DocumentSearchResults.tsx
  app/src/components/blocks/_arf/documentSearchResultsOptions/DocumentSearchResultsOptions.tsx
  app/src/components/blocks/_arf/uploadSummary/UploadSummary.tsx
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1354] - Historic names take into account Usual names
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1353] - Read all files as UTF-8 encoded
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

removes number of files and size of files from within record card
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/view_lloyd_george_is_bsol_workflow.cy.js
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

adds number of files downloading back
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeDownloadStage/LloydGeorgeDownloadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

fixes tests
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnessecary import
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnessecary import
  app/src/pages/lloydGeorgeRecordPage/LloydGeorgeRecordPage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnessecary import
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

remove unnessecary import
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRecordDetails/LloydGeorgeRecordDetails.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1353] - Read all files as UTF-8 encoded (#484)
  lambdas/services/bulk_upload_metadata_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1354] - Historic names take into account Usual names (#483)
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1334] - Replace 'Crown copyright' to 'NHS England' in footer
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

update tests and lambda decorator
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/document_retention.py
  lambdas/enums/lambda_error.py
  lambdas/enums/s3_lifecycle_tags.py
  lambdas/handlers/delete_document_object_handler.py
  lambdas/handlers/delete_document_reference_handler.py
  lambdas/services/document_deletion_service.py
  lambdas/services/document_service.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_delete_document_object_handler.py
  lambdas/tests/unit/handlers/test_delete_document_reference_handler.py
  lambdas/tests/unit/handlers/test_document_reference_search_handler.py
  lambdas/tests/unit/handlers/test_lloyd_george_record_stitch_handler.py
  lambdas/tests/unit/helpers/data/dynamo/__init__.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_responses.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_scan_response.py
  lambdas/tests/unit/helpers/data/dynamo/dynamo_stream.py
  lambdas/tests/unit/helpers/data/test_documents.py
  lambdas/tests/unit/models/test_document_reference.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_bulk_upload_report_service.py
  lambdas/tests/unit/services/test_document_deletion_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/utils/test_dynamo_utils.py
  lambdas/utils/decorators/override_error_check.py
  lambdas/utils/decorators/validate_dynamo_stream_event.py
  lambdas/utils/dynamo_utils.py
  lambdas/utils/exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix tests path
  lambdas/tests/unit/utils/test_dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] error handling
  lambdas/enums/lambda_error.py
  lambdas/handlers/manage_nrl_pointer_handler.py
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/services/test_feature_flags_service.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
  lambdas/utils/error_response.py
  lambdas/utils/lambda_exceptions.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1334] - Hardcode text colour in NHSFooter.Copyright
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1360] add missing fields in NRL request
  lambdas/enums/snomed_codes.py
  lambdas/models/nrl_fhir_document_reference.py
  lambdas/models/nrl_sqs_message.py
  lambdas/services/document_deletion_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
  lambdas/tests/unit/services/test_document_deletion_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

add detail to log message
  lambdas/services/document_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/utils/test_dynamo_utils.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

adds fileSize to document reference
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
  app/src/helpers/test/testBuilders.ts
  app/src/types/generic/searchResult.ts
  lambdas/models/document_reference.py
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1360] fix typo
  lambdas/enums/snomed_codes.py
  lambdas/services/nrl_api_service.py
  lambdas/tests/unit/handlers/test_manage_nrl_pointer_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

1321
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/download_lloyd_george_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1292 - comment out as its breaking tests
  lambdas/models/document_reference.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1292 - ensure files table includes a file size information such as file size measure units
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

1041
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/backButton/BackButton.story.ts
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/components/generic/backButton/BackButton.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1292 - lower case size and fix test
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectSearchResults/LloydGeorgeSelectSearchResults.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

for pr
  app/README.md
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/generic/backButton/BackButton.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] add handler unit tests
  lambdas/handlers/nrl_get_document_reference_handler.py
  lambdas/models/nrl_document_search_request.py
  lambdas/tests/unit/conftest.py
  lambdas/tests/unit/handlers/test_nrl_get_document_reference_handler.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

pr update: eslint prettier
  app/README.md
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
  app/src/components/generic/backButton/BackButton.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1292] Updated Document Search to include file size in response as well as update tests
  lambdas/models/document_reference.py
  lambdas/services/document_reference_search_service.py
  lambdas/tests/unit/services/test_document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1330] - Add service-updates-link to footer
  app/src/components/generic/serviceUpdatesLink/ServiceUpdatesLink.test.tsx
  app/src/components/generic/serviceUpdatesLink/ServiceUpdatesLink.tsx
  app/src/components/layout/footer/Footer.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] add service unit test
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1292 fix unhandled error with invalid argument name
  lambdas/services/document_reference_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

PRMP-1240
  app/src/pages/patientSearchPage/PatientSearchPage.test.tsx
  app/src/pages/patientSearchPage/PatientSearchPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMP-1287] add service unit tests
  lambdas/services/nrl_get_document_reference_service.py
  lambdas/tests/unit/helpers/mock_response.py
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] change import
  lambdas/tests/unit/services/test_nrl_get_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1287] add logs for debugging edge lambda
  lambdas/handlers/edge_presign_handler.py
  lambdas/requirements/requirements_edge_lambda.txt
  lambdas/services/edge_presign_service.py
  lambdas/utils/error_response.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMP-1074] - Return to patient search if nhsNumber missing
  app/src/components/blocks/_lloydGeorge/lloydGeorgeSelectDownloadStage/LloydGeorgeSelectDownloadStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

PRMP-1237
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write

Path conditions:
  ./app/node_modules/prettier/bin/prettier.cjs --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md})
  ./app/node_modules/eslint/bin/eslint.js: any of: *.{js,ts,tsx}
  ./lambdas/venv/bin/python3 -m isort --profile black: any of: *.py
  ./lambdas/venv/bin/python3 -m black: any of: *.py
  ./lambdas/venv/bin/ruff check ./lambdas: any of: *.py
