Repository nhsconnect/national-document-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js, ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write",
    "./app/node_modules/eslint/bin/eslint.js"
    ],
  "*.{css,scss,md}": [
    "./app/node_modules/prettier/bin/prettier.cjs --write"
    ],
  "*.py": [
    "./lambdas/venv/bin/python3 -m isort --profile black",
    "./lambdas/venv/bin/python3 -m black",
    "./lambdas/venv/bin/ruff check ./lambdas"
  ]
}

Refactor DocumentUploadPage to integrate upload confirmation and improve document state management
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Remove redundant state update for document confirmation in DocumentUploadPage
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Merge in main
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Update call for constant in S3 Service
  lambdas/services/base/s3_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-125] Modify Upload Confirm to Document Status Lambda
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/document_status.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/document_status_check_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_service.py
  lambdas/services/get_document_upload_status.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_document_status_check_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_get_document_upload_status.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Removed unnecessary comma
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-331] - change NHS numbers for mocked smoke test
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-22] Uploading files - Build virus detected error page (#722)
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/router/AppRouter.tsx
  app/src/types/generic/routes.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-331] - change NHS numbers for mocked smoke test (#723)
  app/cypress/e2e/1-ndr-smoke-tests/gp_user_workflows/patient_search_and_verify_unhappy_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-541] - Add option to enable mock login on Pre-Prod
  .github/workflows/full-deploy-to-pre-prod.yml
Due: none

[PRMT-541] - Fix line ending
  .github/workflows/full-deploy-to-pre-prod.yml
Due: none

[PRME-20] [Order files] Build details & layout (#710)
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadLloydGeorgePreview/DocumentUploadLloydGeorgePreview.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-541] Add option to enable mock login on Pre-Prod (#725)
  .github/workflows/full-deploy-to-pre-prod.yml
Due: none

[PRM-429] remove webpack dependency
  app/package.json
Due: none

[PRME-17] Implement file selection error handling
  app/.eslintrc
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
  app/src/helpers/utils/validationHelpers.test.ts
  app/src/helpers/utils/validationHelpers.ts
  app/src/styles/App.scss
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Move ErrorBox
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-79] refactor and code cleanup
  lambdas/enums/lambda_error.py
  lambdas/services/authoriser_service.py
  lambdas/services/create_document_reference_service.py
  lambdas/services/token_handler_ssm_service.py
  lambdas/tests/unit/handlers/test_authoriser_handler.py
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
  lambdas/tests/unit/helpers/data/create_document_reference.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
  lambdas/tests/unit/services/test_token_handler_ssm_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/constants/ssm.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-79] remove token handler ssm service from cdr
  lambdas/services/create_document_reference_service.py
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-160] Add uploading files content to available records
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

revert lg filename validation & add feature flag deny policy
  lambdas/services/authoriser_service.py
  lambdas/services/patient_search_service.py
  lambdas/tests/unit/utils/test_lloyd_george_validator.py
  lambdas/utils/lloyd_george_validator.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

Refactor document ID handling to use a set for unique IDs
  lambdas/handlers/document_status_check_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

refactoring mock cdr service
  lambdas/tests/unit/handlers/test_create_document_reference_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix to unit tests
  lambdas/tests/unit/handlers/test_document_status_check_handler.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix validate_lg_files call
  lambdas/services/create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

fix cdr service tests
  lambdas/tests/unit/services/test_create_document_reference_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-17] Implement file selection error handling (#718)
  app/.eslintrc
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.test.tsx
  app/src/components/blocks/_documentUpload/documentSelectStage/DocumentSelectStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/layout/errorBox/ErrorBox.tsx
  app/src/helpers/utils/fileUploadErrorMessages.ts
  app/src/helpers/utils/uploadDocumentValidation.test.ts
  app/src/helpers/utils/uploadDocumentValidation.ts
  app/src/helpers/utils/validationHelpers.test.ts
  app/src/helpers/utils/validationHelpers.ts
  app/src/styles/App.scss
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-331] update smoke test workflow for Edge
  .github/workflows/base-cypress-smoketest.yml
Due: none

Refactor DocumentSelectOrderStage tests to use renderSut helper and improve import order
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.test.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

minor fix
  app/src/components/blocks/_documentUpload/documentSelectOrderStage/DocumentSelectOrderStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRMT-331] update smoke test workflow for Edge (#730)
  .github/workflows/base-cypress-smoketest.yml
Due: none

revent patient search error code
  lambdas/services/patient_search_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-546] - Return mock userid as string
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRMT-546] - Set userid to 12 digits long
  lambdas/services/mock_oidc_service.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-73] Implement document uploading page
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_general_browser_states.cy.js
  app/cypress/e2e/0-ndr-core-tests/auth_routes/auth_pcse_path_access.cy.js
  app/cypress/e2e/0-ndr-core-tests/feature_flag_workflows/arf_workflow.cy.js
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
  app/src/components/blocks/_arf/uploadingStage/UploadingStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadInfectedStage/DocumentUploadInfectedStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeFileInputStage/LloydGeorgeFileInputStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeRetryUploadStage/LloydGeorgeRetryUploadStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadCompleteStage/LloydGeorgeUploadCompleteStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadFailedStage/LloydGeorgeUploadFailedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadInfectedStage/LloydGeorgeUploadInfectedStage.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeUploadingStage/LloydGeorgeUploadingStage.tsx
  app/src/components/generic/progressBar/ProgressBar.tsx
  app/src/helpers/requests/uploadDocument.test.ts
  app/src/helpers/requests/uploadDocuments.ts
  app/src/helpers/test/testBuilders.ts
  app/src/helpers/utils/errorCodes.ts
  app/src/helpers/utils/errorToParams.ts
  app/src/helpers/utils/formatDate.ts
  app/src/helpers/utils/uploadDocumentHelpers.ts
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.test.tsx
  app/src/pages/lloydGeorgeUploadPage/LloydGeorgeUploadPage.tsx
  app/src/pages/patientResultPage/PatientResultPage.test.tsx
  app/src/pages/patientResultPage/PatientResultPage.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.test.tsx
  app/src/pages/uploadDocumentsPage/UploadDocumentsPage.tsx
  app/src/router/AppRouter.tsx
  app/src/styles/App.scss
  app/src/types/generic/endpoints.ts
  app/src/types/generic/routes.ts
  app/src/types/generic/uploadResult.ts
  app/src/types/pages/UploadDocumentsPage/types.ts
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-148] Implement upload complete page
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.test.tsx
  app/src/components/blocks/_documentUpload/documentUploadCompleteStage/DocumentUploadCompleteStage.tsx
  app/src/components/blocks/_documentUpload/documentUploadingStage/DocumentUploadingStage.tsx
  app/src/pages/documentUploadPage/DocumentUploadPage.tsx
  app/src/styles/App.scss
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

pr comments
  app/cypress/e2e/0-ndr-core-tests/gp_user_workflows/patient_search_and_verify_workflow.cy.js
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

[PRME-125] Modify Upload Confirm to Document Status Lambda (#724)
  .github/workflows/base-lambdas-reusable-deploy-all.yml
  lambdas/enums/document_status.py
  lambdas/enums/lambda_error.py
  lambdas/handlers/document_status_check_handler.py
  lambdas/handlers/upload_confirm_result_handler.py
  lambdas/services/authoriser_service.py
  lambdas/services/base/dynamo_service.py
  lambdas/services/document_service.py
  lambdas/services/get_document_upload_status.py
  lambdas/services/upload_confirm_result_service.py
  lambdas/tests/unit/handlers/test_document_status_check_handler.py
  lambdas/tests/unit/handlers/test_upload_confirm_result_handler.py
  lambdas/tests/unit/services/base/test_dynamo_service.py
  lambdas/tests/unit/services/test_authoriser_service.py
  lambdas/tests/unit/services/test_document_service.py
  lambdas/tests/unit/services/test_get_document_upload_status.py
  lambdas/tests/unit/services/test_upload_confirm_result_service.py
  lambdas/utils/decorators/validate_patient_id.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas

[PRME-160] Add uploading files content to available records (#727)
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.test.tsx
  app/src/components/blocks/_lloydGeorge/lloydGeorgeViewRecordStage/LloydGeorgeViewRecordStage.tsx
Due: ./app/node_modules/prettier/bin/prettier.cjs --write, ./app/node_modules/eslint/bin/eslint.js

Fix merge issue
  lambdas/enums/lambda_error.py
Due: ./lambdas/venv/bin/python3 -m isort --profile black, ./lambdas/venv/bin/python3 -m black, ./lambdas/venv/bin/ruff check ./lambdas
